<template>
    <div>
        <VclBulletList :rows="1" v-if="isLoading"></VclBulletList>
        
        <form v-else @submit.prevent="editmode ? update() : create()">
            <div class="form-group">
                <label for="titulo" class="control-label">'Titulo'</label>
                <input
                v-model="form.titulo"
                v-bind:readonly="is_readonly"
                type="text"
                name="titulo"
                placeholder="titulo"
                class="form-control"
                :class="{ 'is-invalid': form.errors.has('titulo') }"
            />
                <has-error :form="form" field="titulo"></has-error>
            </div>
            <div class="form-group">
                <label for="quem_pertence" class="control-label">'Quem Pertence'</label>
                <input
                v-model="form.quem_pertence"
                v-bind:readonly="is_readonly"
                type="text"
                name="quem_pertence"
                placeholder="quem_pertence"
                class="form-control"
                :class="{ 'is-invalid': form.errors.has('quem_pertence') }"
            />
                <has-error :form="form" field="quem_pertence"></has-error>
            </div>
            <div class="form-group">
                <label for="chave_ordem" class="control-label">'Chave Ordem'</label>
                <input
                v-model="form.chave_ordem"
                v-bind:readonly="is_readonly"
                type="text"
                name="chave_ordem"
                placeholder="chave_ordem"
                class="form-control"
                :class="{ 'is-invalid': form.errors.has('chave_ordem') }"
            />
                <has-error :form="form" field="chave_ordem"></has-error>
            </div>
            <div class="form-group">
                <label for="ordem_exibicao" class="control-label">'Ordem Exibicao'</label>
                <input class="form-control" name="ordem_exibicao" type="number" id="ordem_exibicao">
            </div>
            <div class="form-group">
                <label for="avo" class="control-label">'Avo'</label>
                <input
                v-model="form.avo"
                v-bind:readonly="is_readonly"
                type="text"
                name="avo"
                placeholder="avo"
                class="form-control"
                :class="{ 'is-invalid': form.errors.has('avo') }"
            />
                <has-error :form="form" field="avo"></has-error>
            </div>
     
            <div class="form-group">
                <label for="descricao" class="control-label">'Descricao'</label>
                <input
                v-model="form.descricao"
                v-bind:readonly="is_readonly"
                type="text"
                name="descricao"
                placeholder="descricao"
                class="form-control"
                :class="{ 'is-invalid': form.errors.has('descricao') }"
            />
                <has-error :form="form" field="descricao"></has-error>
            </div>
            <div class="form-group">
                <label for="pai" class="control-label">'Pai'</label>
                <input class="form-control" name="pai" type="number" id="pai">
            </div>
   


            <div class="modal-footer">
                <router-link to="/admin/permissoes" class="btn btn-primary btn-neutral">Voltar</router-link>
                <template v-if="!is_readonly">
                    <button v-show="!editmode" type="submit" class="btn btn-primary">Salvar</button>
                    <button v-show="editmode" type="submit" class="btn btn-primary">Editar</button>
                </template>
            </div>
        </form>
    </div>
</template>

<script>
    import crud from '@components/crud'
    import { VclBulletList } from 'vue-content-loading';

    export default {
        props: {
            is_readonly: Boolean,
            loading: Boolean
        },

        components: {
            VclBulletList
        },

        data() {
            return {
                isLoading: this.loading,
                editmode: this.$route.params.id ? true : false,
                permissoes : {},
                form: new Form({
                    id: '',

                }),
                search: ''
            }
        },

        methods: {
            getData(){
                this.isLoading = true
                this.form.reset()
                axios.get(`/api/permissoes/${this.$route.params.id}`)
                .then(({data}) => {
                    (this.form.fill(data))
                    this.isLoading = false
                })
                .catch((err) => {
                    this.isLoading = false
                    toast({
                        type: 'error',
                        title: 'Algo de errado aconteceu, por favor entre em contato com o suporte!'
                    })

                    console.log(err)
                })
            },

            create(){
                crud.create(this, 'permissoes')
            },

            update(){
                crud.update(this, 'permissoes')
            }
        },
        created() {
            if(this.editmode) {
                this.getData()
            }
        }
    }
</script>
