<template>
    <div>
        <VclBulletList :rows="1" v-if="isLoading"></VclBulletList>
        
        <form v-else @submit.prevent="editmode ? update() : create()">
            <div class="form-group">
                <label for="users_id" class="control-label">Usuário</label>
                <input
                v-model="form.users_id"
                v-bind:readonly="is_readonly"
                type="text"
                name="users_id"
                placeholder="users_id"
                class="form-control"
                :class="{ 'is-invalid': form.errors.has('users_id') }"
            />
                <has-error :form="form" field="users_id"></has-error>
            </div>

            <div class="form-group">
                <label for="tabela" class="control-label">Tabela</label>
                <input
                v-model="form.tabela"
                v-bind:readonly="is_readonly"
                type="text"
                name="tabela"
                placeholder="tabela"
                class="form-control"
                :class="{ 'is-invalid': form.errors.has('tabela') }"
            />
                <has-error :form="form" field="tabela"></has-error>
            </div>
            <div class="form-group">
                <label for="tabela_id" class="control-label">Tabela</label>
                <input
                v-model="form.tabela_id"
                v-bind:readonly="is_readonly"
                type="text"
                name="tabela_id"
                placeholder="tabela_id"
                class="form-control"
                :class="{ 'is-invalid': form.errors.has('tabela_id') }"
            />
                <has-error :form="form" field="tabela_id"></has-error>
            </div>
                
            <div class="form-group">
                <label for="atividade" class="control-label">Atividade</label>
                <input
                v-model="form.atividade"
                v-bind:readonly="is_readonly"
                type="text"
                name="atividade"
                placeholder="atividade"
                class="form-control"
                :class="{ 'is-invalid': form.errors.has('atividade') }"
            />
                <has-error :form="form" field="atividade"></has-error>
            </div>


            <div class="modal-footer">
                <router-link to="/logs" class="btn btn-primary btn-neutral">Voltar</router-link>
                <template v-if="!is_readonly">
                    <button v-show="!editmode" type="submit" class="btn btn-primary">Salvar</button>
                    <button v-show="editmode" type="submit" class="btn btn-primary">Editar</button>
                </template>
            </div>
        </form>
    </div>
</template>

<script>
    import crud from '@components/crud'
    import { VclBulletList } from 'vue-content-loading';

    export default {
        props: {
            is_readonly: Boolean,
            loading: Boolean
        },

        components: {
            VclBulletList
        },

        data() {
            return {
                isLoading: this.loading,
                editmode: this.$route.params.id ? true : false,
                logs : {},
                form: new Form({
                    id: '',
                    users_id: '',
                    tabela: '',
                    tabela_id: '',
                    atividade: '',

                }),
                search: ''
            }
        },

        methods: {
            getData(){
                this.isLoading = true
                this.form.reset()
                axios.get(`/api/logs/${this.$route.params.id}`)
                .then(({data}) => {
                    (this.form.fill(data))
                    this.isLoading = false
                })
                .catch((err) => {
                    this.isLoading = false
                    toast({
                        type: 'error',
                        title: 'Algo de errado aconteceu, por favor entre em contato com o suporte!'
                    })

                    console.log(err)
                })

                this.isLoading = false
            },

            create(){
                crud.create(this, 'logs')
            },

            update(){
                crud.update(this, 'logs')
            }
        },
        created() {
            if(this.editmode) {
                this.getData()
            }
        }
    }
</script>
