<template>
<div>
    <not-found v-if="!$gate.isMaster()"></not-found>
    <template v-else>
        <BreadcrumbsComponent principal="Logs"/>

        <div class="container-fluid mt--6">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header">Logs</div>
                        <!-- /.card-header -->
                        <div class="card-body">

                            <!-- <router-link to="/logs/create" class="btn btn-success btn-sm"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar </router-link> -->

                            <div class="form-inline my-2 my-lg-0 float-right">
                                <div class="input-group">
                                    <input class="form-control" @keyup="searchit" v-model="search" type="search" placeholder="Buscar..." aria-label="Search">
                                    <span class="input-group-append">
                                        <button class="btn btn-info btn-icon" @click="searchit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="table-responsive">
                                <table class="table">
                                    <VclTable v-if="loading" :columns="6" :rows="5"></VclTable>
                                    <tbody v-else>
                                    <tr>
                                        <th>#</th>
                                        <th>Colaborador</th>
                                        <th>Empresa</th>
                                        <th>Setor</th>
                                        <th>Ação</th>
                                        <th>Data</th>
                                        <th>Ferramentas</th>
                                    </tr>
                                    <tr v-for="(item, index) in logs.data" :key="item.id">
                                        <td>{{ index + 1 }}</td>
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.empresas_name }}</td>
                                        <td>{{ item.setores_name }}</td>
                                        <td>{{ item.atividade }}</td>
                                        <td>{{ item.created_at | myDate }}</td>
                                        <td>
                                            <router-link v-bind:to="{ path: '/logs/' + item.id }" title="Editar Post"><button class="btn btn-info btn-sm"><i class="fas fa-eye" aria-hidden="true"></i></button></router-link>
                                            <router-link v-if="$gate.isMaster()" v-bind:to="{ path: '/logs/' + item.id + '/edit' }" title="Editar Post"><button class="btn btn-primary btn-sm"><i class="fas fa-edit" aria-hidden="true"></i></button></router-link>

                                            <button v-if="$gate.isMaster()" class="btn btn-danger btn-sm" @click="destroy(item.id, item.name)"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <pagination :data="logs" @pagination-change-page="pagination"></pagination>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </template>
</div>
</template>

<script>
    import BreadcrumbsComponent from '../../../components/menus/headers/BreadcrumbsComponent'
    import crud from '@components/crud'
    import { VclTable } from 'vue-content-loading';

    export default {
        components: {
            BreadcrumbsComponent, VclTable
        },

        data(){
            return {
                loading: true,
                editmode: false,
                logs : {},
                form: new Form({
                    id: '',
                    users_id: '',
                    tabela: '',
                    tabela_id: '',
                    tabela_id: '',
                    atividade: '',
                    setor: '',
                    empresa: '',
                    name: '',
                    created_at: '',

                }),
                search: ''
            }
        },

        methods: {
            searchit: _.debounce(() => {
                Fire.$emit('searching');
            },1000),

            pagination(page = 1){
                this.loading = true
                axios.get(`/api/logs?page=${page}`)
				.then(response => {
					this.logs = response.data;
                    this.loading = false
				});
            },

            destroy(id, name){
                crud.delete(id, this, 'logs')
            },

            load(){
                axios.get('/api/logs').then(({ data}) => {
                    if(data == 0) {
                        this.$router.go(-1)
                    }
                    console.log(data.data);
                    (this.logs = data)
                    this.loading = false
                });
            },

        },
        created() {
            Fire.$on('searching', () => {
                let query = this.search;
                axios.get(`api/logs/findLogs?q=${query}`)
                    .then((data) => {
                      this.logs = data.data
                    });
            });

            this.load()

            Fire.$on('AfterCreate', () => {
                this.load()
            });

        }
    }
</script>
