<template>
  <div>
    <not-found v-if="!$gate.isPontoVisualizar()"></not-found>
    <template v-else>
      <BreadcrumbsComponent principal="Import" />

      <div class="container-fluid mt--6">
        <div class="row">
          <div class="col-xl-12">
            <div class="card">
              <div class="card-header">
                <h4>Importar arquivo AFD/AFDT</h4>
                <p>Insere as marcações coletadas de um relógio de ponto</p>

                <form @submit.prevent="enviaFiles" enctype="multipart/form-data">
                  <div class="row shadow-lg p-3 mb-5 rounded" style="background-color: lightgray;">
                    <div class="col-3">
                      <label for="one">Arquivo</label>
                      <input type="radio" id="one" value="afd" v-model="form.afdOUafdt" />
                      <label for="one">AFD</label>
                      <input type="radio" id="two" value="afdt" v-model="form.afdOUafdt" />
                      <label for="two">AFDT</label>
                      <br />
                      <input ref="file" @change="onSelect" type="file" />
                    </div>

                    <div class="col-1"></div>

                    <div class="col-6">
                      <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <label for="created_at" class="control-label">Início</label>
                            <br />
                            <datetime value-zone="local" zone="local" type="date" v-model="form.inicio" format="dd/MM/yyyy"></datetime>
                          </div>
                        </div>

                        <div class="col-6">
                          <div class="form-group">
                            <label for="created_at" class="control-label">Fim</label>
                            <br />
                            <datetime value-zone="local" zone="local" type="date" v-model="form.fim" format="dd/MM/yyyy"></datetime>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-2">
                      <button type="submit" class="btn btn-primary">Importar</button>
                    </div>

                    <!-- <button
                      v-show="visualizarImports"
                      class="btn btn-success"
                      type="button"
                      data-toggle="modal"
                      data-target=".bd-baterponto-modal-lg"
                    >
                      <i class="ni ni-bold-right"></i>&nbsp;Visualizar Imports
                    </button> -->
                  </div>
                </form>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="form-inline my-2 my-lg-0 float-right">
                  <div class="input-group">
                    <input
                      class="form-control"
                      @keyup="searchit"
                      v-model="search"
                      type="search"
                      placeholder="Buscar..."
                      aria-label="Search"
                    />
                    <span class="input-group-append">
                      <button class="btn btn-info btn-icon" @click="searchit">
                        <i class="fa fa-search"></i>
                      </button>
                    </span>
                  </div>
                </div>
                <br />
                <br />

                <h2 v-if="importafdt.data < 1">Nenhum Registro</h2>
                <div v-else class="table-responsive">
                  <table class="table">
                    <VclTable v-if="loading" :columns="6" :rows="5"></VclTable>
                    <tbody v-else>
                      <tr>
                        <th>#</th>
                        <th>Arquivo</th>
                        <th>Data</th>
                        <th>Ferramentas</th>
                      </tr>
                      <tr v-for="(item, index) in importafdt.data" :key="item.id">
                        <td>{{ index + 1 }}</td>
                        <td>
                          {{
                          item.name.split("0").join("")
                          .split("1").join("")
                          .split("2").join("")
                          .split("3").join("")
                          .split("4").join("")
                          .split("5").join("")
                          .split("6").join("")
                          .split("7").join("")
                          .split("8").join("")
                          .split("9").join("")
                          }}
                        </td>
                        <td>{{ item.created_at | myDate }}</td>

                        <td>
                          <!-- <router-link v-bind:to="{ path: '/admin/controledeponto/importafdt/' + item.id }" title="Editar Post"><button class="btn btn-info btn-sm"><i class="fas fa-eye" aria-hidden="true"></i></button></router-link> -->
                          <!-- <router-link v-bind:to="{ path: '/admin/controledeponto/importafdt/' + item.id + '/edit' }" title="Editar Post"><button class="btn btn-primary btn-sm"><i class="fas fa-edit" aria-hidden="true"></i></button></router-link> -->

                          <button v-if="$gate.isAdmin()" class="btn btn-danger btn-sm" @click="destroy(item.num_para_reverter_import, item.name)"><i class="fa fa-trash">Reverter</i></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <pagination :data="importafdt" @pagination-change-page="pagination"></pagination>
              </div>
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </template>

    <!-- MODAL IMPORTS -->
    <div
      class="modal fade bd-baterponto-modal-lg"
      id="idmodal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myLargeModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myLargeModalLabel"></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>

          <div class="modal-body">
            <div class="row">
              <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="card card-pricing bg-gradient-success border-0 text-center mb-4">
                  <div class="card-header bg-transparent">
                    <h4 class="text-uppercase ls-1 text-white py-3 mb-0">Importados</h4>
                  </div>
                  <div class="card-body px-lg-7">
                    <div class="display-2 text-white">$49</div>
                    <span class="text-white">per application</span>
                    <ul class="list-unstyled my-4">
                      <li>
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="icon icon-xs icon-shape bg-white shadow rounded-circle">
                              <i class="fas fa-terminal"></i>
                            </div>
                          </div>
                          <div>
                            <span class="pl-2 text-sm text-white">Complete documentation</span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="icon icon-xs icon-shape bg-white shadow rounded-circle">
                              <i class="fas fa-pen-fancy"></i>
                            </div>
                          </div>
                          <div>
                            <span class="pl-2 text-sm text-white">Working materials in Sketch</span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="icon icon-xs icon-shape bg-white shadow rounded-circle">
                              <i class="fas fa-hdd"></i>
                            </div>
                          </div>
                          <div>
                            <span class="pl-2 text-sm text-white">2GB cloud storage</span>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <button type="button" class="btn btn-primary mb-3">Start free trial</button>
                  </div>
                  <div class="card-footer bg-transparent">
                    <a href="#!" class="text-white">Request a demo</a>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="card card-pricing bg-gradient-warning border-0 text-center mb-4">
                  <div class="card-header bg-transparent">
                    <h4
                      class="text-uppercase ls-1 text-white py-3 mb-0"
                    >PIS não encontrados no sistema</h4>
                  </div>
                  <div class="card-body px-lg-7">
                    <div class="display-2 text-white">$49</div>
                    <span class="text-white">per application</span>
                    <ul class="list-unstyled my-4">
                      <li>
                        <div class="d-flex align-items-start">
                          <div>
                            <div class="icon icon-xs icon-shape bg-white shadow rounded-circle">
                              <i class="fas fa-terminal"></i>
                            </div>
                          </div>
                          <div>
                            <span class="pl-2 text-sm text-white">Complete documentation</span>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <!-- <button type="button" class="btn btn-primary mb-3">Start free trial</button> -->
                  </div>
                  <!-- <div class="card-footer bg-transparent">
                    <a href="#!" class="text-white">Request a demo</a>
                  </div> -->
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <!-- <button type="submit" class="btn btn-primary">Registrar Ponto</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BreadcrumbsComponent from "@components/menus/headers/BreadcrumbsComponent";
import crud from "@components/crud";
import { VclTable } from "vue-content-loading";

export default {
  components: {
    BreadcrumbsComponent,
    VclTable
  },

  data() {
    return {
      loading: true,
      editmode: false,
      visualizarImports: true,
      importafdt: {},
      importsNaoImports: [],
      file: "",
      form: new Form({
        afdOUafdt: "afd",
        inicio: '',
        fim: '',
      }),
      search: ""
    };
  },

  methods: {
    onSelect() {
      const file = this.$refs.file.files[0];
      this.file = file;
    },

    async enviaFiles() {
      let loader = this.$loading.show({
        // Optional parameters
        container: null,
        canCancel: false,
        onCancel: this.onCancel
      });

      const formData = new FormData();
      formData.append("file", this.file);
      formData.append("inicio", this.form.inicio);
      formData.append("fim", this.form.fim);

      try {
        await axios.post("/api/importafdt", formData).then(res => {
          console.log(res.data, "aaaaa");
          this.importsNaoImports = res.data;
          loader.hide();

          toast({
            type: "success",
            title: "Sucesso!"
          });

          Fire.$emit("AfterCreate");
          this.visualizarImports = true;
        });
      } catch (error) {
        Fire.$emit("AfterCreate");
        loader.hide();

        toast({
          type: "Error",
          title: "Este arquivo já foi importado no sistema!"
        });
      }
      loader.hide();
    },

    searchit: _.debounce(() => {
      Fire.$emit("searching");
    }, 1000),

    pagination(page = 1) {
      this.loading = true;
      axios.get(`/api/findImport?page=${page}`).then(response => {
        this.importafdt = response.data;
        this.loading = false;
      });
    },

    destroy(id, name) {
      crud.delete(id, this, "importafdt");
    },

    load() {
      axios.get("/api/importafdt").then(({ data }) => {
        console.log(data, 11);
        this.importafdt = data;
        this.loading = false;
      });
    }
  },
  created() {
    Fire.$on("searching", () => {
      this.form.created_at = moment(this.form.created_at).format("YYYY-MM-DD");
      let query = this.search;
      axios.get(`/api/importafdt/findImport?q=${query}`).then(data => {
        this.importafdt = data.data;
      });
    });

    this.load();

    Fire.$on("AfterCreate", () => {
      this.load();
    });
  }
};
</script>
