<template>
    <div @mouseover="initScroll">
        <VclBulletList :rows="1" v-if="isLoading"></VclBulletList>
        
        <!-- <form v-else @submit.prevent="editmode ? update() : create()">
            <div class="form-group">
                <label for="mensagem" class="control-label">Mensagem</label>
                <textarea 
                v-model="form.mensagem"
                rows="5" name="mensagem" 
                type="textarea" 
                v-bind:readonly="is_readonly"
                placeholder="mensagem"
                class="form-control" 
                :class="{ 'is-invalid': form.errors.has('mensagem') }"
            ></textarea>
            <has-error :form="form" field="mensagem"></has-error>

            </div> 


            <div class="modal-footer">
                <router-link to="/colaboradorchat" class="btn btn-primary btn-neutral">Voltar</router-link>
                <template v-if="!is_readonly">
                    <button v-show="!editmode" type="submit" class="btn btn-primary">Salvar</button>
                    <button v-show="editmode" type="submit" class="btn btn-primary">Editar</button>
                </template>
            </div>
        </form> -->
        
        <div v-else class="container-fluid h-100">
            <div class="row justify-content-center h-100">
                <div class="col-md-12 col-xl-12 chat">
                    <div class="card">
                        <div class="card-header msg_head" >
                            <div class="d-flex bd-highlight">
                                <div class="img_cont" >
                                    <img :src="'/img/profile/profile.png'" class="rounded-circle user_img">
                                    <!-- <span class="online_icon"></span> -->
                                </div>
                                <div class="user_info">
                                    <span>Colaborador: {{ nameColaborador }}</span>
                                </div>
                                <div class="video_cam">
                                    <!-- <span><i class="fas fa-video"></i></span>
                                    <span><i class="fas fa-phone"></i></span> -->
                                </div>
                            </div>
                            <!-- <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span> -->
                            <div class="action_menu">
                                <ul>
                                    <li><i class="fas fa-user-circle"></i> View profile</li>
                                    <li><i class="fas fa-users"></i> Add to close friends</li>
                                    <li><i class="fas fa-plus"></i> Add to group</li>
                                    <li><i class="fas fa-ban"></i> Block</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body msg_card_body" id="container">
                            <span v-for="(item, index) in items" :key="index">
                                <div v-if="item.colaborador_ou_suporte == 'suporte'" class="d-flex justify-content-end mb-4">
                                    <div class="msg_cotainer">
                                        {{item.mensagem}}
                                        <span class="msg_time">{{item.created_at | myDate}}</span>
                                    </div>
                                    <div class="img_cont_msg">
                                        <img :src="'/public/img/profile/suporte.png'" class="rounded-circle user_img_msg">
                                    </div>
                                </div>

                                <div v-else class="d-flex justify-content-start mb-4">
                                    <div class="img_cont_msg">
                                        <img :src="'/img/profile/profile.png'" class="rounded-circle user_img_msg">
                                    </div>
                                    <div class="msg_cotainer_send">
                                        {{item.mensagem}}
                                        <span class="msg_time_send">{{item.created_at | myDate}}</span>
                                    </div>
                                </div>
                            </span>
                            
                            
                        </div>
                        <div class="card-footer footercolor" v-if="!is_readonly">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <!-- <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span> -->
                                </div>
                                <textarea v-model="form.mensagem" name="" class="form-control type_msg" placeholder="digite sua mensagem"></textarea>
                                <div class="input-group-append">
                                    <span @click="create()" class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</template>

<script>
    import crud from '@components/crud'
    import { VclBulletList } from 'vue-content-loading';

    export default {
        props: {
            is_readonly: Boolean,
            loading: Boolean
        },

        components: {
            VclBulletList
        },

        data() {
            return {
                items: [],
                permiteScrollAutomaticoUmaUnicaVez: 0,
                nameColaborador: '',
                isLoading: this.loading,
                editmode: this.$route.params.id ? true : false,
                form: new Form({
                    id: this.$route.params.id,
                    mensagem: '',
                    users: user

                }),
                search: '',
            }
        },

        methods: {
            getData(){
                this.isLoading = true
                this.form.reset()
                axios.get(`/api/chats/${this.$route.params.id}`)
                .then(({data}) => {
                    this.form.id = this.$route.params.id
                    this.isLoading = false

                    this.items = []
                    this.nameColaborador = data.nameColaborador

                    for(var i = 0; i < data.chat.length; i++) {
                        this.items.push({
                            "colaborador_ou_suporte": data.chat[i].colaborador_ou_suporte, 
                            "mensagem": data.chat[i].mensagem, 
                            "created_at": data.chat[i].created_at
                        });
                    } 
                })
                .catch((err) => {
                    this.isLoading = false
                    toast({
                        type: 'error',
                        title: 'Algo de errado aconteceu, por favor entre em contato com o suporte!'
                    })

                    console.log(err)
                })
            },
			
			getDataRefresh(){
                // this.isLoading = true
                this.form.reset()
                axios.get(`/api/chats/${this.$route.params.id}`)
                .then(data => {
                    this.form.id = this.$route.params.id
                    this.isLoading = false

                    console.log(data.data, 22222);

                    this.items = []

                    for(var i = 0; i < data.data.length; i++) {
                        this.items.push({
                            "colaborador_ou_suporte": data.data[i].colaborador_ou_suporte, 
                            "mensagem": data.data[i].mensagem, 
                            "created_at": data.data[i].created_at
                        });
                    } 
                })
                .catch((err) => {
                    this.isLoading = false
                    toast({
                        type: 'error',
                        title: 'Algo de errado aconteceu, por favor entre em contato com o suporte!'
                    })

                    console.log(err)
                })
            },


            create(){
                // let loader = this.$loading.show({
                //     // Optional parameters
                //     container: null,
                //     canCancel: false,
                //     onCancel: this.onCancel,
                // });

                this.form.post(`/api/chats`)
                    .then(data =>{
                        console.log(data.data, 2);
                        this.form.id = data.data.chats_id
                        
                        this.items.push({
                            "colaborador_ou_suporte": 'suporte', 
                            "mensagem": data.data.mensagem, 
                            "created_at": data.data.created_at
                        });

                        this.form.mensagem = ''
                        
                        this.scrollToEnd();
                        
                        //this.form.reset()
                        //this.$router.go(-1)

                        Fire.$emit('AfterCreate')

                        // loader.hide()

                        toast({
                            type: 'success',
                            title: 'Sucesso!'
                        })
                    })
                    .catch((err) => {
                        // loader.hide()

                        toast({
                            type: 'error',
                            title: 'Algo de errado aconteceu, verifique os campos e tente novamente!'
                        })

                        console.log(err)
                    })
            },

            update(){
                crud.update(this, 'chat')
            },

            
            initScroll: function() {  
                if (this.permiteScrollAutomaticoUmaUnicaVez == 1)
                    return true;

                this.scrollToEnd()

                this.permiteScrollAutomaticoUmaUnicaVez = 1
            },

            scrollToEnd() {
                var container = this.$el.querySelector("#container");
                container.scrollTop = container.scrollHeight;
            }
        },
        
        created() {
            // Echo.private(`message-received.${this.form.users.id}`)
            //     .listen('SendMessage', (event) => {
            //         console.log(event, 'sss')
            //         this.items.push({
            //             "colaborador_ou_suporte": 'colaborador',
            //             "mensagem": event.mensagem, 
            //             "created_at": event.created_at
            //         });
                    
            //     })

            this.getData()

            setInterval(() => this.getDataRefresh(), 50000)
        }
    }
</script>

<style scoped>
	.body{
			height: 100%;
			margin: 0;
			background: #7F7FD5;
	       background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
	        background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
		}

		.chat{
			margin-top: auto;
			margin-bottom: auto;
		}
		.card{
			height: 700px;
			border-radius: 15px !important;
			background-color: rgba(0,0,0,0.4) !important;
		}
		.contacts_body{
			padding:  0.75rem 0 !important;
			overflow-y: auto;
			white-space: nowrap;
		}
		.msg_card_body{
			overflow-y: auto;
		}
		.card-header{
			border-radius: 15px 15px 0 0 !important;
			border-bottom: 0 !important;
		}
	 .card-footer{
		border-radius: 0 0 15px 15px !important;
			border-top: 0 !important;
	}
    .footercolor{
        background-color: lightblue;
    }
		.container{
			align-content: center;
		}
		.search{
			border-radius: 15px 0 0 15px !important;
			background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color:white !important;
		}
		.search:focus{
		     box-shadow:none !important;
           outline:0px !important;
		}
		.type_msg{
			background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
            font-size: 16px;
			color:white !important;
			height: 100px !important;
			overflow-y: auto;
		}
			.type_msg:focus{
		     box-shadow:none !important;
           outline:0px !important;
		}
		.attach_btn{
	border-radius: 15px 0 0 15px !important;
	background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color: white !important;
			cursor: pointer;
		}
		.send_btn{
	border-radius: 0 15px 15px 0 !important;
	background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color: white !important;
			cursor: pointer;
		}
		.search_btn{
			border-radius: 0 15px 15px 0 !important;
			background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color: white !important;
			cursor: pointer;
		}
		.contacts{
			list-style: none;
			padding: 0;
		}
		.contacts li{
			width: 100% !important;
			padding: 5px 10px;
			margin-bottom: 15px !important;
		}
	.active{
			background-color: rgba(0,0,0,0.3);
	}
		.user_img{
			height: 70px;
			width: 70px;
			border:1.5px solid #f5f6fa;
		
		}
		.user_img_msg{
			height: 40px;
			width: 40px;
			border:1.5px solid #f5f6fa;
		
		}
	.img_cont{
			position: relative;
			height: 70px;
			width: 70px;
	}
	.img_cont_msg{
			height: 40px;
			width: 40px;
	}
	.online_icon{
		position: absolute;
		height: 15px;
		width:15px;
		background-color: #4cd137;
		border-radius: 50%;
		bottom: 0.2em;
		right: 0.4em;
		border:1.5px solid white;
	}
	.offline{
		background-color: #c23616 !important;
	}
	.user_info{
		margin-top: auto;
		margin-bottom: auto;
		margin-left: 15px;
	}
	.user_info span{
		font-size: 20px;
		color: white;
	}
	.user_info p{
	font-size: 10px;
	color: rgba(255,255,255,0.6);
	}
	.video_cam{
		margin-left: 50px;
		margin-top: 5px;
	}
	.video_cam span{
		color: white;
		font-size: 20px;
		cursor: pointer;
		margin-right: 20px;
	}
	.msg_cotainer{
		margin-top: auto;
		margin-bottom: auto;
		margin-left: 10px;
		border-radius: 25px;
		background-color: #82ccdd;
		padding: 10px;
		position: relative;
	}
	.msg_cotainer_send{
		margin-top: auto;
		margin-bottom: auto;
		margin-right: 10px;
		border-radius: 25px;
		background-color: #78e08f;
		padding: 10px;
		position: relative;
	}
	.msg_time{
		position: absolute;
		left: 0;
		bottom: -15px;
		color: rgba(255,255,255,0.5);
		font-size: 10px;
	}
	.msg_time_send{
		position: absolute;
		right:0;
		bottom: -15px;
		color: rgba(255,255,255,0.5);
		font-size: 10px;
	}
	.msg_head{
		position: relative;
        background-color: lightblue;
	}
	#action_menu_btn{
		position: absolute;
		right: 10px;
		top: 10px;
		color: white;
		cursor: pointer;
		font-size: 20px;
	}
	.action_menu{
		z-index: 1;
		position: absolute;
		padding: 15px 0;
		background-color: rgba(0,0,0,0.5);
		color: white;
		border-radius: 15px;
		top: 30px;
		right: 15px;
		display: none;
	}
	.action_menu ul{
		list-style: none;
		padding: 0;
	margin: 0;
	}
	.action_menu ul li{
		width: 100%;
		padding: 10px 15px;
		margin-bottom: 5px;
	}
	.action_menu ul li i{
		padding-right: 10px;
	
	}
	.action_menu ul li:hover{
		cursor: pointer;
		background-color: rgba(0,0,0,0.2);
	}
	@media(max-width: 576px){
	.contacts_card{
		margin-bottom: 15px !important;
	}
	}
</style>