<template>
    <div>
        <not-found v-if="!$gate.isChatVisualizar()"></not-found>
        <template v-else>
            <BreadcrumbsComponent principal="Chat"/>

            <div class="container-fluid mt--6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">Chat</div>
                            <!-- /.card-header -->
                            <div class="card-body">

                                <!-- <router-link v-if="$gate.isChatAdicionar()" to="/chat/create" class="btn btn-success btn-sm"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar </router-link> -->

                                <div class="form-inline my-2 my-lg-0 float-right">
                                    <div class="input-group">
                                        <input class="form-control" @keyup="searchit" v-model="search" type="search" placeholder="Buscar..." aria-label="Search">
                                        <span class="input-group-append">
                                            <button class="btn btn-info btn-icon" @click="searchit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <br>
                                <br>

                                <h2 v-if="chat.data < 1">Nenhuma mensagem</h2>
                                <div v-else class="table-responsive">
                                    <table class="table">
                                        <VclTable v-if="loading" :columns="6" :rows="5"></VclTable>
                                        <tbody v-else>
                                        <tr>
                                            <th>#</th>
                                            <th v-if="$gate.isMaster()">Empresas</th>
                                            <th>Colaborador</th>
                                            <th>Setor</th>
                                            <th>Cargo</th>
                                            <th>Ferramentas</th>
                                        </tr>
                                        <tr v-for="(item, index) in chat.data" :key="item.id">
                                            <td>{{ index + 1 }}</td>
                                            <th v-if="$gate.isMaster()">{{ item.empresas_name }}</th>
                                            <td>{{ item.name }}</td>
                                            <td>{{ item.setor }}</td>
                                            <td>{{ item.cargo }}</td>
                                            <td>
                                                <router-link v-if="$gate.isChatVisualizar()" v-bind:to="{ path: '/chat/' + item.id }" title="Editar Post"><button class="btn btn-info btn-sm"><i class="fas fa-eye" aria-hidden="true"></i></button></router-link>
                                                <router-link v-if="$gate.isChatEditar()" v-bind:to="{ path: '/chat/' + item.id + '/edit' }" title="Editar Post"><button class="btn btn-primary btn-sm"><i class="fas fa-edit" aria-hidden="true"></i></button></router-link>

                                                <!-- <button v-if="$gate.isChatDeletar()" class="btn btn-danger btn-sm" @click="destroy(item.id, item.name)"><i class="fa fa-trash"></i></button> -->
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <pagination :data="chat" @pagination-change-page="pagination"></pagination>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    import BreadcrumbsComponent from '@components/menus/headers/BreadcrumbsComponent'
    import crud from '@components/crud'
    import { VclTable } from 'vue-content-loading';

    export default {
        components: {
            BreadcrumbsComponent, VclTable
        },

        data(){
            return {
                loading: true,
                editmode: false,
                chat : {},
                form: new Form({
                    id: '',
                    empresas_id: '', 
                    users_id: '', 
                    mensagem: '', 

                }),
                search: ''
            }
        },

        methods: {
            searchit: _.debounce(() => {
                Fire.$emit('searching');
            },1000),

            pagination(page = 1){
                this.loading = true
                axios.get(`/api/chats?page=${page}`)
				.then(response => {
					this.chat = response.data;
                    this.loading = false
				});
            },

            destroy(id, name){
                crud.delete(id, this, 'chats')
            },

            load(){
                axios.get('/api/chats').then(({ data}) => {
                    (this.chat = data)
                    this.loading = false

                    console.log(data);
                });
            },

        },
        created() {
            Fire.$on('searching', () => {
                let query = this.search;
                axios.get(`/api/chats/findChat?q=${query}`)
                    .then((data) => {
                      this.chat = data.data
                    });
            });

            this.load()

            Fire.$on('AfterCreate', () => {
                this.load()
            });

        }
    }
</script>
