<template>
    <div>
        <VclBulletList :rows="5" v-if="isLoading"></VclBulletList>
        
        <template v-else>

            <!-- TABELONA COM TOTAL -->
            <div class="row">
                <div class="col">
                    <div class="card">
                        <!-- Card header -->
                        <!-- <div class="card-header">
                            <h5 class="h3 mb-0">To do list</h5>
                        </div> -->
                        <!-- Card body -->
                        <div class="row">
                            <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                <div class="card-body p-0">
                                    <!-- List group -->
                                    <ul class="list-group list-group-flush" data-toggle="checklist">
                                        <li class="checklist-entry list-group-item flex-column align-items-start py-4 px-4">
                                            <div class="checklist-item checklist-item-primary">
                                                <div class="checklist-info">
                                                    <h5 class="checklist-title mb-0">Colaborador</h5>
                                                    <small>{{ form.colaborador_name }}</small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="checklist-entry list-group-item flex-column align-items-start py-4 px-4">
                                            <div class="checklist-item checklist-item-primary">
                                                <div class="checklist-info">
                                                    <h5 class="checklist-title mb-0">Total de Horas Previstas</h5>
                                                    <small>{{ form.horasPrevistas }}</small>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                <div class="card-body p-0">
                                    <!-- List group -->
                                    <ul class="list-group list-group-flush" data-toggle="checklist">
                                        <li class="checklist-entry list-group-item flex-column align-items-start py-4 px-4">
                                            <div class="checklist-item checklist-item-warning">
                                                <div class="checklist-info">
                                                    <h5 class="checklist-title mb-0">Tipo escala</h5>
                                                    <small>{{ form.colaborador_dias_jornada }}</small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="checklist-entry list-group-item flex-column align-items-start py-4 px-4">
                                            <div class="checklist-item checklist-item-warning">
                                                <div class="checklist-info">
                                                    <h5 class="checklist-title mb-0">Total de Horas Trabalhadas</h5>
                                                    <small>{{ form.horasTrabalhadas }}</small>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                <div class="card-body p-0">
                                    <!-- List group -->
                                    <ul class="list-group list-group-flush" data-toggle="checklist">
                                        <li class="checklist-entry list-group-item flex-column align-items-start py-4 px-4">
                                            <div class="checklist-item checklist-item-success">
                                                <div class="checklist-info">
                                                    <h5 class="checklist-title mb-0">Nome escala</h5>
                                                    <small>Nome: {{ form.nome_escala }} </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="checklist-entry list-group-item flex-column align-items-start py-4 px-4">
                                            <div class="checklist-item checklist-item-success">
                                                <div class="checklist-info">
                                                    <h5 class="checklist-title mb-0">Total de Horas Abonadas</h5>
                                                    <small>{{ form.horasAbonadas }}</small>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                <div class="card-body p-0">
                                    <!-- List group -->
                                    <ul class="list-group list-group-flush" data-toggle="checklist">
                                        <li class="checklist-entry list-group-item flex-column align-items-start py-4 px-4">
                                            <div class="checklist-item checklist-item-default">
                                                <div class="checklist-info">
                                                    <h5 class="checklist-title mb-0">Vigente a partir do dia</h5>
                                                    <small>{{ form.data_vigente | onlyDate }}</small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="checklist-entry list-group-item flex-column align-items-start py-4 px-4">
                                            <div class="checklist-item checklist-item-default">
                                                <div class="checklist-info">
                                                    <h5 class="checklist-title mb-0">Saldo Total</h5>
                                                    <small>{{ saldoTotal }}</small>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <div class="card">
                        <!-- Card header -->
                        <div class="card-header border-0">                  
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="created_at" class="control-label">Data Início</label>
                                        <br />
                                        <datetime value-zone="local" zone="local" type="date" v-model="dataInicio" format="dd/MM/yyyy"></datetime>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="created_at" class="control-label">Data Fim</label>
                                        <br />
                                        <datetime value-zone="local" zone="local" type="date" v-model="dataFim" format="dd/MM/yyyy"></datetime>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <button class="btn btn-success mt-3" @click.prevent="fitrarPorData">Buscar</button>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Referência</th>
                                        <th>Previstas</th>
                                        <th>Trabalhadas</th>
                                        <th>Abonos</th>
                                        <th>Saldos</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(looping, index) in horasPrevistasTrabalhadasAbonosSaldos.meses" v-bind:key="index">
                                        <td class="table-user">
                                            <b>{{ horasPrevistasTrabalhadasAbonosSaldos.meses[index] }}</b>
                                        </td>
                                        <td>
                                            {{ horasPrevistasTrabalhadasAbonosSaldos.horasPrevistas[index] }}
                                        </td>
                                        <td>
                                            {{ horasPrevistasTrabalhadasAbonosSaldos.horasTrabalhadas[index] }}
                                        </td>
                                        <td>
                                            {{horasPrevistasTrabalhadasAbonosSaldos.horasAbonadas[index]}}
                                        </td>
                                        <td>
                                            <button v-if="Math.sign(horasPrevistasTrabalhadasAbonosSaldos.saldos[index].slice(0, 2)) === -1" type="button" class="btn btn-danger btn-sm">
                                                {{ horasPrevistasTrabalhadasAbonosSaldos.saldos[index] }}
                                            </button>

                                            <button v-else type="button" class="btn btn-success btn-sm">
                                                {{ horasPrevistasTrabalhadasAbonosSaldos.saldos[index] }}
                                            </button>
                                        </td>
                                        <!-- <td class="table-actions">
                                            
                                        </td> -->
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </template>

        <div class="modal-footer">
            <router-link to="/admin/controledeponto/bancodehoras" class="btn btn-primary btn-neutral">Voltar</router-link>
            <template v-if="!is_readonly">
                <button v-show="!editmode" type="submit" class="btn btn-primary">Salvar</button>
                <button v-show="editmode" type="submit" class="btn btn-primary">Editar</button>
            </template>
        </div>
        
    </div>
</template>

<script>
    import crud from '@components/crud'
    import { VclBulletList } from 'vue-content-loading';
    import {URL_API} from '../../../../url_api'

    export default {
        props: {
            is_readonly: Boolean,
            loading: Boolean
        },

        components: {
            VclBulletList
        },

        data() {
            return {
                isLoading: this.loading,
                editmode: this.$route.params.id ? true : false,
                bancodehoras : {},
                horasPrevistasTrabalhadasAbonosSaldos : [],

                dataInicio: '',
                dataFim: '',

                form: new Form({
                    id: '',
                }),
                search: ''
            }
        },

        methods: {
            async getData(){
                this.isLoading = true
                this.form.reset()

                const formData = new FormData();
                formData.append("id", this.$route.params.id);
                formData.append("dataInicio", this.dataInicio);
                formData.append("dataFim", this.dataFim);

                await axios.post(`/api/bancodehoras/exibePorData`, formData)
                .then(({data}) => {
                    this.isLoading = false

                    this.form.dia_jornada = data.dia_jornada
                    this.form.colaborador_name = data.colaborador.name
                    this.form.nome_escala = data.colaborador.nome_escala
                    this.form.colaborador_dias_jornada = data.colaborador.dias_jornada
                    this.form.horasTrabalhadas = data.horasTrabalhadas
                    this.form.horasAbonadas = data.horasAbonadas
                    this.form.horasPrevistas = data.horasPrevistas
                    this.form.data_vigente = data.colaborador.data_vigente
                    this.horasPrevistasTrabalhadasAbonosSaldos = data.horasPrevistasTrabalhadasAbonosSaldos
                    this.saldoTotal = data.saldoTotal
                    console.log(data.horasPrevistasTrabalhadasAbonosSaldos, 'horasPrevistasTrabalhadasAbonosSaldos');
                    console.log(data, 'COLABORADOR PE');
                    // this.bancodehoras = data.data
                })
                .catch((err) => {
                    this.isLoading = false
                    toast({
                        type: 'error',
                        title: 'Algo de errado aconteceu, por favor entre em contato com o suporte!'
                    })

                    console.error(err)
                })
            },

            fitrarPorData() {
                this.getData()
            },

            create(){
                crud.create(this, 'bancodehoras')
            },

            update(){
                crud.update(this, 'bancodehoras')
            },

            
        },
        created() {
            if(this.editmode) {
                this.getData()
            }

             Fire.$on('AfterCreate', () => {
                this.getData()
            });

        }
    }
</script>
