<template>
    <div>
        <VclBulletList :rows="5" v-if="isLoading"></VclBulletList>

        <form v-else @submit.prevent="editmode ? updateUser() : createUser()">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Usuário</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6" v-if="user_id != form.id"> 
                            <div class="form-group">
                                <label for="title" class="control-label">Nome</label>
                                <input
                                    v-model="form.name"
                                    v-bind:readonly="is_readonly"
                                    type="text"
                                    name="name"
                                    placeholder="Name"
                                    class="form-control"
                                    :class="{ 'is-invalid': form.errors.has('name') }"
                                />
                                <has-error :form="form" field="name"></has-error>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <label for="title" class="control-label">Email</label>
                                <input
                                    v-model="form.email"
                                    v-bind:readonly="is_readonly"
                                    type="text"
                                    name="email"
                                    placeholder="email"
                                    class="form-control"
                                    :class="{ 'is-invalid': form.errors.has('email') }"
                                />
                                <has-error :form="form" field="email"></has-error>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6" v-if="user_id != form.id">
                            <div class="form-group">
                                <label for="title" class="control-label">RG</label>
                                <input
                                    v-mask="'##.###.###-###'"
                                    v-model="form.rg"
                                    v-bind:readonly="is_readonly"
                                    type="text"
                                    name="rg"
                                    placeholder="rg"
                                    class="form-control"
                                    :class="{ 'is-invalid': form.errors.has('rg') }"
                                />
                                <has-error :form="form" field="rg"></has-error>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6" v-if="user_id != form.id">
                            <div class="form-group">
                                <label for="title" class="control-label">CPF</label>
                                <input
                                    v-mask="'###.###.###-##'"
                                    v-model="form.cpf"
                                    v-bind:readonly="is_readonly"
                                    type="text"
                                    name="cpf"
                                    placeholder="cpf"
                                    class="form-control"
                                    :class="{ 'is-invalid': form.errors.has('cpf') }"
                                />
                                <has-error :form="form" field="cpf"></has-error>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6" v-if="user_id != form.id">
                            <div class="form-group">
                                <label for="title" class="control-label">Perfil</label>
                                <select
                                    name="idtipo_usuario"
                                    v-model="form.idtipo_usuario"
                                    v-bind:disabled="is_readonly"
                                    id="idtipo_usuario"
                                    class="form-control"
                                    :class="{ 'is-valid': form.errors.has('idtipo_usuario')}"
                                >
                                    <option value>Selecione</option>
                                    <option v-for="tipo in tiposList.data" v-bind:key="tipo.id" v-bind:value="tipo.id">{{ tipo.nome }}</option>
                                </select>
                                <has-error :form="form" field="idtipo_usuario"></has-error>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <label for="title" class="control-label">Senha</label>
                                <input
                                    v-model="form.password"
                                    v-bind:readonly="is_readonly"
                                    type="password"
                                    name="password"
                                    placeholder="password"
                                    class="form-control"
                                    :class="{ 'is-invalid': form.errors.has('password') }"
                                />
                                <has-error :form="form" field="password"></has-error>
                            </div>
                        </div>

                        <!-- <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <label for="title" class="control-label">Filial</label>
                                <select
                                    name="filiais_id"
                                    v-model="form.filiais_id"
                                    v-bind:disabled="is_readonly"
                                    id="filiais_id"
                                    class="form-control"
                                    :class="{ 'is-valid': form.errors.has('filiais_id')}"
                                >
                                    <option value>Selecione</option>
                                    <option v-for="filial in filiaisList.data" v-bind:key="filial.id" v-bind:value="filial.id">{{ filial.name }}</option>
                                </select>
                                <has-error :form="form" field="filiais_id"></has-error>
                            </div>
                        </div> -->

                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6" v-if="user_id != form.id">
                            <div class="form-group">
                                <label for="filiais_id" class="control-label">Filial</label>
                                <select
                                    @change="addRow"
                                    name="filiais_id"
                                    v-model="form.filiais_id"
                                    v-bind:disabled="is_readonly"
                                    id="filiais_id"
                                    class="form-control"
                                    :class="{ 'is-valid': form.errors.has('filiais_id')}"
                                >
                                    <!-- <option value>Selecione</option> -->
                                    <option v-for="filial in filiaisList.data" v-bind:key="filial.id" v-bind:value="filial.id + '-' + filial.name">{{ filial.name }}</option>
                                </select>
                                <has-error :form="form" field="filiais_id"></has-error>
                            </div>
                        </div>
                        

                        <div class="container">
                            <div class="row">
                                <div v-for="(filial, index) in form.filiais_rows" v-bind:key="filial.id" class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                    <div class="card">
                                        
                                        <div class="card-body mb-2">
                                            <div class="pt-4 text-center">
                                                <h5 class="h3 title">
                                                    <span class="d-block mb-1">{{ filial.name }}</span>
                                                </h5>
                                                <div class="mt-3" v-if="!is_readonly">
                                                    <button type="button" v-on:click.prevent="removeElement(index);" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            

            <div class="modal-footer">
                <router-link to="/users" class="btn btn-primary btn-neutral">Voltar</router-link>
                <template v-if="!is_readonly">
                    <button v-show="!editmode" type="submit" class="btn btn-primary">Salvar</button>
                    <button v-show="editmode" type="submit" class="btn btn-primary">Editar</button>
                </template>
            </div>
        </form>
  </div>
</template>

<script>
import crud from '@components/crud'
import { VclBulletList } from 'vue-content-loading';

export default {
    components: {
        crud,
        VclBulletList
    },

    props: {
        is_readonly: Boolean,
        loading: Boolean
    },

    data() {
        return {
            isLoading: this.loading,
            editmode: this.$route.params.id ? true : false,
            users : {},
            user_id: user.id,
            filiaisList: [],
            tiposList: [],
            form: new Form({
                id: '',
                name: '',
                email: '',
                rg: '',
                cpf: '',
                type: '',
                password: '',
                cep: '',
                uf: '',
                localidade: '',
                bairro: '',
                logradouro: '',
                idtipo_usuario: '',
                numero: '',
                complemento: '',
                telefone: '',
                telefone_alternativo: '',
                filiais_rows: []
            }),
            search: '',
        }
    },

    methods: {
        getData() {
            if(this.editmode) {
            this.form.reset()
            axios.get(`/api/user/${this.$route.params.id}`)
            .then(({data}) => {
                console.log(data, 999);
                this.form.id = data.id
                this.form.name = data.name
                this.form.email = data.email
                this.form.rg = data.rg
                this.form.cpf = data.cpf
                this.form.type = data.type
                this.form.idtipo_usuario = data.idtipo_usuario
               

                data.users_filiais.forEach(element => {
                    // console.log(element, 9999);
                    this.form.filiais_rows.push(element.filiais)
                    this.form.filiais_id = element.filiais_id
                });

                this.isLoading = false
            })

        }
        },
        createUser(){
            crud.create(this, 'user')
        },

        updateUser(id){
            crud.update(this, 'user')
        },
        buscaCep(cep) {
            axios.get(`https://viacep.com.br/ws/${cep.target.value}/json`).then(res => {
                this.form.endereco = res.data
            })
        },
        addRow: function(e) {
            var arrayOfStrings = e.target.value.split('-');

            var sup = 0;
            this.form.filiais_rows.forEach((element, i) => {
                if (element.id == arrayOfStrings[0]) {
                    sup = 1;
                }
            });

            if (sup != 1) {
                this.form.filiais_rows.push({
                    id: arrayOfStrings[0],
                    name: arrayOfStrings[1],
                });

                sup = 0;
            }
        },
        removeElement: function(index) {
            this.form.filiais_rows.splice(index, 1);
        },
        filiais() {
            axios.get(`/api/filiais`)
            .then(({data}) => {
                this.filiaisList = data
            })
        },

        tipos() {
            axios.get(`/api/perfis`)
            .then(data => {
                this.tiposList = data.data
                console.log(this.tiposList);
            })
        }
    },

    computed: {

    },

    created() {
        this.tipos()
        this.filiais()
        this.getData()

        // Fire.$on('AfterCreate', () => {
        //     this.loadUser()
        // });
    }
}
</script>
