<template>
    <div>
        <not-found v-if="!$gate.isUsuarioVisualizar()"></not-found>
        <template v-else>
            <BreadcrumbsComponent principal="Usuários"/>

            <div class="container-fluid mt--6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-6">
                                        Usuários
                                    </div>
                                    <div class="col-6">
                                        Código da empresa: <span style="color: blue;">{{ codigoEmpresa }}</span>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">

                                <!-- <button class="btn btn-success btn-sm" @click="newModal" data-toggle="modal" data-target="#addNew"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar Modal</button> -->
                                <router-link v-if="$gate.isUsuarioAdicionar()" to="/users/create" class="btn btn-success btn-sm"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar </router-link>

                                <div class="form-inline my-2 my-lg-0 float-right">
                                    <div class="input-group">
                                        <input class="form-control" @keyup="searchit" v-model="search" type="search" placeholder="Buscar..." aria-label="Search">
                                        <span class="input-group-append">
                                            <button class="btn btn-info btn-icon" @click="searchit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="table-responsive">
                                    <table class="table">
                                        <VclTable v-if="loading" :columns="6" :rows="5"></VclTable>
                                        <tbody v-else>
                                            <tr>
                                                <th>#</th>
                                                <th v-if="$gate.isMaster()">Empresas</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Perfil</th>
                                                <th>Cadastro</th>
                                                <th>Ferramentas</th>
                                            </tr>
                                            <tr v-for="(user, index) in users.data" :key="user.id">
                                                <td>{{ index + 1 }}</td>
                                                <th v-if="$gate.isMaster()">{{ user.empresas_name }}</th>
                                                <td>{{ user.name }}</td>
                                                <td>{{ user.email }}</td>
                                                <td>{{ user.perfis_nome }}</td>
                                                <td>{{ user.created_at | myDate }}</td>
                                                <td>
                                                    <router-link v-bind:to="{ path: '/users/' + user.id }" title="Editar Post"><button class="btn btn-info btn-sm"><i class="fas fa-eye" aria-hidden="true"></i></button></router-link>
                                                    <!-- <a href="#" @click="editModal(user)"><i class="fa fa-edit blue"></i></a> -->
                                                    <router-link v-if="$gate.isUsuarioEditar()" v-bind:to="{ path: '/users/' + user.id + '/edit' }" title="Editar Post"><button class="btn btn-primary btn-sm"><i class="fas fa-edit" aria-hidden="true"></i></button></router-link>
                                                    <template v-if="user_id != user.id">
                                                        <a v-if="$gate.isUsuarioDeletar()" href="#" class="btn btn-danger btn-sm" @click="deleteUser(user.id, user.name)"><i class="fa fa-trash red"></i></a>
                                                    </template>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <pagination :data="users" @pagination-change-page="pagination"></pagination>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 v-show="!editmode" class="modal-title" id="addNewLabel">Add New</h5>
                            <h5 v-show="editmode" class="modal-title" id="addNewLabel">Update User's Info</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form @submit.prevent="editmode ? updateUser() : createUser()">
                            <div class="modal-body">
                                <div class="form-group">
                                    <input v-model="form.name" type="text" name="name" placeholder="Name"
                                        class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                                    <has-error :form="form" field="name"></has-error>
                                </div>
                                <div class="form-group">
                                    <input v-model="form.email" type="text" name="email" placeholder="email"
                                        class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                                    <has-error :form="form" field="email"></has-error>
                                </div>
                                <div class="form-group">
                                    <input v-model="form.bio" type="text" name="bio" placeholder="bio"
                                        class="form-control" :class="{ 'is-invalid': form.errors.has('bio') }">
                                    <has-error :form="form" field="bio"></has-error>
                                </div>
                                <div class="form-group">
                                    <select name="type" v-model="form.type" id="type" class="form-control" :class="{ 'is-valid': form.errors.has('type')}">
                                        <option value="">Select User Role</option>
                                        <option value="admin">Admin</option>
                                        <option value="user">User</option>
                                        <option value="author">Author</option>
                                    </select>
                                    <has-error :form="form" field="type"></has-error>
                                </div>
                                <div class="form-group">
                                    <input v-model="form.password" type="password" name="password" placeholder="password"
                                        class="form-control" :class="{ 'is-invalid': form.errors.has('password') }">
                                    <has-error :form="form" field="password"></has-error>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                <button v-show="!editmode" type="submit" class="btn btn-primary">Create</button>
                                <button v-show="editmode" type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    import BreadcrumbsComponent from '../../components/menus/headers/BreadcrumbsComponent'
    import crud from '@components/crud'
    import { VclTable } from 'vue-content-loading';

    export default {
        components: {
            BreadcrumbsComponent,
            VclTable
        },

        data(){
            return {
                loading: true,
                editmode: false,
                user_id: user.id,
                users : {},
                codigoEmpresa: '',
                form: new Form({
                    id: '',
                    name: '',
                    email: '',
                    password: '',
                    type: '',
                    bio: '',
                    photo: '',
                }),
                search: ''
            }
        },

        methods: {
            searchit: _.debounce(() => {
                Fire.$emit('searching');
            },1000),

            pagination(page = 1){
                this.loading = true
                axios.get(`/api/user?page=${page}`)
				.then(response => {
                    this.users = response.data.users;
                    this.loading = false
				});
            },

            updateUser(id){
                this.form.put(`/api/user/${this.form.id}`)
                    .then(() => {
                        $('#addNew').modal('hide')
                        swal(
                            'Updated', 'Information has been updated', 'success'
                        )
                        Fire.$emit('AfterCreate')
                    })
                    .catch(() => {
                    })
            },

            editModal(user){
                this.editmode = true
                this.form.reset()
                $('#addNew').modal('show')
                this.form.fill(user)
            },

            newModal(){
                this.editmode = false
                this.form.reset()
                $('#addNew').modal('show')
            },

            deleteUser(id, name){
                crud.delete(id, this, 'user')
            },
            loadUser(){
                axios.get('/api/user').then(({ data}) => {
                    (this.users = data.users)
                    this.codigoEmpresa = data.codigoEmpresa
                    this.loading = false
                });
            },
            createUser(){

                this.form.post('/api/user')
                    .then(()=>{
                        Fire.$emit('AfterCreate')
                        $('#addNew').modal('hide')
                        toast({
                            type: 'success',
                            title: 'User Created in successfully'
                        })
                    });
            }
        },
        created() {
            Fire.$on('searching', () => {
                let query = this.search;
                axios.get(`api/findUser?q=${query}`)
                    .then((data) => {
                      this.users = data.data.users
                    });
            });

            this.loadUser()
            // setInterval(() => this.loadUser(), 3000)
            Fire.$on('AfterCreate', () => {
                this.loadUser()
            });
        }
    }
</script>
