<template>
    <div>
        <VclBulletList :intervalos="1" v-if="isLoading"></VclBulletList>
        
        <form v-else @submit.prevent="editmode ? update() : create()">
            <div class="row">
                <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <div class="form-group">
                        <label for="nome_escala" class="control-label">Nome da Escala</label>
                        <input
                        v-model="form.nome_escala"
                        v-bind:readonly="is_readonly"
                        type="text"
                        name="nome_escala" 
                        placeholder="nome da escala"
                        class="form-control"
                        :class="{ 'is-invalid': form.errors.has('nome_escala') }"
                    />
                        <has-error :form="form" field="nome_escala"></has-error>
                    </div>
                </div>

                <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <div class="form-group">
                        <label for="title" class="control-label">Tipo</label>
                        <select
                            @change="tipoJornadas"
                            name="tipo" 
                            v-model="form.tipo"
                            v-bind:disabled="is_readonly"
                            class="form-control"
                            :class="{ 'is-valid': form.errors.has('tipo')}"
                        >
                            <option value="1">Escala por Dia</option>
                            <option value="2">Escala por Jornada</option>
                        </select>
                        <has-error :form="form" field="tipo"></has-error>
                    </div>
                </div>

                 <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3" v-if="controlaDiaHora">
                    <div class="form-group mt-3">
                        <div class="row">
                            <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                <div class="custom-control custom-radio">
                                    <input class="custom-control-input" type="radio" id="two" value="Hora" v-model="form.jornada_hora_dia">
                                    <label class="custom-control-label" for="two">Por Hora</label>
                                </div>
                            </div>
                            <br>
                            <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                <div class="custom-control custom-radio">
                                    <input class="custom-control-input" type="radio" id="one" value="Dia" v-model="form.jornada_hora_dia">
                                    <label class="custom-control-label" for="one">Por Dia</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div v-if="form.tolerancia" class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <button type="button" class="btn-sm" @click="alterarParaToleranciaDiaria"><i class="ni ni-ui-04" style="cursor: pointer;"></i>Alterar para tolerância diária</button>
                </div>

                <div v-else class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                </div>

                <template v-if="form.tipo == 1">
                     <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <div class="form-group">
                            <label for="title" class="control-label">Dia</label>
                            <select
                                name="dia_jornada" 
                                v-model="form.dia_jornada"
                                v-bind:disabled="is_readonly"
                                class="form-control"
                                :class="{ 'is-valid': form.errors.has('dia_jornada')}"
                            >   
                                <option value="">Selecione</option>
                                <option v-for="dia_jornada in diasJornadaList" v-bind:key="dia_jornada.id" v-bind:value="dia_jornada.id + '-' + dia_jornada.dias_jornada">{{ dia_jornada.dias_jornada }}</option>
                            </select>
                            <has-error :form="form" field="dia_jornada"></has-error>
                        </div>
                    </div>

                    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4" v-if="!form.tolerancia">
                        <div class="form-group">
                            <label for="tolerancia_tempo" class="control-label">Tempo de Tolerância</label>
                            <span class="cursorpointer" data-toggle="tooltip" data-placement="top" title="Tempo máximo que o colaborador pode se atrasar sem ser descontado ou exceder e não ser computado na jornada. Deixe vazio caso não queira dar tolerância.">
                                <i class="fas fa-exclamation text-success"></i>
                            </span>
                            <input class="form-control" name="tolerancia_tempo" v-model="form.tolerancia_tempo" type="number" id="tolerancia_tempo" >
                        </div>
                    </div>

                    <div v-else class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    </div>

                    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <div class="form-group">
                            <label class="custom-toggle mt-5">
                                <input name="tolerancia" v-model="form.tolerancia" type="checkbox" checked>
                                <span class="custom-toggle-slider rounded-circle" data-label-off="Nao" data-label-on="Sim"></span>
                            </label> Tolerância de atraso por marcação?
                            <span class="cursorpointer" data-toggle="tooltip" data-placement="top" title="Marque essa opção para definir a tolerância de atraso diferente para o início do expediente e fim de intervalo(s).">
                                <i class="fas fa-exclamation text-success"></i>
                            </span>
                        </div>
                    </div>

                    
                    
                    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <div class="form-group">
                            <label for="inicio_expediente" class="control-label">Inicio Expediente</label>
                            <input v-mask="'##:##'" placeholder="00:00" class="form-control" name="inicio_expediente" v-model="form.inicio_expediente" type="text" id="inicio_expediente" >
                        </div>
                    </div>

                    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4" v-if="form.tolerancia">
                        <div class="form-group">
                            <label for="tolerancia_tempo" class="control-label">Tempo de Tolerância</label>
                            <input class="form-control" name="tolerancia_tempo" v-model="form.tolerancia_tempo" type="number" id="tolerancia_tempo" >
                        </div>
                    </div>

                    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <div class="form-group">
                            <label for="fim_expediente" class="control-label">Fim Expediente</label>
                            <input v-mask="'##:##'" class="form-control" name="fim_expediente" v-model="form.fim_expediente" type="text" id="fim_expediente" >
                        </div>
                    </div>   
                </template>  

<!--
    || (form.dias_trabalhar == null && form.tolerancia != 1)
|| (form.dias_trabalhar != null && form.tolerancia != 1)
 && form.jornada_hora_dia == 'Hora'
    -->

                <template v-if="(form.tipo == 2)">
                    <template v-if="form.jornada_hora_dia == 'Hora' || form.jornada_hora_dia == 0">
                        <div>-</div>
                        <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <div class="form-group">
                                <label for="title" class="control-label">Jornada</label>
                                <select
                                    name="dia_jornada" 
                                    v-model="form.dia_jornada"
                                    v-bind:disabled="is_readonly"
                                    class="form-control"
                                    :class="{ 'is-valid': form.errors.has('dia_jornada')}"
                                >   
                                    <option value="">Selecione</option>
                                    <option v-for="dia_jornada in diasJornadaList" v-bind:key="dia_jornada.id" v-bind:value="dia_jornada.id + '-' + dia_jornada.dias_jornada">{{ dia_jornada.dias_jornada }}</option>
                                </select>
                                <has-error :form="form" field="dia_jornada"></has-error>
                            </div>
                        </div>
                        
                        <template v-if="form.dia_jornada != '11-Livre'">
                            <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                <div class="form-group">
                                    <label for="inicio_expediente" class="control-label">Inicio Expediente</label>
                                    <input v-mask="'##:##'" placeholder="00:00" class="form-control" name="inicio_expediente" v-model="form.inicio_expediente" type="text" id="inicio_expediente" >
                                </div>
                            </div>
                            <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3" v-if="form.tolerancia">
                                <div class="form-group">
                                    <label for="tolerancia_tempo" class="control-label">Tolerância de atraso</label>
                                    <input class="form-control" name="tolerancia_tempo" v-model="form.tolerancia_tempo" type="number" id="tolerancia_tempo" >
                                </div>
                            </div>

                            <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3" v-if="!form.tolerancia">
                                <div class="form-group">
                                    <label for="tolerancia_tempo" class="control-label">Tolerância diária</label>
                                    <span class="cursorpointer" data-toggle="tooltip" data-placement="top" title="Tempo máximo que o colaborador pode se atrasar sem ser descontado ou exceder e não ser computado na jornada. Deixe vazio caso não queira dar tolerância.">
                                        <i class="fas fa-exclamation text-success"></i>
                                    </span>
                                    <input class="form-control" name="tolerancia_tempo" v-model="form.tolerancia_tempo" type="number" id="tolerancia_tempo" >
                                </div>
                            </div> 

                            <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                <div class="form-group">
                                    <label class="custom-toggle mt-5">
                                        <input name="tolerancia" v-model="form.tolerancia" type="checkbox" checked>
                                        <span class="custom-toggle-slider rounded-circle" data-label-off="Nao" data-label-on="Sim"></span>
                                    </label> Tolerância de atraso por marcação?
                                    <span class="cursorpointer" data-toggle="tooltip" data-placement="top" title="Marque essa opção para definir a tolerância de atraso diferente para o início do expediente e fim de intervalo(s).">
                                        <i class="fas fa-exclamation text-success"></i>
                                    </span>
                                </div>
                            </div>

                        </template>

                        <template v-else>
                            <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                <div class="form-group">
                                    <label for="title" class="control-label">Expediente:</label>
                                    <select
                                        name="expediente_livre" 
                                        v-model="form.expediente_livre"
                                        v-bind:disabled="is_readonly"
                                        class="form-control"
                                        :class="{ 'is-valid': form.errors.has('expediente_livre')}"
                                    >   
                                        <option value="diario">Diário</option>
                                        <option value="semanal">Semanal</option>
                                        
                                    </select>
                                    <has-error :form="form" field="expediente_livre"></has-error>
                                </div>
                            </div>

                            <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                <div class="form-group">
                                    <label for="inicioexpediente_livre" class="control-label">Duração:</label>
                                    <input v-mask="'##:##'" placeholder="00:00" class="form-control" name="inicioexpediente_livre" v-model="form.inicioexpediente_livre" type="text" id="inicioexpediente_livre" >
                                </div>
                            </div>
                        </template>
                    </template>
                    
                </template>              

                <template v-if="((form.tipo == 2 && form.jornada_hora_dia == 'Dia') || verificaJornada == 1)">
                    <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                        <div class="form-group">
                            <label for="dias_trabalhar" class="control-label">Dias a Trabalhar</label>
                            <input class="form-control" name="dias_trabalhar" v-model="form.dias_trabalhar" type="number" id="dias_trabalhar" >
                        </div>
                    </div>

                    <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                        <div class="form-group">
                            <label for="dias_dsr_folga" class="control-label">Dias Dsr Folga</label>
                            <input class="form-control" name="dias_dsr_folga" v-model="form.dias_dsr_folga" type="number" id="dias_dsr_folga" >
                        </div>
                    </div>    

                    <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2" v-if="form.tolerancia && !form.tolerancia_por_marcacao">
                        <div class="form-group">
                            <label for="tolerancia_tempo" class="control-label">Tolerância de atraso</label>
                            <input class="form-control" name="tolerancia_tempo" v-model="form.tolerancia_tempo" type="number" id="tolerancia_tempo" >
                        </div>
                    </div>

                    
                    <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2" v-if="!form.tolerancia">
                        <div class="form-group">
                            <label for="tolerancia_tempo" class="control-label">Tolerância Diária</label>
                            <input class="form-control" name="tolerancia_tempo" v-model="form.tolerancia_tempo" type="number" id="tolerancia_tempo" >
                        </div>
                    </div>

                    

                    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4" v-if="!form.tolerancia">
                        <div class="form-group">
                            <label class="custom-toggle mt-5">
                                <input name="tolerancia" v-model="form.tolerancia" type="checkbox" checked>
                                <span class="custom-toggle-slider rounded-circle" data-label-off="Nao" data-label-on="Sim"></span>
                            </label> Alternar para tolerância de atraso
                            <span class="cursorpointer" data-toggle="tooltip" data-placement="top" title="Marque essa opção para definir a tolerância de atraso diferente para o início do expediente e fim de intervalo(s).">
                                <i class="fas fa-exclamation text-success"></i>
                            </span>
                        </div>
                    </div>

                    <div  v-if="form.tolerancia && form.tolerancia_por_marcacao" class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>

                     <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4" v-if="form.tolerancia">
                        <div class="form-group">
                            <label class="custom-toggle mt-5">
                                <input name="tolerancia" v-model="form.tolerancia_por_marcacao" type="checkbox" checked>
                                <span class="custom-toggle-slider rounded-circle" data-label-off="Nao" data-label-on="Sim"></span>
                            </label> Inserir tolerância de atraso por marcação?
                            <span class="cursorpointer" data-toggle="tooltip" data-placement="top" title="Marque essa opção para definir a tolerância de atraso diferente para o início do expediente e fim de intervalo(s).">
                                <i class="fas fa-exclamation text-success"></i>
                            </span>
                        </div>
                    </div>

                    <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <div class="form-group">
                            <label for="inicio_expediente" class="control-label">Inicio Expediente</label>
                            <input v-mask="'##:##'" placeholder="00:00" class="form-control" name="inicio_expediente" v-model="form.inicio_expediente" type="text" id="inicio_expediente" >
                        </div>
                    </div>

                    <div v-if="form.tolerancia_por_marcacao" class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <div class="form-group">
                            <label for="tolerancia_tempo" class="control-label">Tolerância de atraso</label>
                            <span class="cursorpointer" data-toggle="tooltip" data-placement="top" title="Tempo máximo que o colaborador pode se atrasar sem ser descontado ou exceder e não ser computado na jornada. Deixe vazio caso não queira dar tolerância.">
                                <i class="fas fa-exclamation text-success"></i>
                            </span>
                            <input class="form-control" name="tolerancia_tempo" v-model="form.tolerancia_tempo" type="number" id="tolerancia_tempo" >
                        </div>
                    </div> 


                    <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <div class="form-group">
                            <label for="fim_expediente" class="control-label">Fim Expediente</label>
                            <input v-mask="'##:##'" class="form-control" name="fim_expediente" v-model="form.fim_expediente" type="text" id="fim_expediente" >
                        </div>
                    </div>

                      
                </template>
                 
            </div>
            <template v-if="form.dia_jornada != '11-Livre'">
                <div v-for="(row, index) in form.intervalos" v-bind:key="row.id">
                    <div class="row">
                        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                            <div class="form-group">
                                <label for="inicio_intervalo" class="control-label">Início do Intervalo</label>
                                <input
                                    v-mask="'##:##'"
                                    v-model="row.inicio_intervalo"
                                    v-bind:readonly="is_readonly"
                                    type="text"
                                    placeholder="00:00"
                                    class="form-control"
                                    :class="{ 'is-invalid': form.errors.has('inicio_intervalo') }"
                                />
                                <has-error :form="form" field="inicio_intervalo"></has-error>
                            </div>
                        </div> 

                        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                            <div class="form-group">
                                <label for="fim_intervalo" class="control-label">Fim do Intervalo</label>
                                <input  
                                    v-mask="'##:##'"
                                    v-model="row.fim_intervalo"
                                    v-bind:readonly="is_readonly"
                                    type="text"
                                    placeholder="00:00"
                                    class="form-control"
                                    :class="{ 'is-invalid': form.errors.has('fim_intervalo') }"
                                />
                                <has-error :form="form" field="fim_intervalo"></has-error>
                            </div>
                        </div> 
                        
                        <div v-if="form.tolerancia" class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                            <div class="form-group">
                                <label for="tolerancia_atraso" class="control-label">Tolerância de atraso:</label>
                                <input  
                                    v-model="row.tolerancia_atraso"
                                    v-bind:readonly="is_readonly"
                                    type="number"
                                    class="form-control"
                                    :class="{ 'is-invalid': form.errors.has('tolerancia_atraso') }"
                                />
                                <has-error :form="form" field="tolerancia_atraso"></has-error>
                            </div>
                        </div> 

                        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                        <label for="abonar" class="control-label">Abonar</label>
                                        <span class="cursorpointer" data-toggle="tooltip" data-placement="top" title="Se selecionado o colaborador não terá este intervalo deduzido de seu expediente. Geralmente é usado para intervalos pequenos.">
                                            <i class="fas fa-exclamation text-success"></i>
                                        </span>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                        <label class="custom-toggle mt-2">
                                            <input name="abonar" v-model="row.abonar" type="checkbox" checked>
                                            <span class="custom-toggle-slider rounded-circle" data-label-off="Nao" data-label-on="Sim"></span>
                                        </label> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                        <label for="pre_assinalar" class="control-label">Pré-assinalar</label>
                                        <span class="cursorpointer" data-toggle="tooltip" data-placement="top" title="Se selecionado o colaborador não precisa registrar este intervalo, pois o mesmo será adicionado automaticamente em seu expediente diário.">
                                            <i class="fas fa-exclamation text-success"></i>
                                        </span>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                        <label class="custom-toggle mt-2">
                                            <input name="pre_assinalar" v-model="row.pre_assinalar" type="checkbox" checked>
                                            <span class="custom-toggle-slider rounded-circle" data-label-off="Nao" data-label-on="Sim"></span>
                                        </label> 
                                    </div>
                                </div>
                            </div>
                        </div>

                
                        <div v-if="$gate.isEscalasDeletar()" class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 mt-5">
                            <span v-on:click="removeElement(index, row.id);" style="cursor: pointer" class="btn btn-sm btn-danger">Remover</span>
                        </div>
                    </div>
                </div> 
                
                <button v-if="!is_readonly" type="button" class="button btn-primary" @click="addRow">Adicionar Intervalos</button>
            </template>
                

            <div class="modal-footer">
                <router-link to="/escalas" class="btn btn-primary btn-neutral">Voltar</router-link>
                <template v-if="!is_readonly">
                    <button v-show="!editmode" type="submit" class="btn btn-primary">Salvar</button>
                    <button v-show="editmode" type="submit" class="btn btn-primary">Editar</button>
                </template>
            </div>
        </form>
    </div>
</template>

<script>
    import crud from '@components/crud'
    import { VclBulletList } from 'vue-content-loading';

    export default {
        props: {
            is_readonly: Boolean,
            loading: Boolean
        },

        components: {
            VclBulletList
        },

        data() {
            return {
                isLoading: this.loading,
                editmode: this.$route.params.id ? true : false,
                escalas : {},
                diasJornadaList: [],
                controlaDiaHora: false,
                form: new Form({
                    id: '',
                    nome_escala: '',
                    tipo: '',
                    jornada_hora_dia: 'Hora',
                    dia_jornada: '',
                    tolerancia: '',
                    tolerancia_por_marcacao: null,
                    tolerancia_tempo: '',
                    inicio_expediente: '',
                    fim_expediente: '',
                    dias_trabalhar: '',
                    dias_dsr_folga: '',
                    expediente_livre: '',
                    inicioexpediente_livre: '',
                    intervalos: [],
                }),
                search: '',
                verificaJornada: 0
            }
        },

        methods: {
            getData(){
                this.isLoading = true
                this.form.reset()
                axios.get(`/api/escalas/${this.$route.params.id}`)
                .then(({data}) => {
                    // (this.form.fill(data))
                    console.log(data);
                    this.carregaTipo(data.tipo)

                    this.form.id = data.id;
                    this.form.nome_escala = data.nome_escala;
                    this.form.tipo = data.tipo;
                    this.form.jornada_hora_dia = data.jornada_hora_dia;
                    this.form.tolerancia = data.tolerancia;
                    this.form.dia_jornada = data.dia_jornada != null ? data.dia_jornada + '-' + data.jornada.dias_jornada : '';
                    this.form.dias_trabalhar = data.dias_trabalhar;
                    this.form.dias_dsr_folga = data.dias_dsr_folga;
                    this.form.tolerancia_tempo = data.tolerancia_tempo;
                    this.form.inicio_expediente = data.inicio_expediente;
                    this.form.fim_expediente = data.fim_expediente;
                    this.form.intervalos = data.intervalos
                    this.form.expediente_livre = data.expediente_livre
                    this.form.inicioexpediente_livre = data.inicioexpediente_livre
                    this.form.tolerancia_por_marcacao = data.tolerancia_por_marcacao

                    this.verificaJornada =  data.dia_jornada == null ? 1 : 0

                    this.isLoading = false
                })
                .catch((err) => {
                    this.isLoading = false
                    toast({
                        type: 'error',
                        title: 'Algo de errado aconteceu, por favor entre em contato com o suporte!'
                    })

                    console.log(err)
                })
            },

            create(){
                crud.create(this, 'escalas')
            },

            update(){
                crud.update(this, 'escalas')
            },
            tipoJornadas() {
                if(!this.form.tipo) {
                    this.form.tipo = 1
                } 

                this.controlaDiaHora = this.form.tipo == 1 ? false : true

                axios.get(`/api/jornadas/${this.form.tipo}`).then(res => {
                    this.diasJornadaList = res.data

                })
            },

            carregaTipo(tipo) {
                axios.get(`/api/jornadas/${tipo}`).then(res => {
                    this.diasJornadaList = res.data

                })
            },

            addRow: function() {
                var elem = document.createElement('tr');
                this.form.intervalos.push({
                    inicio_intervalo: "",
                    fim_intervalo: "", 
                    abonar: '',
                    pre_assinalar: '',
                });
            },
            removeElement: function(index, id) {
                crud.delete(id, this, 'intervalos', true)
                this.form.intervalos.splice(index, 1);
            },

            alterarParaToleranciaDiaria() {
                this.form.tolerancia_por_marcacao = null
                this.form.tolerancia = null
            }
 
        },
        created() {
            

            if(this.editmode) {
                this.getData()
            } else {
                this.tipoJornadas()
            }
        }
    }
</script>

<style>
.cursorpointer {
    cursor:pointer;
}
</style>
