<template>
    <div>
        <VclBulletList :rows="5" v-if="isLoading"></VclBulletList>
        
        <form v-else @submit.prevent="editmode ? update() : create()">
            <div class="form-group">
                <label for="hora_ponto" class="control-label">Ponto</label>
                <input
                    v-mask="'##:##'"
                    v-model="form.hora_ponto"
                    v-bind:readonly="is_readonly"
                    type="text"
                    name="hora_ponto"
                    placeholder="hora_ponto"
                    class="form-control"
                    :class="{ 'is-invalid': form.errors.has('hora_ponto') }"
                />
                <has-error :form="form" field="hora_ponto"></has-error>
            </div>

            <div class="form-group">
                <label for="observacao_colaborador" class="control-label">Observacao</label>
                <textarea 
                    v-model="form.observacao_colaborador"
                    rows="5" name="observacao_colaborador" 
                    type="textarea" 
                    v-bind:readonly="is_readonly"
                    placeholder="observacao_colaborador"
                    class="form-control" 
                    :class="{ 'is-invalid': form.errors.has('observacao_colaborador') }"
                ></textarea>
                <has-error :form="form" field="observacao_colaborador"></has-error>
            </div>

            <div class="form-group">
                <label for="justificativa_colaborador" class="control-label">Justificativa</label>
                <textarea 
                    v-model="form.justificativa_colaborador"
                    rows="5" name="justificativa_colaborador" 
                    type="textarea" 
                    v-bind:readonly="is_readonly"
                    placeholder="justificativa_colaborador"
                    class="form-control" 
                    :class="{ 'is-invalid': form.errors.has('justificativa_colaborador') }"
                ></textarea>
                <has-error :form="form" field="justificativa_colaborador"></has-error>
            </div>
            
            <div class="form-group" v-if="form.observacao_empresa">
                <label for="observacao_empresa" class="control-label">Observacao da Empresa</label>
                <textarea 
                    v-model="form.observacao_empresa"
                    rows="5" name="observacao_empresa" 
                    type="textarea" 
                    v-bind:readonly="!is_readonly"
                    placeholder="observacao_empresa"
                    class="form-control" 
                    :class="{ 'is-invalid': form.errors.has('observacao_empresa') }"
                ></textarea>
                <has-error :form="form" field="observacao_empresa"></has-error>
            </div>

            <div class="form-group" v-if="form.justificativa_empresa">
                <label for="justificativa_empresa" class="control-label">Justificativa da Empresa</label>
                <textarea 
                    v-model="form.justificativa_empresa"
                    rows="5" name="justificativa_empresa" 
                    type="textarea" 
                    v-bind:readonly="!is_readonly"
                    placeholder="justificativa_empresa"
                    class="form-control" 
                    :class="{ 'is-invalid': form.errors.has('justificativa_empresa') }"
                ></textarea>
                <has-error :form="form" field="justificativa_empresa"></has-error>
            </div>

            <div class="form-group">
                <label for="numero_recibo" class="control-label">Numero Recibo</label>
                <input
                    v-model="form.numero_recibo"
                    v-bind:readonly="!is_readonly"
                    type="text"
                    name="numero_recibo"
                    placeholder="numero_recibo"
                    class="form-control"
                    :class="{ 'is-invalid': form.errors.has('numero_recibo') }"
                />
                <has-error :form="form" field="numero_recibo"></has-error>
            </div>
    


            <div class="modal-footer">
                <router-link to="/historicos/pontos" class="btn btn-primary btn-neutral">Voltar</router-link>
                <template v-if="!is_readonly">
                    <button v-show="!editmode" type="submit" class="btn btn-primary">Salvar</button>
                    <button v-show="editmode" type="submit" class="btn btn-primary">Editar</button>
                </template>
            </div>
        </form>
    </div>
</template>

<script>
    import crud from '@components/crud'
    import { VclBulletList } from 'vue-content-loading';

    export default {
        props: {
            is_readonly: Boolean,
            loading: Boolean
        },

        components: {
            VclBulletList
        },

        data() {
            return {
                isLoading: this.loading,
                editmode: this.$route.params.id ? true : false,
                colaboradorhistorico : {},
                form: new Form({
                    id: '',
                    observacao_colaborador: '',
                    justificativa_colaborador: '',
                    observacao_empresa: '',
                    justificativa_empresa: '',
                    numero_recibo: '',
                    hora_ponto: ''
                }),
                search: ''
            }
        },

        methods: {
            getData(){
                this.isLoading = true
                this.form.reset()
                axios.get(`/api/colaboradorhistoricopontos/${this.$route.params.id}`)
                .then(({data}) => {
                    (this.form.fill(data))
                    this.isLoading = false

                    console.log(this.form);
                })
                .catch((err) => {
                    this.isLoading = false
                    toast({
                        type: 'error',
                        title: 'Algo de errado aconteceu, por favor entre em contato com o suporte!'
                    })

                    console.log(err)
                })
            },

            create(){
                crud.create(this, 'colaboradorhistoricopontos')
            },

            update(){
                crud.update(this, 'colaboradorhistoricopontos')
            }
        },
        created() {
            if(this.editmode) {
                this.getData()
            }
        }
    }
</script>
