<template>
    <div>
        <not-found v-if="!$gate.isColaboradorPontosVisualizar()"></not-found>
        <template v-else>
            <BreadcrumbsComponent principal="Histórico de pontos"/>

            <div class="container-fluid mt--6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">Histórico de pontos</div>
                            <!-- /.card-header -->
                            <div class="card-body">

                                <!-- <router-link to="/historicos/pontos/create" class="btn btn-success btn-sm"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar </router-link> -->

                                <!-- <div class="form-inline my-2 my-lg-0 float-right">
                                    <div class="input-group">
                                        <input class="form-control" @keyup="searchit" v-model="search" type="search" placeholder="Buscar..." aria-label="Search">
                                        <span class="input-group-append">
                                            <button class="btn btn-info btn-icon" @click="searchit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div> -->
                                <br>
                                <br>
                                <!-- <div class="table-responsive">
                                    <table class="table">
                                        <VclTable v-if="loading" :columns="6" :rows="5"></VclTable>
                                        <tbody v-else>
                                        <tr>
                                            <th>#</th>
                                            <th>Colaborador</th>
                                            <th>Período</th>
                                            <th>Ferramentas</th>
                                        </tr>
                                        <tr v-for="(item, index) in colaboradorhistoricos.data" :key="item.id">
                                            <td>{{ index + 1 }}</td>
                                            <td>{{ item.name }}</td>
                                            <td>{{ item.created_at | myDate }}</td>

                                            <td>
                                                
                                                <router-link v-bind:to="{ path: '/historicos/pontos/' + item.id }" title="Editar Post"><button class="btn btn-info btn-sm"><i class="fas fa-eye" aria-hidden="true"></i></button></router-link>
                                                <router-link v-bind:to="{ path: '/historicos/pontos/' + item.id + '/edit' }" title="Editar Post"><button class="btn btn-primary btn-sm"><i class="fas fa-edit" aria-hidden="true"></i></button></router-link>

                                                <button v-if="$gate.isAdmin()" class="btn btn-danger btn-sm" @click="destroy(item.id, item.name)"><i class="fa fa-trash"></i></button>
                                                

                                                <button @click="modificaPermissao(item.id, 1)" type="button" class="btn btn-sm btn-primary btn-fab btn-icon btn-round">
                                                    <i class="fa fa-thumbs-up"></i>
                                                </button>

                                                <button @click="modificaPermissao(item.id, 2)" type="button" class="btn btn-sm btn-warning btn-fab btn-icon btn-round">
                                                    <i class="fa fa-thumbs-down"></i>
                                                </button>
                                                
                                                <button @click="modificaPermissao(item.id, 4)" type="button" class="btn btn-sm btn-danger btn-fab btn-icon btn-round">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div> -->
                                <div class="card" v-for="(historico, index) in colaboradorhistoricos" v-bind:key="index">
                                    <div class="card-header" style="text-align: center;"><strong>{{ historico[0].dia_semana_string }}</strong></div>

                                    <div class="card-body">
                                        <div class="row">
                                            <div v-for="hist in historico" v-bind:key="hist.id" class="col-3">
                                                <router-link v-if="consultas_ponto_select_visualizar_editar == 'visualizarEditar'" v-bind:to="{ path: '/historicos/pontos/' + hist.id + '/edit' }" title="Editar Post">
                                                    <i v-if="hist.permissao == 0"
                                                        style="color:orange;" 
                                                        class="far fa-lg fa-arrow-alt-circle-right" 
                                                        aria-hidden="true"
                                                    ></i>

                                                    <i v-if="hist.permissao == 1"
                                                        style="color:blue;" 
                                                        class="far fa-lg fa-arrow-alt-circle-right" 
                                                        aria-hidden="true"
                                                    ></i>

                                                    <i v-if="hist.permissao == 2"
                                                        style="color:red;" 
                                                        class="far fa-lg fa-arrow-alt-circle-right" 
                                                        aria-hidden="true"
                                                    ></i>

                                                    <i v-if="hist.permissao == 4"
                                                        style="color:green;" 
                                                        class="far fa-lg fa-arrow-alt-circle-right" 
                                                        aria-hidden="true"
                                                    ></i>
                                                    <span>{{ hist.hora_ponto }}</span>
                                                </router-link>
                                                <span v-else>
                                                    <i v-if="hist.permissao == 0"
                                                        style="color:orange;" 
                                                        class="far fa-lg fa-arrow-alt-circle-right" 
                                                        aria-hidden="true"
                                                    ></i>

                                                    <i v-if="hist.permissao == 1"
                                                        style="color:blue;" 
                                                        class="far fa-lg fa-arrow-alt-circle-right" 
                                                        aria-hidden="true"
                                                    ></i>

                                                    <i v-if="hist.permissao == 2"
                                                        style="color:green;" 
                                                        class="far fa-lg fa-arrow-alt-circle-right" 
                                                        aria-hidden="true"
                                                    ></i>

                                                    <i v-if="hist.permissao == 4"
                                                        style="color:red;" 
                                                        class="far fa-lg fa-arrow-alt-circle-right" 
                                                        aria-hidden="true"
                                                    ></i>
                                                    <span>{{ hist.hora_ponto }}</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <pagination :data="colaboradorhistoricos" @pagination-change-page="pagination"></pagination>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    import BreadcrumbsComponent from '@components/menus/headers/BreadcrumbsComponent'
    import crud from '@components/crud'
    import { VclTable } from 'vue-content-loading';

    export default {
        components: {
            BreadcrumbsComponent, VclTable
        },

        data(){
            return {
                loading: true,
                editmode: false,
                colaboradorhistoricos : {},
                form: new Form({
                consultas_ponto_select_visualizar_editar: 'visualizar',
                    id: '',
                    empresas_id: '', 
                    users_id: '', 
                    registro_pontos_id: '',
                    created_at: ''
                }),
                search: ''
            }
        },

        methods: {
            searchit: _.debounce(() => {
                Fire.$emit('searching');
            },1000),

            pagination(page = 1){
                this.loading = true
                axios.get(`/api/colaboradorhistoricos?page=${page}`)
				.then(response => {
					this.colaboradorhistoricos = response.data;
                    this.loading = false
				});
            },

            destroy(id, name){
                crud.delete(id, this, 'colaboradorhistoricos')
            },

            load(){
                axios.get('/api/colaboradorhistoricopontos').then(({ data}) => {
                    console.log(data, 11);
                    (this.colaboradorhistoricos = data.reverso)
                    this.consultas_ponto_select_visualizar_editar = data.consultas_ponto_select_visualizar_editar
                    this.loading = false
                });
            },

            modificaPermissao(id, permissao) {
                axios.post(`/api/colaboradorhistoricos/modificapermissao`, {id, permissao}).then(data => {
                    Fire.$emit('AfterCreate')

                    toast({
                        type: 'success',
                        title: permissao == 1 ? 'Sucesso!' : 'Sucesso!'
                    })
                })
            }

        },
        created() {
            Fire.$on('searching', () => {
                this.form.created_at = moment(this.form.created_at).format('YYYY-MM-DD');
                let query = this.search;
                axios.get(`/api/colaboradorhistoricos/findColaboradorhistoricopontos?q=${query}`)
                    .then((data) => {
                      this.colaboradorhistoricos = data.data
                    });
            });

            this.load()

            Fire.$on('AfterCreate', () => {
                this.load()
            });

        }
    }
</script>
