<template>
    <div>
        <BreadcrumbsComponent principal="RegistroMarcacaoPonto" :hasMethod="true" method="Editar"/>      

        <div class="container-fluid mt--6">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header">Editar Marcacão de Ponto</div>
                        <div class="card-body">
                            <formInputs v-bind:loading="true"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import BreadcrumbsComponent from '../../../components/menus/headers/BreadcrumbsComponent'
import formInputs from './form'

export default {
    components: {
        BreadcrumbsComponent,formInputs
    }
}
</script>