<template>
    <div>
        <VclBulletList :rows="1" v-if="isLoading"></VclBulletList>
        
        <form v-else @submit.prevent="editmode ? update() : create()">
            <div class="form-group">
                <label for="empresas_id" class="control-label">'Empresas Id'</label>
                <input class="form-control" name="empresas_id" type="number" id="empresas_id">
            </div>
            <div class="form-group">
                <label for="users_id" class="control-label">'Users Id'</label>
                <input class="form-control" name="users_id" type="number" id="users_id">
            </div>
            <div class="form-group">
                <label for="registro_pontos_id" class="control-label">'Registro Pontos Id'</label>
                <input class="form-control" name="registro_pontos_id" type="number" id="registro_pontos_id">
            </div>
            <div class="form-group">
                <label for="aprovado_reprovado" class="control-label">'Aprovado Reprovado'</label>
                <div class="radio">
                <label><input name="aprovado_reprovado" type="radio"> Yes</label>
            </div>
            <div class="radio">
                <label><input name="aprovado_reprovado" type="radio" value="0"> No</label>
            </div>
            </div>
            <div class="form-group">
                <label for="foto" class="control-label">'Foto'</label>
                <input class="form-control" name="foto" type="text" id="foto" >
            </div>
            <div class="form-group">
                <label for="origem_ponto" class="control-label">'Origem Ponto'</label>
                <input
                v-model="form.origem_ponto"
                v-bind:readonly="is_readonly"
                type="text"
                name="origem_ponto"
                placeholder="origem_ponto"
                class="form-control"
                :class="{ 'is-invalid': form.errors.has('origem_ponto') }"
            />
            <has-error :form="form" field="origem_ponto"></has-error>
            </div>
            <div class="form-group">
                <label for="justificativa_colaborador" class="control-label">'Justificativa Colaborador'</label>
                <textarea 
                v-model="form.justificativa_colaborador"
                rows="5" name="justificativa_colaborador" 
                type="textarea" 
                v-bind:readonly="is_readonly"
                placeholder="justificativa_colaborador"
                class="form-control" 
                :class="{ 'is-invalid': form.errors.has('justificativa_colaborador') }"
            ></textarea>
            <has-error :form="form" field="justificativa_colaborador"></has-error>

            </div>
            <div class="form-group">
                <label for="observacao_colaborador" class="control-label">'Observacao Colaborador'</label>
                <textarea 
                v-model="form.observacao_colaborador"
                rows="5" name="observacao_colaborador" 
                type="textarea" 
                v-bind:readonly="is_readonly"
                placeholder="observacao_colaborador"
                class="form-control" 
                :class="{ 'is-invalid': form.errors.has('observacao_colaborador') }"
            ></textarea>
            <has-error :form="form" field="observacao_colaborador"></has-error>

            </div>
            <div class="form-group">
                <label for="justificativa_empresa" class="control-label">'Justificativa Empresa'</label>
                <textarea 
                v-model="form.justificativa_empresa"
                rows="5" name="justificativa_empresa" 
                type="textarea" 
                v-bind:readonly="is_readonly"
                placeholder="justificativa_empresa"
                class="form-control" 
                :class="{ 'is-invalid': form.errors.has('justificativa_empresa') }"
            ></textarea>
            <has-error :form="form" field="justificativa_empresa"></has-error>

            </div>
            <div class="form-group">
                <label for="observacao_empresa" class="control-label">'Observacao Empresa'</label>
                <textarea 
                v-model="form.observacao_empresa"
                rows="5" name="observacao_empresa" 
                type="textarea" 
                v-bind:readonly="is_readonly"
                placeholder="observacao_empresa"
                class="form-control" 
                :class="{ 'is-invalid': form.errors.has('observacao_empresa') }"
            ></textarea>
            <has-error :form="form" field="observacao_empresa"></has-error>

            </div>
            <div class="form-group">
                <label for="numero_recibo" class="control-label">'Numero Recibo'</label>
                <input
                v-model="form.numero_recibo"
                v-bind:readonly="is_readonly"
                type="text"
                name="numero_recibo"
                placeholder="numero_recibo"
                class="form-control"
                :class="{ 'is-invalid': form.errors.has('numero_recibo') }"
            />
                <has-error :form="form" field="numero_recibo"></has-error>
            </div>
    


            <div class="modal-footer">
                <router-link to="/NOME" class="btn btn-primary btn-neutral">Voltar</router-link>
                <template v-if="!is_readonly">
                    <button v-show="!editmode" type="submit" class="btn btn-primary">Salvar</button>
                    <button v-show="editmode" type="submit" class="btn btn-primary">Editar</button>
                </template>
            </div>
        </form>
    </div>
</template>

<script>
    import crud from '@components/crud'
    import { VclBulletList } from 'vue-content-loading';

    export default {
        props: {
            is_readonly: Boolean,
            loading: Boolean
        },

        components: {
            VclBulletList
        },

        data() {
            return {
                isLoading: this.loading,
                editmode: this.$route.params.id ? true : false,
                NOME : {},
                form: new Form({
                    id: '',

                }),
                search: ''
            }
        },

        methods: {
            getData(){
                this.isLoading = true
                this.form.reset()
                axios.get(`/api/ROTA/${this.$route.params.id}`)
                .then(({data}) => {
                    (this.form.fill(data))
                    this.isLoading = false
                })
                .catch((err) => {
                    this.isLoading = false
                    toast({
                        type: 'error',
                        title: 'Algo de errado aconteceu, por favor entre em contato com o suporte!'
                    })

                    console.log(err)
                })
            },

            create(){
                crud.create(this, 'ROTA')
            },

            update(){
                crud.update(this, 'ROTA')
            }
        },
        created() {
            if(this.editmode) {
                this.getData()
            }
        }
    }
</script>
