<template>
    <div>
        <BreadcrumbsComponent principal="RegistroMarcacaoPonto" v-bind:hasMethod="true" method="Visualizar"/>      

        <div class="container-fluid mt--6">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header">Visualizar Marcacões de Ponto</div>
                        <div class="card-body">
                            <FormInputs v-bind:is_readonly="true" v-bind:loading="true"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import BreadcrumbsComponent from '../../../components/menus/headers/BreadcrumbsComponent'
import FormInputs from './form'

export default {
    components: {
        BreadcrumbsComponent,FormInputs
    }
}
</script>
