<template>
    <div>
        <VclBulletList :rows="1" v-if="isLoading"></VclBulletList>
        
        <form v-else @submit.prevent="editmode ? update() : create()">
       
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="form-group">
                        <label for="descricao" class="control-label">Descrição</label>
                        <input
                            v-model="form.descricao"
                            v-bind:readonly="is_readonly"
                            type="text"
                            name="descricao"
                            placeholder="descricao"
                            class="form-control"
                            :class="{ 'is-invalid': form.errors.has('descricao') }"
                        />
                            <has-error :form="form" field="descricao"></has-error>
                    </div>
                </div>
                

                <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <div class="form-group">
                        Ativo
                        <label class="custom-toggle">
                            <input  name="status" v-model="form.status" type="checkbox" checked>
                            <span class="custom-toggle-slider rounded-circle" data-label-off="Nao" data-label-on="Sim"></span>
                        </label>
                    </div>
                </div>


            <div class="modal-footer">
                <router-link to="/admin/ocorrenciasjustificadas" class="btn btn-primary btn-neutral">Voltar</router-link>
                <template v-if="!is_readonly">
                    <button v-show="!editmode" type="submit" class="btn btn-primary">Salvar</button>
                    <button v-show="editmode" type="submit" class="btn btn-primary">Editar</button>
                </template>
            </div>
        </form>
    </div>
</template>

<script>
    import crud from '@components/crud'
    import { VclBulletList } from 'vue-content-loading';

    export default {
        props: {
            is_readonly: Boolean,
            loading: Boolean
        },

        components: {
            VclBulletList
        },

        data() {
            return {
                isLoading: this.loading,
                editmode: this.$route.params.id ? true : false,
                ocorrenciasjustificadas : {},
                form: new Form({
                    id: '',
                    descricao: '',
                    status: true
                }),
                search: ''
            }
        },

        methods: {
            getData(){
                this.isLoading = true
                this.form.reset()
                axios.get(`/api/ocorrenciasjustificadas/${this.$route.params.id}`)
                .then(({data}) => {
                    (this.form.fill(data))
                    this.isLoading = false
                })
                .catch((err) => {
                    this.isLoading = false
                    toast({
                        type: 'error',
                        title: 'Algo de errado aconteceu, por favor entre em contato com o suporte!'
                    })

                    console.log(err)
                })
            },

            create(){
                crud.create(this, 'ocorrenciasjustificadas')
            },

            update(){
                crud.update(this, 'ocorrenciasjustificadas')
            }
        },
        created() {
            if(this.editmode) {
                this.getData()
            }
        }
    }
</script>
