<template>
    <div>
        <VclBulletList :rows="1" v-if="isLoading"></VclBulletList>
        
        <form v-else @submit.prevent="editmode ? update() : create()">
             <div class="row">
                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="form-group">
                        <label for="nome" class="control-label">Nome</label>
                        <input
                        v-model="form.nome"
                        v-bind:readonly="is_readonly"
                        type="text"
                        name="nome"
                        placeholder="Nome"
                        class="form-control"
                        :class="{ 'is-invalid': form.errors.has('nome') }"
                    />
                        <has-error :form="form" field="nome"></has-error>
                    </div>
                </div>
            </div>


            <div class="modal-footer">
                <router-link to="/admin/perfis" class="btn btn-primary btn-neutral">Voltar</router-link>
                <template v-if="!is_readonly">
                    <button v-show="!editmode" type="submit" class="btn btn-primary">Salvar</button>
                    <button v-show="editmode" type="submit" class="btn btn-primary">Editar</button>
                </template>
            </div>
        </form>
    </div>
</template>

<script>
    import crud from '@components/crud'
    import { VclBulletList } from 'vue-content-loading';

    export default {
        props: {
            is_readonly: Boolean,
            loading: Boolean
        },

        components: {
            VclBulletList
        },

        data() {
            return {
                isLoading: this.loading,
                editmode: this.$route.params.id ? true : false,
                perfis : {},
                form: new Form({
                    id: '',
                    nome: '',

                }),
                search: ''
            }
        },

        methods: {
            getData(){
                this.isLoading = true
                this.form.reset()
                axios.get(`/api/perfis/${this.$route.params.id}`)
                .then(({data}) => {
                    (this.form.fill(data))
                    this.isLoading = false
                })
                .catch((err) => {
                    this.isLoading = false
                    toast({
                        type: 'error',
                        title: 'Algo de errado aconteceu, por favor entre em contato com o suporte!'
                    })

                    console.log(err)
                })
            },

            create(){
                crud.create(this, 'perfis')
            },

            update(){
                crud.update(this, 'perfis')
            }
        },
        created() {
            if(this.editmode) {
                this.getData()
            }
        }
    }
</script>
