<template>
    <div>
        <VclBulletList :rows="5" v-if="isLoading"></VclBulletList>
        
        <form v-else @submit.prevent="editmode ? update() : create()">
             <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <span class="d-none">{{ i = 0 }}</span>
                    <span class="d-none">{{ chave = '' }}</span>
                    <div  v-for="(permissoes, key) in permissoesOrdenado" v-bind:key="permissoes.id"  class="card">
                        <span v-for="(item, pei) in permissoes" v-bind:key="item.id" class="d-none">
                            <span v-if="i == 0">{{ chave = pei }}</span>
                        </span>
                        
                        <!-- Card header -->
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <!-- Title -->
                                    <h5 class="h3 mb-0">{{ key }}</h5>
                                </div>
                                <!-- <div class="col-4 text-right">
                                    <a href="#!" class="btn btn-sm btn-neutral">Action</a>
                                </div> -->
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li v-for="(permissao, index) in permissoes" v-bind:key="permissao.id"  class="list-group-item">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                            <h4>{{ index }}</h4>
                                        </div>
                                        <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                            <div class="row">
                                                <div v-for="p in permissao" v-bind:key="p.id" class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                                    <span>{{ p.descricao }}</span>
                                                    <label class="custom-toggle">
                                                        <input type="checkbox" v-bind:value="p.id" v-model="form.chaves_ordem">
                                                        <span class="custom-toggle-slider rounded-circle" data-label-off="Nao" data-label-on="Sim"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li> 
                        </ul>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <router-link to="/admin/perfis" class="btn btn-primary btn-neutral">Voltar</router-link>
                 
                <button type="submit" class="btn btn-primary">Editar</button>
            </div>
        </form>
    </div>
</template>

<script>
    import crud from '@components/crud'
    import { VclBulletList } from 'vue-content-loading';

    export default {
        props: {
            is_readonly: Boolean,
            loading: Boolean
        },

        components: {
            VclBulletList
        },

        data() {
            return {
                isLoading: this.loading,
                editmode: this.$route.params.id ? true : false,
                permissoesOrdenado : {},
                chave: '',
                i: 0,
                form: new Form({
                    id: '',
                    nome: '',
                    chaves_ordem: []

                }),
                search: ''
            }
        },

        methods: {
            getData(){
                this.form.reset()
                axios.get(`/api/permissoes`)
                .then(({data}) => {
                    this.form.id = this.$route.params.id
                    this.permissoesOrdenado = data
                    this.isLoading = false
                })
                .catch((err) => {
                    this.isLoading = false
                    toast({
                        type: 'error',
                        title: 'Algo de errado aconteceu, por favor entre em contato com o suporte!'
                    })

                    console.log(err)
                })
            },

            getPermissoesUsuarios() {
                this.isLoading = true
                 axios.get(`/api/permissoesusuarios/${this.$route.params.id}`)
                .then(({data}) => {
                    console.log(data, 2222)
                    if (data == 0) {
                        this.$router.go(-1)
                    }

                    data.forEach(element => {
                        this.form.chaves_ordem.push(element.idpermissao);
                    });
                })
                .catch((err) => {
                    this.isLoading = false
                    // toast({
                    //     type: 'error',
                    //     title: 'Algo de errado aconteceu, por favor entre em contato com o suporte!'
                    // })

                    console.log(err)
                })
            },

            create(){
                crud.create(this, 'permissoesusuarios')
            },

            update(){
                crud.update(this, 'permissoesusuarios')
            }
        },
        created() {
            if(this.editmode) {
                this.getPermissoesUsuarios()
                this.getData()
            }
        }
    }
</script>
