<template>

</template>

<script>

export default {
    create(_this, rota, back = true){
        console.log(_this.form, 1);
        let loader = _this.$loading.show({
            // Optional parameters
            container: null,
            canCancel: false,
            onCancel: this.onCancel,
        });

        _this.form.post(`/api/${rota}`)
            .then(data =>{
                console.log(data.data, 2);
                
                _this.form.reset()
                
                if (back === true)
                    _this.$router.go(-1)

                Fire.$emit('AfterCreate')

                loader.hide()

                toast({
                    type: 'success',
                    title: 'Sucesso!'
                })
            })
            .catch((err) => {
                loader.hide()

                toast({
                    type: 'error',
                    title: 'Algo de errado aconteceu, verifique os campos e tente novamente!'
                })

                console.log(err)
            })
    },

    update(_this, rota, back = true){
        console.log(_this.form, 'chegou no update');
        let loader = _this.$loading.show({
            // Optional parameters
            container: null,
            canCancel: false,
            onCancel: this.onCancel,
        });

        _this.form.put(`/api/${rota}/${_this.form.id}`)
            .then(res => {
                    console.log(res.data, 'then update');
                loader.hide()

                toast({
                    type: 'success',
                    title: 'Sucesso!'
                })

                _this.form.reset()

                if (back === true)
                    _this.$router.go(-1)

                Fire.$emit('AfterCreate')
            })
            .catch((err) => {
                console.log(err, 'error update');
                loader.hide()
                toast({
                    type: 'error',
                    title: 'Algo de errado aconteceu, verifique os campos e tente novamente!'
                })

                console.log(err)
            })
    },

    delete(id, _this, rota, semAlerta = null){
        if (semAlerta == null){
            swal({
                title: 'Atenção?',
                text: `Está ação não poderá ser desfeita.`,
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sim, Deletar!',
                cancelButtonText: 'Não, Cancelar',
                }).then((result) => {
                    console.log(result.data, 'deletou');
    
                    if (result.value) {
                        let loader = _this.$loading.show({
                            // Optional parameters
                            container: null,
                            canCancel: false,
                            onCancel: this.onCancel,
                        });
                        _this.form.delete(`/api/${rota}/${id}`).then( res =>{
                            loader.hide()
                                console.log(res.data, 777);
                            swal(
                                'Sucesso!',
                                ``,
                                'success'
                            )
                            Fire.$emit('AfterCreate');
    
                        }).catch(()=> {
                            loader.hide()
                            swal("Erro!", "Algo de errado aconteceu, por favor entre em contato com o suporte.", "warning");
    
                        });
                    }
                })
        } else {
            _this.form.delete(`/api/${rota}/${id}`).then( res =>{
                        console.log(res.data, 777);
                    Fire.$emit('AfterCreate');

                }).catch(()=> {
                    swal("Erro!", "Algo de errado aconteceu, por favor entre em contato com o suporte.", "warning");

                });
        }

    },
}
</script>

<style>

</style>
