<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div v-for="message in messages" class="card" :key="message.id">
                    <div class="card-header">{{ message.title }}</div>

                    <div class="card-body">
                        {{ message.body }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                messages: []
            }
        },
        mounted() {
            Echo.private('message-received.59')
                .listen('SendMessage', (event) => {
                    console.log(event)

                    this.messages.push(event)
                })
        }
    }
</script>
