<template>
    <div class="preloader" v-if="preloader == true">
        <img src="/css/Spinner-1s-200px.svg" alt="">
    </div>
</template>

<script>
export default {
    computed: {
        preloader() {
            return this.$store.state.preloader.loading
        }
    }
}
</script>

<style scoped>
 .preloader {
     background: rgba(0, 0, 0, .20);
     position: fixed;
     top: 0;
     z-index: 9999;
     width: 100%;
     height: 100%;
     margin: 0;
     text-align: center;
     padding: 5% 0;
 }

 .preloader img {
     max-width: 100px;
     margin-top: 20%;
 }
</style>
