<template>
    <div>
        <VclBulletList :rows="5" v-if="isLoading"></VclBulletList>
        
        <template v-else>
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label for="created_at" class="control-label">Data Início</label>
                        <br />
                        <datetime value-zone="local" zone="local" type="date" v-model="dataInicio" format="dd/MM/yyyy"></datetime>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="created_at" class="control-label">Data Fim</label>
                        <br />
                        <datetime value-zone="local" zone="local" type="date" v-model="dataFim" format="dd/MM/yyyy"></datetime>
                    </div>
                </div>

                <div class="col-3">
                    <button class="btn btn-success mt-3" @click.prevent="fitrarPorData">Buscar</button>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="card">
                        <!-- Card header -->
                        <div class="card-header border-0">
                        <h3 class="mb-0"></h3>
                        </div>
                        <div class="table-responsive">
                            <table v-for="(historico, index, indexnumero) in colaboradorhistorico['marcacoes']" v-bind:key="indexnumero" class="table align-items-center table-flush">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">{{ index }}</th>
                                        <th scope="col">previstas: {{ historico.previstas }}</th>
                                        <th scope="col">
                                            trabalhadas: 
                                            {{ historico.trabalhadas == 'inconsistencia' ? '--:--' :historico.trabalhadas }}
                                        </th>
                                        <th scope="col">
                                            Abonos: {{ historico.abono }}
                                        </th>
                                        <th scope="col">
                                            intervalo: {{ historico.intervalos == 'inconsistencia' ? '--:--' :historico.intervalos }}
                                        </th>
                                        <th scope="col">
                                            saldo: 
                                            <span 
                                                v-if="Math.sign(historico.saldos.slice(0, 2)) === -1"
                                                style="color: green;"
                                            >
                                                {{historico.saldos.replace('-', '+')}}
                                            </span>

                                            <template 
                                                v-else
                                            >
                                                <span v-if="historico.saldos.slice(0, 2) == '00'" style="color: green;">+{{ historico.saldos }}</span>
                                                <span v-else style="color: red;">-{{historico.saldos}}</span>
                                            </template>
                                        </th>
                                        <th>
                                            <button v-if="historico.ocorrencias.length > 0" class="btn btn-warning btn-sm">Ocorrência</button>
                                        </th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody class="list">
                                    <tr>
                                        <td>
                                            <div class="media">
                                                <button 
                                                    type="button" 
                                                    class="btn btn-outline-default btn-icon-only rounded-circle mt-2 ml-3" 
                                                    data-toggle="modal" 
                                                    data-placement="bottom" 
                                                    title="Lançar Ocorrência"
                                                    @click="lancarOcorrenciaModal(historico[0])"
                                                    data-target="#modalLancarOcorrencias">
                                                    <span class="btn-inner--icon"><i class="fa fa-wrench"></i></span>
                                                </button>
                                                
                                                <button 
                                                    type="button" 
                                                    class="btn btn-outline-default btn-icon-only rounded-circle mt-2 ml-3" 
                                                    data-toggle="modal" 
                                                    data-placement="bottom" 
                                                    title="Lançar Ponto Manual"
                                                    data-target="#modalPontoManual"
                                                    @click="lancarPontoManualModal(historico[0])">
                                                    <span class="btn-inner--icon"><i class="fas fa-pencil-alt"></i></span>
                                                </button>
                                            </div>
                                        </td>
                                        <td class="budget" v-for="(hist) in historico" v-bind:key="hist.id">
                                            <template v-if="typeof(hist) == 'object'">
                                                <span 
                                                    v-bind:to="{ path: '/historicos/pontos/' + hist.id + '/edit' }" title="Editar Post">
                                                    <i v-if="hist.permissao == 0"
                                                        style="color:orange;" 
                                                        class="far fa-lg fa-arrow-alt-circle-right" 
                                                        aria-hidden="true"
                                                    ></i>

                                                    <i v-if="hist.permissao == 1"
                                                        style="color:blue;" 
                                                        class="far fa-lg fa-arrow-alt-circle-right" 
                                                        aria-hidden="true"
                                                    ></i>

                                                    <i v-if="hist.permissao == 2"
                                                        style="color:green;" 
                                                        class="far fa-lg fa-arrow-alt-circle-right" 
                                                        aria-hidden="true"
                                                    ></i>

                                                    <i v-if="hist.permissao == 4"
                                                        style="color:red;" 
                                                        class="far fa-lg fa-arrow-alt-circle-right" 
                                                        aria-hidden="true"
                                                    ></i>
                                                    <span>{{ hist.hora_ponto }}</span>
                                                </span>
                                                <div class="description">
                                                    <div class="card card-stats">
                                                        <div class="card card-stats">
                                                        <!-- Card body -->
                                                            <div class="card-body">
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <h5 class="card-title text-uppercase text-muted mb-0">Ponto <i class="ni ni-air-baloon float-right text-primary"></i></h5>
                                                                    </div>
                                                                        <br>
                                                                    <div class="col-auto mt-2">
                                                                        <p class="h6 font-weight-bold mb-0">Data: {{ hist.created_at | myDate }}</p>
                                                                    </div>
                                                                        <br>
                                                                    <div class="col-auto mt-2">
                                                                        <p class="h6 font-weight-bold mb-0">Origem do ponto: {{ hist.origem_ponto }}</p>
                                                                    </div>
                                                                        <br>
                                                                    <div class="col-auto mt-2">
                                                                        <p class="h6 font-weight-bold mb-0">Observação: {{ hist.observacao_colaborador }}</p>
                                                                    </div>
                                                                        <br>
                                                                    <div class="col-auto mt-2">
                                                                        <p class="h6 font-weight-bold mb-0">Justificativa: {{ hist.justificativa_colaborador }}</p>
                                                                    </div>
                                                                </div>

                                                                <div class="mt-2 mb-0 text-sm">
                                                                    <div class="row">

                                                                        <div v-if="hist.permissao == 1" class="col-3">
                                                                            <span v-if="$gate.isPontoEditar()"
                                                                                class="text-nowrap"
                                                                                data-toggle="modal" 
                                                                                data-target="#modal-reprovarPonto"
                                                                                @click="reprovarPontoModal(hist)"
                                                                                data-placement="bottom" 
                                                                                title="Reprovar"
                                                                            ><i class="far fa-thumbs-down"></i></span>
                                                                        </div>

                                                                        <div v-else class="col-3">
                                                                            <span v-if="$gate.isPontoEditar()"
                                                                                class="text-nowrap"
                                                                                @click="aprovarPontoModal(hist)"
                                                                                data-toggle="modal" 
                                                                                data-target="#modal-aprovarPonto"
                                                                                data-placement="bottom" 
                                                                                title="Aprovar"
                                                                            ><i class="far fa-thumbs-up"></i></span>
                                                                        </div>
                                                                        
                                                                        <div class="col-3">
                                                                            <span v-if="$gate.isPontoEditar()"
                                                                                class="text-nowrap"
                                                                                @click="corrigirPontoModal(hist)"
                                                                                data-toggle="modal" 
                                                                                data-placement="bottom" 
                                                                                title="Ajustar Ponto"
                                                                                data-target="#modal-corrigirPontoModal"
                                                                            ><i class="far fa-edit"></i></span>
                                                                        </div>
                                                                        
                                                                        <!-- <div class="col-3">
                                                                            <span 
                                                                                class="text-nowrap"
                                                                                @click="localizacaoAproximadaPontoModal(hist)"
                                                                                data-toggle="modal" 
                                                                                data-placement="bottom" 
                                                                                title="Localização Aproximada"
                                                                                data-target="#modal-localizacaoAproximadaPontoModal"
                                                                            ><i class="fas fa-map-marked-alt"></i></span>
                                                                        </div> -->
                                                                        
                                                                        <div class="col-3">
                                                                            <span 
                                                                                class="text-nowrap"
                                                                                @click="visualizaPhotoPontoModal(hist)"
                                                                                data-toggle="modal" 
                                                                                data-placement="bottom" 
                                                                                title="Visualizar Foto"
                                                                                data-target="#modal-visualizaPhotoPontoModal"
                                                                            ><i class="fas fa-camera"></i></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>                               
                                                    </div>
                                                </div>
                                            </template>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </template>

        <!-- MODAL OCORRENCIAS -->
            <div class="modal fade" id="modalLancarOcorrencias" tabindex="-1" role="dialog" aria-labelledby="modalLancarOcorrenciasTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Lançar Ocorrência</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="form-group">
                                        <label for="ocorrencias_justificadas_id" class="control-label">Motivo</label>
                                        <select
                                            name="ocorrencias_justificadas_id"
                                            v-model="lancarOcorrenciaList.ocorrencias_justificadas_id"
                                            id="ocorrencias_justificadas_id"
                                            class="form-control"
                                            :class="{ 'is-valid': form.errors.has('ocorrencias_justificadas_id')}"
                                        >
                                            <option value="">Selecione</option>
                                            <option v-for="ocorrencias in ocorrenciasjustificadasList" v-bind:key="ocorrencias.id" v-bind:value="ocorrencias.id">{{ ocorrencias.descricao }}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="custom-control custom-radio mb-3">
                                                <input type="radio" id="one" value="0" checked v-model="lancarOcorrenciaList.dia_ou_datahora">
                                                <label for="two">Dia Inteiro</label>
                                            </div>
                                            
                                        </div>
                                        <div class="col-md-6">
                                            <div class="custom-control custom-radio mb-3">
                                                <input type="radio" id="two" value="1" v-model="lancarOcorrenciaList.dia_ou_datahora">
                                                <label for="two">Por Data e Hora</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div v-if="lancarOcorrenciaList.dia_ou_datahora != null" class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                    <div class="form-group">
                                        <label for="periodo_inicio" class="control-label">Início:</label>
                                        <br>
                                        <datetime value-zone="local" zone="local" v-if="lancarOcorrenciaList.dia_ou_datahora == 1" type="datetime" v-model="lancarOcorrenciaList.periodo_inicio" format="dd/MM/yyyy HH:mm"></datetime>
                                        <datetime value-zone="local" zone="local" v-else type="date" v-model="lancarOcorrenciaList.periodo_inicio" format="dd/MM/yyyy"></datetime>
                                    </div>
                                </div>
                                <template v-if="lancarOcorrenciaList.dia_ou_datahora == 1" class="mt-4">
                                    <span class="mt-4">às </span>
                                    <datetime value-zone="local" zone="local" class="mt-4" type="time" v-model="lancarOcorrenciaList.periodo_fim" format="HH:mm"></datetime>
                                </template>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <div v-if="lancarOcorrenciaList.dia_ou_datahora == 0" class="form-group">
                                        <label for="periodo_fim" class="control-label">Fim:</label>
                                        <br>
                                        <!-- <datetime value-zone="local" zone="local" v-if="lancarOcorrenciaList.dia_ou_datahora == 1" type="datetime" v-model="lancarOcorrenciaList.periodo_fim" format="dd/MM/yyyy HH:mm"></datetime> -->
                                        <datetime value-zone="local" zone="local" type="date" v-model="lancarOcorrenciaList.periodo_fim" format="dd/MM/yyyy"></datetime>
                                    </div>
                                </div>

                                <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p>* A empresa receberá um aviso sobre o lançamento dessa
                                        <br> ocorrência e poderá solicitar um documento para oficializar a inclusão da mesma, que ficará pendente de aprovação.</p>
                                </div> -->
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            <button @click.prevent="lancarOcorrencia(lancarOcorrenciaList)" type="submit" class="btn btn-primary">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>
        <!-- MODAL OCORRENCIAS -->
        
        <!-- MODAL PONTOS MANUAIS -->
            <div class="modal fade" id="modalPontoManual" tabindex="-1" role="dialog" aria-labelledby="modalPontoManualTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitlePonto">Lançar Ponto Manual</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="form-group">
                                        <label for="">Data {{ lancarPontoManual.created_at | onlyDate }} às </label>
                                        <input type="text" v-model="lancarPontoManual.hora_ponto_vazio" v-mask="'##:##'"/>
                                        <input type="hidden" v-model="lancarPontoManual.created_at"/>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="form-group">
                                        <label for="title" class="control-label">Observação</label>
                                        <input
                                            v-model="lancarPontoManual.observacao_empresa"
                                            type="text"
                                            name="observacao_empresa"
                                            placeholder="Opcional"
                                            class="form-control"
                                        />
                                    </div>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="form-group">
                                        <label for="title" class="control-label">Justificativa</label>
                                        <input
                                            v-model="lancarPontoManual.justificativa_empresa"
                                            type="text"
                                            name="justificativa_empresa"
                                            placeholder=""
                                            class="form-control"
                                        />
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <!-- <p>* A empresa receberá um aviso sobre o lançamento desse ponto, que ficará pendente de aprovação.</p> -->
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="button" @click.prevent="lancarPonto(lancarPontoManual)" class="btn btn-primary">Registrar Ponto</button>
                        </div>
                    </div>
                </div>
            </div>
        <!-- MODAL PONTOS MANUAIS -->

        <!-- MODAL REPROVAPONTO -->
            <div class="modal fade" id="modal-reprovarPonto" tabindex="-1" role="dialog" aria-labelledby="modal-reprovarPonto" aria-hidden="true">
                <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title" id="modal-title-default">Reprovar Ponto</h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p><strong>Confirma Reprovação do Ponto:</strong></p>
                            <p>Data: {{ reprovarModal.created_at | myDate }}</p>
                            <p><strong>Justificativa</strong>: {{ reprovarModal.justificativa_colaborador }}</p>
                            <p><strong>Observação</strong>: {{ reprovarModal.observacao_colaborador }}</p>

                            <hr>
                            
                            <div class="form-group">
                                <label for="title" class="control-label">Justificativa</label>
                                <input
                                    v-model="reprovarModal.reprova_justificativa_empresa"
                                    type="text"
                                    name="reprova_justificativa_empresa"
                                    placeholder="Opcional"
                                    class="form-control"
                                />
                            </div>
                            
                            <div class="form-group">
                                <label for="title" class="control-label">Observação</label>
                                <input
                                    v-model="reprovarModal.reprova_observacao_empresa"
                                    type="text"
                                    name="reprova_observacao_empresa"
                                    placeholder="Opcional"
                                    class="form-control"
                                />
                            </div>

                            <h4>ATENÇÃO! Ao reprovar um ponto este não será mais contabilizado</h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Cancelar</button>
                            <button @click="reprovarPonto(reprovarModal)" type="button" class="btn btn-primary">Reprovar</button>
                        </div>
                    </div>
                </div>
            </div>
        <!-- MODAL REPROVAPONTO -->

        <!-- MODAL APROVAPONTO -->
            <div class="modal fade" id="modal-aprovarPonto" tabindex="-1" role="dialog" aria-labelledby="modal-aprovarPonto" aria-hidden="true">
                <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title" id="modal-title-default">Aprovar Ponto</h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p><strong>Confirma Aprovação do Ponto:</strong></p>
                            <p><strong>Data</strong>: {{ aprovarModal.created_at | myDate }}</p>
                            <p><strong>Justificativa</strong>: {{ aprovarModal.justificativa_colaborador }}</p>
                            <p><strong>Observação</strong>: {{ aprovarModal.observacao_colaborador }}</p>

                            <hr>
                            <div class="form-group">
                                <label for="title" class="control-label">Justificativa</label>
                                <input
                                    v-model="aprovarModal.aprova_justificativa"
                                    type="text"
                                    name="aprova_justificativa"
                                    placeholder="Opcional"
                                    class="form-control"
                                />
                            </div>
                            <div class="form-group">
                                <label for="title" class="control-label">Observação</label>
                                <input
                                    v-model="aprovarModal.aprova_observacao"
                                    type="text"
                                    name="aprova_observacao"
                                    placeholder="Opcional"
                                    class="form-control"
                                />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Cancelar</button>
                            <button @click="aprovarPonto(aprovarModal)" type="button" class="btn btn-primary">Aprovar</button>
                        </div>
                    </div>
                </div>
            </div>
        <!-- MODAL APROVAPONTO -->

        <!-- MODAL corrigirPontoModal -->
            <div class="modal fade" id="modal-corrigirPontoModal" tabindex="-1" role="dialog" aria-labelledby="modal-corrigirPontoModal" aria-hidden="true">
                <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title" id="modal-title-default">Ajustar Ponto</h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <label for="created_at" class="control-label">Data e Hora do Ponto atual: {{ corrigirModal.created_at | myDate }}</label>
                            <p><strong>Justificativa</strong>: {{ aprovarModal.justificativa_colaborador }}</p>
                            <p><strong>Observação</strong>: {{ aprovarModal.observacao_colaborador }}</p>
                            
                            <hr>
    
                            <label for="">Data {{ corrigirModal.created_at | onlyDate }} às </label>
                            <input type="text" v-model="corrigirModal.hora_ponto" v-mask="'##:##'"/>
                            <input type="hidden" v-model="corrigirModal.created_at"/>

                            <div class="form-group">
                                <label for="title" class="control-label">Justificativa</label>
                                <input
                                    v-model="corrigirModal.justificativa"
                                    type="text"
                                    name="corrigirmodal_justificativa"
                                    placeholder="Opcional"
                                    class="form-control"
                                />
                            </div>
                            
                            <div class="form-group">
                                <label for="title" class="control-label">Observação</label>
                                <input
                                    v-model="corrigirModal.observacao"
                                    type="text"
                                    name="corrigirmodal_justificativa"
                                    placeholder="Opcional"
                                    class="form-control"
                                />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Cancelar</button>
                            <button @click="corrigirPonto(corrigirModal)" type="button" class="btn btn-primary">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>
        <!-- MODAL corrigirPontoModal -->

        <!-- MODAL corrigirPontoModal -->
            <div class="modal fade" id="modal-visualizaPhotoPontoModal" tabindex="-1" role="dialog" aria-labelledby="modal-visualizaPhotoPontoModal" aria-hidden="true">
                <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title" id="modal-title-default">Foto</h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img v-if="visualizaPhotoModal.origem_ponto == 'WEB'" class="img-fluid" v-bind:src="visualizaPhotoModal.foto ? visualizaPhotoModal.foto : null" alt="">
                            <img v-else class="img-fluid" v-bind:src="visualizaPhotoModal.foto ? URL_API + visualizaPhotoModal.foto : null" alt="">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Cancelar</button>
                            <!-- <button @click="visualizaPhotoPonto(corrigirModal)" type="button" class="btn btn-primary">Confirmar</button> -->
                        </div>
                    </div>
                </div>
            </div>
        <!-- MODAL corrigirPontoModal -->

        <!-- MODAL LocalizacaoPontoModal -->
            <div class="modal fade" id="modal-localizacaoAproximadaPontoModal" tabindex="-1" role="dialog" aria-labelledby="modal-localizacaoAproximadaPontoModal" aria-hidden="true">
                <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title" id="modal-title-default">Foto</h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {{localizacaoAproximadaModal}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Cancelar</button>
                            <!-- <button @click="visualizaPhotoPonto(corrigirModal)" type="button" class="btn btn-primary">Confirmar</button> -->
                        </div>
                    </div>
                </div>
            </div>
        <!-- MODAL LocalizacaoPontoModal -->


        <div class="modal-footer">
            <router-link to="/admin/controledeponto/pontos" class="btn btn-primary btn-neutral">Voltar</router-link>
            <template v-if="!is_readonly">
                <button v-show="!editmode" type="submit" class="btn btn-primary">Salvar</button>
                <button v-show="editmode" type="submit" class="btn btn-primary">Editar</button>
            </template>
        </div>
        
    </div>
</template>

<script>
    import crud from '@components/crud'
    import { VclBulletList } from 'vue-content-loading';
    import {URL_API} from '../../../../url_api'

    export default {
        props: {
            is_readonly: Boolean,
            loading: Boolean
        },

        components: {
            VclBulletList
        },

        data() {
            return {
                URL_API: URL_API,
                pontos: [1, 2],
                isLoading: this.loading,
                editmode: this.$route.params.id ? true : false,
                colaboradorhistorico : {},

                dataInicio: '',
                dataFim: '',
                ocorrenciasjustificadasList: [],

                lancarOcorrenciaList: [],
                lancarPontoManual: [],
                reprovarModal: [],
                aprovarModal: [],
                corrigirModal: [],
                localizacaoAproximadaModal: [],
                visualizaPhotoModal: [],

                form: new Form({
                    id: '',
                    observacao_colaborador: '',
                    justificativa_colaborador: '',
                    observacao_empresa: '',
                    justificativa_empresa: '',
                    numero_recibo: '',
                    hora_ponto: '',

                    
                }),
                search: ''
            }
        },

        methods: {
            async getData(){
                this.isLoading = true
                this.form.reset()

                const formData = new FormData();
                formData.append("id", this.$route.params.id);
                formData.append("dataInicio", this.dataInicio);
                formData.append("dataFim", this.dataFim);

                await axios.post(`/api/pontos/exibeMarcacoesDePonto`, formData)
                .then(data => {
                    this.isLoading = false

                    this.colaboradorhistorico['marcacoes'] = data.data.marcacoes_de_pontos
                    console.log(data.data, 'pei');
                })
                .catch((err) => {
                    this.isLoading = false
                    toast({
                        type: 'error',
                        title: 'Algo de errado aconteceu, por favor entre em contato com o suporte!'
                    })

                    console.error(err)
                })
            },

            fitrarPorData() {
                this.getData()
            },

            create(){
                crud.create(this, 'pontos')
            },

            update(){
                crud.update(this, 'pontos')
            },

            lancarOcorrenciaModal(ponto) {
                this.lancarOcorrenciaList = ponto
            },

            lancarPontoManualModal(ponto) {
                this.lancarPontoManual = ponto
            },

            corrigirPontoModal(ponto) {
                this.corrigirModal = ponto
            },

            aprovarPontoModal(ponto) {
                this.aprovarModal = ponto
            },

            reprovarPontoModal(ponto) {
                this.reprovarModal = ponto
            },

            localizacaoAproximadaPontoModal(ponto) {
                console.log(ponto.users_id);
                axios.get(`/api/cercas-virtuais/${ponto.users_id}`).then(res => {
                    console.log(res.data, 293829382);
                })
                this.localizacaoAproximadaModal = ponto.users_id
            },

            visualizaPhotoPontoModal(ponto) {
                this.visualizaPhotoModal = ponto
            },

            lancarOcorrencia(ponto) {
                if (ponto.ocorrencias_justificadas_id === undefined) {
                    toast({type: 'error', title: 'Por favor, selecione o motivo.'})
                    return false;
                }

                if (ponto.dia_ou_datahora === undefined) {
                    toast({type: 'error', title: 'Por favor, selecione se é dia todo ou com hora.'})
                    return false;
                }

                ponto.periodo_inicio = moment(ponto.periodo_inicio).format('YYYY-MM-DD HH:mm:ss');

                ponto.periodo_fim = moment(ponto.periodo_fim).format('YYYY-MM-DD HH:mm:ss');

                axios.post(`/api/pontos/lancarOcorrencia`, {"ponto": ponto}).then(data => {
                    console.log(data, 'eia', 'corrigido');
                    Fire.$emit('AfterCreate')

                    toast({type: 'success', title: 'Ponto Corrigido!'})
                    
                })
                $('#modalLancarOcorrencias').modal('hide')
            },

            lancarPonto(ponto) {
                axios.post(`/api/pontos/lancarPontoManual`, {"ponto": ponto}).then(data => {
                    Fire.$emit('AfterCreate')

                    toast({type: 'success', title: 'Ponto Corrigido!'})
                    console.log(data.data, 'eia', 'corrigido');
                })
                $('#modalPontoManual').modal('hide')
            },

            corrigirPonto(ponto) {
                axios.post(`/api/pontos/corrigirPonto`, {"ponto": ponto}).then(data => {
                    Fire.$emit('AfterCreate')

                    toast({type: 'success', title: 'Ponto Corrigido!'})
                    console.log(data.data, 'corrigido');
                })
                $('#modal-corrigirPontoModal').modal('hide')
            },

            aprovarPonto(ponto) {
                axios.post(`/api/pontos/aprovarPonto`, {"ponto": ponto}).then(data => {
                    Fire.$emit('AfterCreate')

                    toast({type: 'success', title: 'Ponto aprovado!'})
                })
                $('#modal-aprovarPonto').modal('hide')
            },

            reprovarPonto(ponto) {
                axios.post(`/api/pontos/reprovarPonto`, {"ponto": ponto}).then(data => {
                    Fire.$emit('AfterCreate')

                    toast({type: 'success', title: 'Ponto reprovado!'})

                    console.log(data.data, 88);
                })
                $('#modal-reprovarPonto').modal('hide')
            },

            localizacaoAproximadaPonto() {

            },

            createPontoManual() {
                // this.pegaImagem()

                // crud.create(this, 'registromarcacaopontosmanuais')
                $('#idmodal').modal('hide')
                
                let loader = this.$loading.show({
                    // Optional parameters
                    container: null,
                    canCancel: false,
                    onCancel: this.onCancel,
                });
                this.form.created_at = moment(this.form.created_at).format('YYYY-MM-DD HH:mm:ss');
                this.form.hora_ponto = moment(this.form.created_at).format('HH:mm');
                
                this.form.post(`/api/registromarcacaopontosmanuais`)
                    .then(data =>{                    
                        console.log(data.data);
                        loader.hide()

                        swal.fire({
                            title: 'Ponto registrado com sucesso!',
                            text: `Recibo nº: ${data.data.numero_recibo}`,
                            icon: 'warning',
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'OK!'
                        }).then((result) => {
                            if (result.value) {
                                location.reload();
                            }
                        })
                    })
                    .catch((err) => {
                        loader.hide()

                        toast({
                            type: 'error',
                            title: 'Algo de errado aconteceu, verifique os campos e tente novamente!'
                        })

                        console.log(err)
                    })
            },

            ocorrenciasjustificadas(){
                axios.get('/api/ocorrenciasjustificadas').then(({ data}) => {

                    data.data.forEach(element => {
                        if (element.status == 1)
                            this.ocorrenciasjustificadasList.push(element)
                    });
                });
            },
        },
        created() {
            if(this.editmode) {
                this.getData()
                this.ocorrenciasjustificadas()
            }

             Fire.$on('AfterCreate', () => {
                this.getData()
            });

        }
    }
</script>

<style scoped>
    .active {
        color: red;
    }
    .corGato {
        color: white;
    }
    html, body {
    color: #681;
        background: #fff;
        min-width: 700px;
    }

  

    /* ---- Timeline elements ---- */
    td {
        position: relative;
        /* display: inline-block; */
       
        width: 200px;
        font: bold 14px arial;
    height: 50px;
    }
    td .diplome {
    position: absolute;
    top: -47px;
    left: 36%;
    color: #000000;
    }
    td .point {
        content: "";
        top: -4px;
        left: 43%;
        display: block;
        width: 12px;
        height: 12px;
        background: #fff;
    position: absolute;
    }
    td .description {
    display: none;
    background-color: #f4f4f4;
    padding: 10px;
    margin-top: 20px;
    position: relative;
    font-weight: normal;
    z-index: 1;
    }
    .description::before {
        content: '';
        width: 0; 
        height: 0; 
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #f4f4f4;
        position: absolute;
        top: -5px;
        left: 43%;
    }

    /* ---- Hover effects ---- */
    td:hover {
        cursor: pointer;
        color: #48A4D2;
    }
    td:hover .description {
    display: block;
    }
</style>

<!--
var obj =  {
  "19/05/2020 Terça-feira": {
    "0": {
      "id": 1485,
      "users_id": 60,
      "registro_pontos_id": 21,
      "dia_semana_string": "19/05/2020 Terça-feira",
      "aprovado_reprovado": 1,
      "permissao": 1,
      "hora_ponto": "17:40",
      "created_at": "2020-05-19 17:40:24",
      "foto": "img/colaboradores/pontos/5edd6d58f3833.jpeg",
      "origem_ponto": "WEB",
      "justificativa_colaborador": null,
      "observacao_colaborador": "saida",
      "justificativa_empresa": null,
      "observacao_empresa": null
    },
    "previstas": "10:18",
    "trabalhadas": "inconsistencia",
    "intervalos": "inconsistencia",
    "saldos": "10:18"
  },
  "24/05/2020 Quarta-feira": {
    "0": {
      "id": 1520,
      "users_id": 60,
      "registro_pontos_id": 33,
      "dia_semana_string": "24/05/2020 Quarta-feira",
      "aprovado_reprovado": 1,
      "permissao": 1,
      "hora_ponto": "07:00",
      "created_at": "2020-05-24 07:00:10",
      "foto": "/img/colaboradores/pontos/1592993470.png",
      "origem_ponto": "WEB",
      "justificativa_colaborador": null,
      "observacao_colaborador": null,
      "justificativa_empresa": null,
      "observacao_empresa": null
    },
    "1": {
      "id": 1521,
      "users_id": 60,
      "registro_pontos_id": 33,
      "dia_semana_string": "24/05/2020 Quarta-feira",
      "aprovado_reprovado": 1,
      "permissao": 1,
      "hora_ponto": "12:00",
      "created_at": "2020-05-24 12:00:54",
      "foto": "/img/colaboradores/pontos/1592993754.png",
      "origem_ponto": "WEB",
      "justificativa_colaborador": null,
      "observacao_colaborador": null,
      "justificativa_empresa": null,
      "observacao_empresa": null
    },
  }
}  

const arrayReverseObj = (obj) => {
  let newArray = []

  Object.keys(obj)
    .sort()
    .reverse()
    .forEach(key => {
      console.log(key)
      newArray.push( {
      'key':key, 
      'id': obj[key].id,
      'hora_ponto': obj[key],
      })
    })

  console.log(newArray, 2)
  return newArray  
}

arrayReverseObj(obj)
-->