<template>
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0"></h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item">
                                    <router-link to="/dashboard">
                                        <i class="fas fa-home"></i>
                                    </router-link>
                                </li>
                                <li class="breadcrumb-item">
                                    <router-link to="/dashboard">Home</router-link>
                                </li>
                                <template v-if="!hasMethod">
                                    <li class="breadcrumb-item active" aria-current="page">{{ principal }}</li>
                                </template>
                                <template v-else>
                                    <li class="breadcrumb-item" aria-current="page">
                                        <a v-on:click.prevent="$router.go(-1)" style="cursor: pointer;">{{ principal }}</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">{{ method }}</li>
                                </template>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-6 col-5 text-right">
                        <a v-on:click.prevent="$router.go(-1)" class="btn btn-sm btn-neutral">Voltar</a>    
                    </div>
                </div> 
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        principal: String,
        hasMethod: Boolean,
        method: String
    },
    data() {
        return {

        }
    }
}
</script>