<template>
    <div>
        <not-found v-if="!$gate.isColaboradorBancoDeHorasVisualizar()"></not-found>
        <template v-else>
            <BreadcrumbsComponent principal="Banco de Horas"/>

            <div class="container-fluid mt--6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>Colaboradores</h4>

                                <!-- <router-link to="/admin/importar-afd-afdt" class="float-right btn btn-default btn-sm">Importar AFD/AFDT</router-link> -->
                                <!-- <router-link to="/admin/exportar-afd-afdt" class="ml-2 float-right btn btn-success btn-sm">Exportar AFD/AFDT</router-link> -->
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">

                                <!-- <router-link to="/admin/controledeponto/pontos/create" class="btn btn-success btn-sm"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar </router-link> -->

                                <div class="form-inline my-2 my-lg-0 float-right">
                                    <div class="input-group">
                                        <input class="form-control" @keyup="searchit" v-model="search" type="search" placeholder="Buscar..." aria-label="Search">
                                        <span class="input-group-append">
                                            <button class="btn btn-info btn-icon" @click="searchit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <h2 v-if="bancodehoras.length < 1">Nenhum Registro</h2>
                                <div v-else class="table-responsive">
                                    <table class="table">
                                        <VclTable v-if="loading" :columns="6" :rows="5"></VclTable>
                                        <tbody v-else>
                                        <tr>
                                            <th>#</th>
                                            <th>Colaborador</th>
                                            <th>Matricula</th>
                                            <th>Setor</th>
                                            <th>Cargo</th>
                                            <!-- <th>Inconsistência</th> -->
                                            <th>Ferramentas</th>
                                        </tr>
                                        <tr v-for="(item, index) in bancodehoras.data" :key="item.id">
                                            <td>{{ index + 1 }}</td>
                                            <td>{{ item.name }}</td>
                                            <td>{{ item.matricula }}</td>
                                            <td>{{ item.setor }}</td>
                                            <td>{{ item.cargo }}</td>
                                            <!-- <td>
                                                <button type="button" class="btn btn-danger btn-sm"
                                                 v-if="item.inconsistencia != null || item.inconsistena_permissao != null">
                                                    Sim
                                                </button>
                                            </td> -->

                                            <td>
                                                
                                                <!-- <router-link v-bind:to="{ path: '/admin/controledeponto/pontos/' + item.id }" title="Editar Post"><button class="btn btn-info btn-sm"><i class="fas fa-eye" aria-hidden="true"></i></button></router-link> -->
                                                <router-link v-bind:to="{ path: '/historicos/bancodehoras/' + item.id + '/edit' }" title="Editar Post"><button class="btn btn-primary btn-sm"><i class="fas fa-edit" aria-hidden="true"></i></button></router-link>

                                                <!-- <button v-if="$gate.isAdmin()" class="btn btn-danger btn-sm" @click="destroy(item.id, item.name)"><i class="fa fa-trash"></i></button> -->
                                                
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <pagination :data="bancodehoras" @pagination-change-page="pagination"></pagination>
                            </div>
                        </div>
                        <!-- /.card -->
                        
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    import BreadcrumbsComponent from '@components/menus/headers/BreadcrumbsComponent'
    import crud from '@components/crud'
    import { VclTable } from 'vue-content-loading';

    export default {
        components: {
            BreadcrumbsComponent, VclTable
        },

        data(){
            return {
                loading: true,
                editmode: false,
                bancodehoras : {},
                form: new Form({
                    id: '',
                    empresas_id: '', 
                    users_id: '', 
                    registro_pontos_id: '',
                    created_at: ''
                }),
                search: ''
            }
        },

        methods: {
            searchit: _.debounce(() => {
                Fire.$emit('searching');
            },1000),

            pagination(page = 1){
                this.loading = true
                axios.get(`/api/bancodehoras?page=${page}`)
				.then(response => {
					this.bancodehoras = response.data;
                    this.loading = false
				});
            },

            destroy(id, name){
                crud.delete(id, this, 'bancodehoras')
            },

            load(){
                axios.get('/api/bancodehoras').then(({ data}) => {
                    console.log(data.data, 11);
                    (this.bancodehoras = data)
                    this.loading = false
                });
            },

            

        },
        created() {
            Fire.$on('searching', () => {
                this.form.created_at = moment(this.form.created_at).format('YYYY-MM-DD');
                let query = this.search;
                axios.get(`/api/bancodehoras/findRegistroPonto?q=${query}`)
                    .then((data) => {
                      this.bancodehoras = data.data
                    });
            });

            this.load()

            Fire.$on('AfterCreate', () => {
                this.load()
            });

        }
    }
</script>
