<template>
    <div>
        <not-found v-if="!$gate.isOcorrenciasPendentesVisualizar()"></not-found>
        <template v-else>
            <BreadcrumbsComponent principal="Ocorrências Pendentes"/>

            <div class="container-fluid mt--6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">Ocorrências Pendentes</div>
                            <!-- /.card-header -->
                            <div class="card-body">

                                <!-- <router-link v-if="$gate.isOcorrenciasPendentesAdicionar()" to="/ocorrenciaspendentes/create" class="btn btn-success btn-sm"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar </router-link> -->

                                <div class="form-inline my-2 my-lg-0 float-right">
                                    <div class="input-group">
                                        <input class="form-control" @keyup="searchit" v-model="search" type="search" placeholder="Buscar..." aria-label="Search">
                                        <span class="input-group-append">
                                            <button class="btn btn-info btn-icon" @click="searchit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="table-responsive">
                                    <h1 v-if="ocorrenciaspendentes.data == 0">Sem Ocorrências Pendentes</h1>
                                    <table v-else class="table">
                                        <VclTable v-if="loading" :columns="6" :rows="5"></VclTable>
                                        <tbody v-else>
                                        <tr>
                                            <th>#</th>
                                            <th v-if="$gate.isMaster()">Empresas</th>
                                            <th>Colaborador</th>
                                            <th>Descricao</th>
                                            <th>Período</th>
                                            <th>Arquivo</th>
                                            <th>Ferramentas</th>

                                        </tr>
                                        <tr v-for="(item, index) in ocorrenciaspendentes.data" :key="item.id">
                                            <td>{{ index + 1 }}</td>
                                            <th v-if="$gate.isMaster()">{{ item.empresas_name }}</th>
                                            <td>{{ item.name }}</td>
                                            <td>{{ item.descricao }}</td>
                                            <td v-if="item.dia_ou_datahora == 1">Por Data e Hora de {{ converteParaDataOuDataHora(item.periodo_inicio, item.dia_ou_datahora) }} às {{ converteParaDataOuDataHora(item.periodo_fim, item.dia_ou_datahora) }}</td>
                                            <td v-else>Dia inteiro de {{ converteParaDataOuDataHora(item.periodo_inicio, item.dia_ou_datahora) }} </td>
                                            <td>
                                                <button @click="imagemArquivo(item.photo)" type="button" class="btn btn-secondary btn-sm">
                                                    Visualizar Arquivo
                                                </button>
                                            </td>
                                            <td>
                                                <template v-if="$gate.isOcorrenciasPendentesEditar()">
                                                    <button @click="aprovarOUreprovar(item.id, 1)" type="button" class="btn btn-sm btn-primary btn-fab btn-icon btn-round">
                                                        <i class="fa fa-thumbs-up"></i> Aprovar
                                                    </button>

                                                    <button @click="aprovarOUreprovar(item.id, 0)" type="button" class="btn btn-sm btn-warning btn-fab btn-icon btn-round">
                                                        <i class="fa fa-thumbs-down"></i> Reprovar
                                                    </button>
                                                </template>
                                                <!--
                                                <router-link v-bind:to="{ path: '/ocorrenciaspendentes/' + item.id }" title="Editar Post"><button class="btn btn-info btn-sm"><i class="fas fa-eye" aria-hidden="true"></i></button></router-link>
                                                <router-link v-if="$gate.isOcorrenciasPendentesEditar()" v-bind:to="{ path: '/ocorrenciaspendentes/' + item.id + '/edit' }" title="Editar Post"><button class="btn btn-primary btn-sm"><i class="fas fa-edit" aria-hidden="true"></i></button></router-link>

                                                <button v-if="$gate.isOcorrenciasPendentesDeletar()" class="btn btn-danger btn-sm" @click="destroy(item.id, item.name)"><i class="fa fa-trash"></i></button>
                                                -->
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <pagination :data="ocorrenciaspendentes" @pagination-change-page="pagination"></pagination>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    import BreadcrumbsComponent from '../../../components/menus/headers/BreadcrumbsComponent'
    import crud from '@components/crud'
    import { VclTable } from 'vue-content-loading';

    export default {
        components: {
            BreadcrumbsComponent, VclTable
        },

        data(){
            return {
                loading: true,
                editmode: false,
                ocorrenciaspendentes : {},
                arquivo: '',
                form: new Form({
                    id: '',
                    empresas_id: '',
                    users_id: '',
                    descricao: ''

                }),
                search: ''
            }
        },

        methods: {
            searchit: _.debounce(() => {
                Fire.$emit('searching');
            },1000),

            pagination(page = 1){
                this.loading = true
                axios.get(`/api/ocorrenciaspendentes?page=${page}`)
				.then(response => {
					this.ocorrenciaspendentes = response.data;
                    this.loading = false
				});
            },

            destroy(id, name){
                crud.delete(id, this, 'ocorrenciaspendentes')
            },

            load(){
                axios.get('/api/ocorrenciaspendentes').then(({ data}) => {
                    (this.ocorrenciaspendentes = data)
                    this.loading = false
                });
            },

            converteParaDataOuDataHora(data, dia_ou_datahora) {
                if (dia_ou_datahora == 0) {
                    return moment(data).format('DD/MM/YYYY')
                } else {
                    return moment(data).format('DD/MM/YYYY HH:mm')
                }
            },

            aprovarOUreprovar(id, aprovaOUreprova) {
                axios.post(`/api/aprovaroureprovar`, {id, aprovaOUreprova}).then(data => {
                    Fire.$emit('AfterCreate')

                    toast({
                        type: 'success',
                        title: aprovaOUreprova == 1 ? 'Aprovado com sucesso!' : 'Reprovado com sucesso!'
                    })
                })
            },
            imagemArquivo(url_arquivo) {
                // var buscaPdf = url_arquivo.search(".pdf");
                // if(buscaPdf > 0)
                    window.open('public/img/ocorrenciaspendentes/' + url_arquivo, '_blank');

                // this.arquivo = url_arquivo
            }
        },
        created() {
            Fire.$on('searching', () => {
                let query = this.search;
                axios.get(`/api/ocorrenciaspendentes/findOcorrenciaspendentes?q=${query}`)
                    .then((data) => {
                      this.ocorrenciaspendentes = data.data
                    });
            });

            this.load()

            Fire.$on('AfterCreate', () => {
                this.load()
            });

        }
    }
</script>
