<template>
    <div>
        
        <button type="button" id="delete-button">Deletar cercas</button>
        <button type="button" class="d-none" id="btn">Buscar</button>

        <input id="pac-input" class="controls" type="text" placeholder="Digite o endereço">
        <div id="map"></div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            posicao: [],
            user_id: this.$route.params.id != undefined ? this.$route.params.id : 0
        }
    },

    methods: {
        maps() {
            var userid = this.user_id
console.log('pppp');
            var drawingManager;
            var all_overlays = [];
            var circle = [];
            var circles = [];
            var selectedShape; 
            var marker = null;
            var markerz = [];
            var aux_tempo = '';
            var isInRadius = []
            var centerTest = []
            var cityCircle = [];
            var geocoder = null;

            function clearSelection() {}

            function setSelection(shape) {
            clearSelection();
            selectedShape = shape;
            shape.setEditable(false);
            // selectColor(shape.get('fillColor') || shape.get('strokeColor'));
            }

            function deleteSelectedShape() {
                if (userid == 0) {
                    axios.delete(`/api/mapauxiliar/${aux_tempo}`).then(data => {
                        console.log('pei');
                    })
                    for (var i = 0; i < all_overlays.length; i++) {
                        all_overlays[i].overlay.setMap(null);
                    }
                    all_overlays = [];

                }
                //  else {
                //     console.log(cityCircle);
                //     axios.delete(`/api/userscercasvirtuais/${userid}`).then(data => {
                //         console.log(data);
                //         location.reload();
                //     })
                // }

                    
            }
        
            

            async function initialize() {

                

                var map 
                

                await axios.get(`/api/cercas-virtuais/${userid}`).then(data => {
                    console.log(data.data[0],4444);
                    let latt = data.data[0] != undefined ? data.data[0].lat : -23.552559
                    let lngg = data.data[0] != undefined ? data.data[0].lng : -46.628299
                    let zoomm = data.data[0] != undefined ? 15 : 10

                    map = new google.maps.Map(document.getElementById('map'), {
                        zoom: zoomm,
                        center: new google.maps.LatLng(
                            latt,
                            lngg
                        ),
                        mapTypeId: google.maps.MapTypeId.ROADMAP,
                        disableDefaultUI: true,
                        zoomControl: true
                    }); 
                })

                // busca 
                // Create the search box and link it to the UI element.
                var input = document.getElementById('pac-input');
                var searchBox = new google.maps.places.SearchBox(input);
                map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

                // Bias the SearchBox results towards current map's viewport.
                map.addListener('bounds_changed', function() {
                searchBox.setBounds(map.getBounds());
                });

                var markersz = [];
                // Listen for the event fired when the user selects a prediction and retrieve
                // more details for that place.
                searchBox.addListener('places_changed', function() {
                var places = searchBox.getPlaces();

                if (places.length == 0) {
                    return;
                }

                // Clear out the old markersz.
                markersz.forEach(function(marker) {
                    marker.setMap(null);
                });
                markersz = [];

                // For each place, get the icon, name and location.
                var bounds = new google.maps.LatLngBounds();
                places.forEach(function(place) {
                    if (!place.geometry) {
                    console.log("Returned place contains no geometry");
                    return;
                    }
                    var icon = {
                    url: place.icon,
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(25, 25)
                    };

                    // Create a marker for each place.
                    markersz.push(new google.maps.Marker({
                    map: map,
                    icon: icon,
                    title: place.name,
                    position: place.geometry.location
                    }));

                    if (place.geometry.viewport) {
                    // Only geocodes have viewport.
                    bounds.union(place.geometry.viewport);
                    } else {
                    bounds.extend(place.geometry.location);
                    }
                });
                map.fitBounds(bounds);
                });

                // fim busca
                axios.get(`/api/cercas-virtuais/${userid}`).then(data => {
                    data.data.forEach(element => {
                        // Add the circle for this city to the map.
                        cityCircle = new google.maps.Circle({
                            strokeColor: '#FF0000',
                            strokeOpacity: 0.8,
                            strokeWeight: 2,
                            fillColor: '#FF0000',
                            fillOpacity: 0.35,
                            map: map,
                            center: {lat: parseFloat(element.lat), lng: parseFloat(element.lng)},
                            radius: parseFloat(element.radius)
                        });
                    });
                });
                    

            var drawingManager = new google.maps.drawing.DrawingManager({
                drawingControlOptions:{
                    drawingModes: ['circle',
                    // 'marker'
                    ],
                }
            })

            drawingManager.setMap(map);

            google.maps.event.addListener(drawingManager, 'overlaycomplete', function(e) {
                all_overlays.push(e);
                if (e.type != google.maps.drawing.OverlayType.MARKER) {
                // Switch back to non-drawin g mode after drawing a shape.
                drawingManager.setDrawingMode(null);

                // Add an event listener that selects the newly-drawn shape when the user
                // mouses down on it.
                var newShape = e.overlay;

                newShape.type = e.type;
                google.maps.event.addListener(newShape, 'click', function() {
                    setSelection(newShape);
                });
                setSelection(newShape);
                }

                if (e.type == 'circle') {
                    var center = e.overlay.getCenter()
                    circle = {
                        radius: e.overlay.getRadius(),
                        center: {
                            lat: center.lat(),
                            lng: center.lng()
                        },
                        overlay: e.overlay
                    }
                    circles.push(circle)

                    axios.post('/api/mapauxiliar', {
                        "lat": circle.center.lat,
                        "lng": circle.center.lng,
                        "radius": circle.radius,
                        "aux_tempo": moment().format('d') 
                    }).then(data => {
                        console.log('pei');
                    })

                    if (aux_tempo == '')
                        aux_tempo = moment().format('d') 
                }

                else if (e.type == 'marker') {
                    var position = e.overlay.position;
                    marker = {
                        center: [
                            circles
                        ]
                    }

                    circles.forEach(element => {
                        isInRadius.push( google.maps.geometry.spherical.computeDistanceBetween(
                            position, element.overlay.getCenter()) <= element.radius);
        
                    });
                        console.log(isInRadius);
                        isInRadius.length = 0
                }
                else {
                    console.log('algo errado bixuuu');
                }
            });

            // busca
                function showResult(result) {
                    map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 18,
                        center: new google.maps.LatLng(
                            result.geometry.location.lat(),
                            result.geometry.location.lng()
                        ),
                        mapTypeId: google.maps.MapTypeId.ROADMAP,
                        disableDefaultUI: true,
                        zoomControl: true
                    });
                }

                function getLatitudeLongitude(callback, address) {
                    // If adress is not supplied, use default value 'Ferrol, Galicia, Spain'
                    address = address || 'Ferrol, Galicia, Spain';
                    // Initialize the Geocoder
                    geocoder = new google.maps.Geocoder();
                    if (geocoder) {
                        geocoder.geocode({
                            'address': address
                        }, function (results, status) {
                            if (status == google.maps.GeocoderStatus.OK) {
                                callback(results[0]);
                            }
                        });
                    }
                }

                var button = document.getElementById('btn');

                button.addEventListener("click", function () {
                    var address = document.getElementById('address').value;
                    getLatitudeLongitude(showResult, address)
                });
            //
            
            google.maps.event.addDomListener(document.getElementById('delete-button'), 'click', deleteSelectedShape);


            }
            google.maps.event.addDomListener(window, 'load', initialize);
        }
    },

    mounted() {
        setTimeout(this.maps(), 1000)
    }
}
</script>

<style scoped>
#map{
    width: 100%;
    height: 700px;
    border: 1px solid black;
    float:left;
}

#pac-input {
background-color: #fff;
font-family: Roboto;
font-size: 15px;
font-weight: 300;
margin-left: 12px;
padding: 0 11px 0 13px;
text-overflow: ellipsis;
width: 400px;
}

#pac-input:focus {
border-color: #4d90fe;
}
</style>