<template>
    <div class="row">
        <!-- mês anterior -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-3 mt-1">
                <div class="text-center" style="text-transform: uppercase; font-weight: bold;">{{ mesAtual }}</div>
            </div>

            <div class="col-6  col-sm-5 col-md-5 col-lg-5 col-xl-5 offset-sm-2 offset-md-2 offset-lg-2 offset-xl-2">
                <i class="ni ni-watch-time"></i>&nbsp;Horas trabalhadas<br>
                <div style="font-size: 40px; font-weight: 600; line-height: 47px; display: block;">
                    <!-- <span id="horasTrabalhadasMesCorrente">{{ trabalhadas }}</span> -->
                    <span id="horasTrabalhadasMesCorrente">{{ trabalhadas }}</span>
                </div>
            </div>
            <div class="col-6 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                <i class="ni ni-watch-time"></i>&nbsp;Horas previstas<br>
                <div style="font-size: 40px; font-weight: 600; line-height: 47px; display: block;">
                    <span id="horasTrabalhadasMesCorrente">{{ previstas }}</span>
                </div>
            </div>
        <!-- mês anterior -->
        {{ horasPrevistas() }}
    </div>
</template>

<script>
export default {
    props: ['colaborador_escalas', 'colaborador_pontos'],

    data() {
        return {
            mesAtual: '',
            previstas: '',
            intervalo: '',
            trabalhadas: '',
        }
    },

    methods: {
        horasTrabalhadasV2() {
            var tempo = []

            if (this.colaborador_pontos) {
                this.colaborador_pontos.forEach(function (element, i) {
                    tempo.push(moment(element.created_at).format('HH:mm'))
                    
                }); 

                var tempoFinal = 0
                for (let index = 0; index < tempo.length; index++) {
                    if (tempo[index + 1] == undefined)
                        continue;

                    tempoFinal += moment(tempo[index +1],"HH:mm").diff(moment(tempo[index],"HH:mm"), 'minutes');                
                }

                this.trabalhadas = this.converteEmHoras(tempoFinal)
            }
        },

        horasPrevistas() {
            var hrStart = this.colaborador_escalas ? this.colaborador_escalas.users_escalas[0].escalas.inicio_expediente : null;
            var hrEnd = this.colaborador_escalas ? this.colaborador_escalas.users_escalas[0].escalas.fim_expediente : null;

            // Calcula a diferença em minutos entre os dois tempos 
            var diffInMinutes = moment(hrEnd,"HH:mm").diff(moment(hrStart,"HH:mm"), 'minutes');
            
            // Adiciona os minutos na hora desejada
            this.previstas = moment('00:00', 'HH:mm')
                .add(diffInMinutes, 'minutes')
                //.subtract(5, 'minutes')
                .format('HH:mm');

            this.horasTrabalhadasV2()
        },

        horasTrabalhadas() {
            axios.get('/api/registromarcacaopontos/totalHorasMesAtual').then(data => {
                var tempo = []
                for (let index = 0; index <= 31; index++) {
                    if (data.data[index] != undefined) {
                        data.data[index].forEach(function (element, i) {
                            tempo[element.day] += '-' + moment(element.created_at).format('HH:mm')           
                        }); 
                    }
                }

                var tempoSplit = []
                for (let index = 0; index <= tempo.length; index++) {
                    if (tempo[index] != undefined) {
                        tempoSplit[index] = tempo[index].split('-').splice(1)
                    }
                }

                var tempoFinal = 0
                tempoSplit.forEach(element => {
                    var loopTempos = 0
                    for (let index = 0; index < element.length; index++) {
                        if (element[index + 1] == undefined)
                            continue;

                        loopTempos += moment(element[index +1],"HH:mm").diff(moment(element[index],"HH:mm"), 'minutes');
                    }

                    tempoFinal += Number(loopTempos)
                });
                
                this.trabalhadas = this.converteEmHoras(Math.abs(tempoFinal))
            })
        },

        exibeNomeDoMes(){
            let mesNumero = moment().format('MM')
            let numeroMes = 0

            var meses = [
                '-',
                'Janeiro',
                'Fevereiro',
                'Março',
                'Abril',
                'Maio',
                'Junho',
                'Julho',
                'Agosto',
                'Setembro',
                'Outubro',
                'Novembro',
                'Dezembro'
            ];

            if (mesNumero < 10) {
                numeroMes = mesNumero.slice(1, 2)
            } else {
                numeroMes = mesNumero
            }
            
            // this.mesAtual = meses[numeroMes];
            this.mesAtual = moment().format('DD/MM/YYYY');
        },

        converteEmHoras(tempoFinal) {
            var hours = Math.floor(tempoFinal / 60);  
            var minutes = tempoFinal % 60;
            
            var horas = ''
            var minutos = ''

            if (hours < 10) {
                horas = '0' + hours ;    
            } else {
                horas = hours ;    
            }  
            
            if (minutes < 10) {
                minutos = '0' + minutes ;    
            } else {
                minutos = minutes ;    
            }  

            return horas + ':' + minutos
        }
    },

    mounted() {
        this.exibeNomeDoMes()
    }

}
</script>