<template>
    <div>
        <form  @submit.prevent="create()">
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12">Observação</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <textarea v-model="form.observacao_colaborador" class="form-control" placeholder="Opcional" maxlength="50" rows="3"></textarea>
                </div>
            </div>

            <hr>

            <span v-show="form.permite_ponto_web === false" class="text-warning">Você não tem permissão para registrar ponto, por favor, entre em contato com o suporte.</span>
            <button v-show="form.permite_ponto_web === true && form.permite_marcacao_ponto_web === true" class="btn btn-success" type="button" data-toggle="modal" data-target=".bd-baterponto-modal-lg"><i class="ni ni-bold-right"></i>&nbsp;Bater Ponto</button>
            <button v-show="form.permite_ponto_web === true && form.permite_marcacao_ponto_web === false" type="submit" class="btn btn-primary">Registrar Ponto</button>

            <div class="modal fade bd-baterponto-modal-lg" id="idmodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myLargeModalLabel"></h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        
                        <div class="modal-body">
                            <div class="row">
                                <div v-show="!form.foto" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <video id="player" controls autoplay  class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"></video>
                                    <button type="button" class="btn btn-success btn-lg btn-block" id="capture" @click="pegaImagem">Registrar Foto</button>
                                </div>
                                <div v-show="form.foto" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <canvas id="snapshot" style="width: 100%;"></canvas>
                                </div> 
                            </div>
                        </div>

                        <div class="modal-footer" v-show="form.foto">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            <button type="submit" class="btn btn-primary">Registrar Ponto</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
import crud from '@components/crud'

export default {
    data() {
        return {
            form: new Form({
                id: '',
                observacao_colaborador: '',
                foto: '',
                permissao: 1,
                aprovado_reprovado: 1,
                latitude: '',
                longitude: '',

                permite_marcacao_ponto_web: false,
                permite_ponto_web: false
            }),
        }
    },

    methods: {
        create(){
            this.pegaImagem()

            // crud.create(this, 'registromarcacaopontos')
            $('#idmodal').modal('hide')
            
            let loader = this.$loading.show({
                // Optional parameters
                container: null,
                canCancel: false,
                onCancel: this.onCancel,
            });

            this.form.post(`/api/registromarcacaopontos`)
                .then(data =>{                    
                    loader.hide()

                    swal.fire({
                        title: 'Ponto registrado com sucesso!',
                        text: `Recibo nº: ${data.data.numero_recibo}`,
                        icon: 'warning',
                        showCancelButton: false,
                        confirmButtonColor: '#3085d6',
                        confirmButtonText: 'OK!'
                    }).then((result) => {
                        if (result.value) {
                            location.reload();
                        }
                    })
                })
                .catch((err) => {
                    loader.hide()

                    toast({
                        type: 'error',
                        title: 'Algo de errado aconteceu, verifique a sua escala e cerca virtual e tente novamente!'
                    })

                    console.error(err)
                })
        },
        pegaImagem() {
            var canvas = document.getElementById('snapshot');
            var dataURL = canvas.toDataURL();
            this.form.foto  = dataURL
        },

         fotoCamera() {
            var player = document.getElementById('player'); 
            var snapshotCanvas = document.getElementById('snapshot');
            var captureButton = document.getElementById('capture');
            var videoTracks;

            var handleSuccess = function(stream) {
                // Attach the video stream to the video element and autoplay.
                player.srcObject = stream;
                videoTracks = stream.getVideoTracks();
            };

            captureButton.addEventListener('click', function() {
                var context = snapshot.getContext('2d');
                context.drawImage(player, 0, 0, snapshotCanvas.width, snapshotCanvas.height);

                // Stop all video streams.
                videoTracks.forEach(function(track) {track.stop()});
            });

            navigator.mediaDevices.getUserMedia({video: true})
                .then(handleSuccess);
        },

        showPosition(position) {
            this.form.latitude = position.coords.latitude
            this.form.longitude = position.coords.longitude

            console.log('latitude: ', this.form.latitude)
            console.log('longitude: ', this.form.longitude)
        },

        verificaSePodeBaterPontoRegistroWeb() {
            
            axios.get('api/registromarcacaopontos/verificaSePodeBaterPontoRegistroWeb')
                .then(({data}) => {
                    this.form.permite_marcacao_ponto_web = data.permite_marcacao_ponto_web == true ? true : false;
                    this.form.permite_ponto_web = data.permite_ponto_web == true ? true : false;
                })
        }
    },

    mounted() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(this.showPosition);
        }

        this.verificaSePodeBaterPontoRegistroWeb()

        setTimeout(this.fotoCamera(), 1000)

        
    }
}
</script>