<template>
<span>
    <button 
        type="button" 
        class="btn btn-outline-default btn-icon-only rounded-circle mt-2 ml-3" 
        data-toggle="modal" 
        data-placement="bottom" 
        title="Lançar Ponto Manual"
        data-target="#modalPontoManual">

        <span class="btn-inner--icon"><i class="fas fa-pencil-alt"></i></span>
    </button>

    <div class="modal fade" id="modalPontoManual" tabindex="-1" role="dialog" aria-labelledby="modalPontoManualTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <form  @submit.prevent="create()">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitlePonto">Lançar Ponto Manual</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="form-group">
                                    <label for="created_at" class="control-label">Hora do ponto</label>
                                    <br>
                                    <datetime value-zone="local" zone="local" type="time" v-model="form.created_at" format="HH:mm"></datetime>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="form-group">
                                    <label for="title" class="control-label">Observação</label>
                                    <input
                                        v-model="form.observacao_colaborador"
                                        type="text"
                                        name="observacao_colaborador"
                                        placeholder="Opcional"
                                        class="form-control"
                                        :class="{ 'is-invalid': form.errors.has('observacao_colaborador') }"
                                    />
                                    <has-error :form="form" field="observacao_colaborador"></has-error>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="form-group">
                                    <label for="title" class="control-label">Justificativa</label>
                                    <input
                                        v-model="form.justificativa_colaborador"
                                        type="text"
                                        name="justificativa_colaborador"
                                        placeholder=""
                                        class="form-control"
                                        :class="{ 'is-invalid': form.errors.has('justificativa_colaborador') }"
                                    />
                                    <has-error :form="form" field="justificativa_colaborador"></has-error>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>* A empresa receberá um aviso sobre o lançamento desse ponto, que ficará pendente de aprovação.</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Registrar Ponto</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</span>
</template>

<script>
export default {
    data() {
        return {
            form: new Form({
                id: '',
                observacao_colaborador: '',
                justificativa_colaborador: '',
                permissao: 0,          
                aprovado_reprovado: 0,
                created_at: '',
                hora_ponto: '' 
            }),
            momentFormat: {
                // Date to String
                stringify: (date) => {
                    return date ? moment(date).format('DD/MM/YYYY') : ''
                },
                // String to Date
                parse: (value) => {
                    return value ? moment(value, 'DD/MM/YYYY').toDate() : null
                }
            }
        }
    },

    methods: {
        create(){
            // this.pegaImagem()

            // crud.create(this, 'registromarcacaopontosmanuais')
            $('#idmodal').modal('hide')
            
            let loader = this.$loading.show({
                // Optional parameters
                container: null,
                canCancel: false,
                onCancel: this.onCancel,
            });
            this.form.created_at = moment(this.form.created_at).format('YYYY-MM-DD HH:mm:ss');
            this.form.hora_ponto = moment(this.form.created_at).format('HH:mm');
            
            this.form.post(`/api/registromarcacaopontosmanuais`)
                .then(data =>{                    
                    loader.hide()

                    swal.fire({
                        title: 'Ponto registrado com sucesso!',
                        text: `Recibo nº: ${data.data.numero_recibo}`,
                        icon: 'warning',
                        showCancelButton: false,
                        confirmButtonColor: '#3085d6',
                        confirmButtonText: 'OK!'
                    }).then((result) => {
                        if (result.value) {
                            location.reload();
                        }
                    })
                })
                .catch((err) => {
                    loader.hide()

                    toast({
                        type: 'error',
                        title: 'Algo de errado aconteceu, verifique os campos e tente novamente!'
                    })

                    console.log(err)
                })
        },
    }
}
</script>