<template>
    <div  class="mt-3">
        <!-- <p style="cursor: pointer;" data-toggle="modal" class="btn btn-outline-info" data-target="#modal-default">Dicas</p> -->

        <div class="modal fade bd-example-modal-lg" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
            <div class="modal-dialog modal- modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title" id="modal-title-default">Dicas</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="mb-3">:</p>

                        <p>Use o botão &nbsp;<button class="btn btn-success btn-sm" type="button"><i class="fa fa-sign-in"></i>&nbsp;Entrada</button> para registrar o início do expediente.</p>

                        <p>Use o botão &nbsp;<button class="btn btn-danger btn-sm" type="button"><i class="fa fa-sign-out"></i>&nbsp;Saída</button> para registrar a saída para o intervalo (se houver).</p>

                        <p>Use o botão &nbsp;<button class="btn btn-success btn-sm" type="button"><i class="fa fa-sign-in"></i>&nbsp;Entrada</button> para registrar o retorno do intervalo (se houver).</p>

                        <p>Use o botão &nbsp;<button class="btn btn-danger btn-sm" type="button"><i class="fa fa-sign-out"></i>&nbsp;Saída</button> para registrar o fim do expediente.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary  ml-auto" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>