<template>
<span>
    <button 
        type="button" 
        class="btn btn-outline-default btn-icon-only rounded-circle mt-2 ml-3" 
        data-toggle="modal" 
        data-placement="bottom" 
        title="Lançar Ocorrência"
        data-target="#modalLancarOcorrencias">
        <span class="btn-inner--icon"><i class="fa fa-wrench"></i></span>
    </button>

    <div class="modal fade" id="modalLancarOcorrencias" tabindex="-1" role="dialog" aria-labelledby="modalLancarOcorrenciasTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Lançar Ocorrência</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form  @submit.prevent="create()" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="form-group">
                                    <label for="ocorrencias_justificadas_id" class="control-label">Motivo</label>
                                    <select
                                        name="ocorrencias_justificadas_id"
                                        v-model="form.ocorrencias_justificadas_id"
                                        id="ocorrencias_justificadas_id"
                                        class="form-control"
                                        :class="{ 'is-valid': form.errors.has('ocorrencias_justificadas_id')}"
                                    >
                                        <option value="">Selecione</option>
                                        <option v-for="ocorrencias in ocorrenciasjustificadasList" v-bind:key="ocorrencias.id" v-bind:value="ocorrencias.id">{{ ocorrencias.descricao }}</option>
                                    </select>
                                    <has-error :form="form" field="ocorrencias_justificadas_id"></has-error>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="custom-control custom-radio mb-3">
                                            <input type="radio" id="one" value="0" v-model="form.dia_ou_datahora">
                                            <label for="two">Dia Inteiro</label>
                                        </div>
                                        
                                    </div>
                                    <div class="col-md-6">
                                        <div class="custom-control custom-radio mb-3">
                                            <input type="radio" id="two" value="1" v-model="form.dia_ou_datahora">
                                            <label for="two">Por Data e Hora</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="form-group">
                                    <label for="periodo_inicio" class="control-label">Início:</label>
                                    <br>
                                    <datetime value-zone="local" zone="local" v-if="form.dia_ou_datahora == 1" type="datetime" v-model="form.periodo_inicio" format="dd/MM/yyyy HH:mm"></datetime>
                                    <datetime value-zone="local" zone="local" v-else type="date" v-model="form.periodo_inicio" format="dd/MM/yyyy"></datetime>
                                </div>
                            </div>

                            <div v-if="form.dia_ou_datahora == 1"  class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="form-group">
                                    <label for="periodo_fim" class="control-label">Fim:</label>
                                    <br>
                                    <datetime value-zone="local" zone="local" type="datetime" v-model="form.periodo_fim" format="dd/MM/yyyy HH:mm"></datetime>
                                    <!-- <datetime value-zone="local" zone="local" v-else type="date" v-model="form.periodo_fim" format="dd/MM/yyyy"></datetime> -->
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="custom-file">
                                    <input @change="updateProfile" type="file" aria-describedby="inputGroupFileAddon01">
                                    Atestado
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>* A empresa receberá um aviso sobre o lançamento dessa ocorrência e poderá solicitar um documento para oficializar a inclusão da mesma, que ficará pendente de aprovação.</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Confirmar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</span>
</template>

<script>
import crud from '@components/crud'

export default {
    props: ['ocorrenciasjustificadasList', 'ocorrencia'],

    data() {
        return {
            form: new Form({
                id: '',
                descricao: '',
                periodo_inicio: '',
                periodo_fim: '',
                dia_ou_datahora: 1,
                ocorrencias_justificadas_id: '',
                photo: ''
            }),
            ocorrencias: this.ocorrencia,

            momentFormat: {
            // Date to String
                stringify: (date) => {
                    return date ? moment(date).format('DD/MM/YYYY') : ''
                },
                // String to Date
                parse: (value) => {
                    return value ? moment(value, 'DD/MM/YYYY').toDate() : null
                }
            }
        }
    },

    methods: {
        create() {
            if (moment().format('YYYY-MM-DD') > moment(this.form.periodo_inicio).format('YYYY-MM-DD')
                || moment().format('YYYY-MM-DD') > moment(this.form.periodo_fim).format('YYYY-MM-DD')) {
                    swal('Atenção', 'A data não pode ser menor que a data atual', 'error')
                    return false;
            }
                
            if(moment(this.form.periodo_fim).format('YYYY-MM-DD') < moment(this.form.periodo_inicio).format('YYYY-MM-DD')) {
                    swal('Atenção', 'A data Fim não pode ser anterior a data de início', 'error')
                    return false;
            }
            
            this.form.periodo_inicio = moment(this.form.periodo_inicio).format('YYYY-MM-DD HH:mm:ss');

            if (this.form.periodo_fim == null) {
                this.form.periodo_fim = this.form.periodo_inicio
            } else {
                this.form.periodo_fim = moment(this.form.periodo_fim).format('YYYY-MM-DD HH:mm:ss');
            }

            crud.create(this, 'ocorrenciaspendentes', false)
            $('#modalLancarOcorrencias').modal('hide')
            this.ocorrencias = 1
            this.$emit('ocorrencia', this.ocorrencias)

            this.photo = ''
        },

        updateProfile(e){
            let file = e.target.files[0];
            var reader = new FileReader();
            reader.onloadend = (file) => {
              this.form.photo = reader.result
            }
            reader.readAsDataURL(file)
        }

    },
}
</script>