<template>
    <div style="text-align: center; margin-bottom: 10px;">
        RELÓGIO
        <div style="font-size: 40px; font-weight: 600; line-height: 47px;">
            <span id="relogio">{{ datenow }}</span>
        </div>
        São Paulo / SP
    </div>
</template>

<script>
export default {
    data() {
        return {
            datenow: '',
        }
    },

    methods: {
        time() {
        var self = this
        this.datenow = moment().format('HH:mm:ss')

        setInterval(self.time, 1000)
        },
    },
    mounted: function() {
        this.time()
    }
}
</script>