<template>
    <div class="table-responsive">
        <table class="table align-items-center table-flush">
            <thead class="thead-light">
                <tr>
                    <th>Data</th>
                    <th>Previstas</th>
                    <th>Trabalhadas</th>
                    <th>Abonos</th>
                    <th>Intervalos</th>
                    <th>Saldo</th>
                </tr>
            </thead>
            <tbody style="background-color: #e9ecef;">
                <tr>
                    <td>{{ dataatual }} 
                        <!-- for de ocorrencias -->    
                        <span v-for="ocorrencias in ocorrenciasList" v-bind:key="ocorrencias.id">
                            <span
                                v-if="ocorrencias.dia_ou_datahora == 0 && ocorrencias.aprovar_ou_reprovar == null"
                                data-toggle="tooltip" 
                                data-placement="top" 
                                v-bind:title="'Dia inteiro' + '\n \n' +
                                'Descrição: ' + ocorrencias.descricao + '\n' +  
                                'Início: ' + converteParaDataOuDataHora(ocorrencias.periodo_inicio, ocorrencias.dia_ou_datahora) + '\n' +
                                'Fim:' + converteParaDataOuDataHora(ocorrencias.periodo_fim, ocorrencias.dia_ou_datahora)  + '\n' +
                                '(Pendente)'"
                                class="btn btn-sm btn-info">Ocorrência
                            </span>

                            <span
                                v-if="ocorrencias.dia_ou_datahora == 0 && ocorrencias.aprovar_ou_reprovar == 1"
                                data-toggle="tooltip" 
                                data-placement="top" 
                                v-bind:title="'Dia inteiro' + '\n \n' +
                                'Descrição: ' + ocorrencias.descricao + '\n' +  
                                'Início: ' + converteParaDataOuDataHora(ocorrencias.periodo_inicio, ocorrencias.dia_ou_datahora) + '\n' +
                                'Fim:' + converteParaDataOuDataHora(ocorrencias.periodo_fim, ocorrencias.dia_ou_datahora)  + '\n' +
                                '(Horas abonadas)'"
                                class="btn btn-sm btn-primary">Ocorrência
                            </span>

                            <span
                                v-if="ocorrencias.dia_ou_datahora == 0 && ocorrencias.aprovar_ou_reprovar == 0"
                                data-toggle="tooltip" 
                                data-placement="top" 
                                v-bind:title="'Dia inteiro' + '\n \n' +
                                'Descrição: ' + ocorrencias.descricao + '\n' +  
                                'Início: ' + converteParaDataOuDataHora(ocorrencias.periodo_inicio, ocorrencias.dia_ou_datahora) + '\n' +
                                'Fim:' + converteParaDataOuDataHora(ocorrencias.periodo_fim, ocorrencias.dia_ou_datahora)  + '\n' +
                                '(Recusado)'"
                                class="btn btn-sm btn-warning">Ocorrência
                            </span>

                            <span
                                v-if="ocorrencias.dia_ou_datahora == 1 && ocorrencias.aprovar_ou_reprovar == null"
                                data-toggle="tooltip" 
                                data-placement="top" 
                                v-bind:title="'Por Hora' + '\n \n' +
                                'Descrição: ' + ocorrencias.descricao + '\n' +  
                                'Início: ' + converteParaDataOuDataHora(ocorrencias.periodo_inicio, ocorrencias.dia_ou_datahora) + '\n' +
                                'Fim: ' + converteParaDataOuDataHora(ocorrencias.periodo_fim, ocorrencias.dia_ou_datahora) + '\n' +
                                '(Pendente)'"
                                class="btn btn-sm btn-info">Ocorrência
                            </span>

                            <span
                                v-if="ocorrencias.dia_ou_datahora == 1 && ocorrencias.aprovar_ou_reprovar == 1"
                                data-toggle="tooltip" 
                                data-placement="top" 
                                v-bind:title="'Por Hora' + '\n \n' +
                                'Descrição: ' + ocorrencias.descricao + '\n' +  
                                'Início: ' + converteParaDataOuDataHora(ocorrencias.periodo_inicio, ocorrencias.dia_ou_datahora) + '\n' +
                                'Fim: ' + converteParaDataOuDataHora(ocorrencias.periodo_fim, ocorrencias.dia_ou_datahora) + '\n' +
                                '(Horas abonadas)'"
                                class="btn btn-sm btn-primary">Ocorrência
                            </span>

                            <span
                                v-if="ocorrencias.dia_ou_datahora == 1 && ocorrencias.aprovar_ou_reprovar == 0"
                                data-toggle="tooltip" 
                                data-placement="top" 
                                v-bind:title="'Por Hora' + '\n \n' +
                                'Descrição: ' + ocorrencias.descricao + '\n' +  
                                'Início: ' + converteParaDataOuDataHora(ocorrencias.periodo_inicio, ocorrencias.dia_ou_datahora) + '\n' +
                                'Fim: ' + converteParaDataOuDataHora(ocorrencias.periodo_fim, ocorrencias.dia_ou_datahora) + '\n' +
                                '(Recusado)'"
                                class="btn btn-sm btn-warning">Ocorrência
                            </span>
                        </span>
                        <span v-if="ocorrencia == 1" class="btn btn-sm btn-warning">Ocorrência pendente</span> 
                    </td>
                    <td>{{ previstas }}</td>
                    <td>{{ trabalhadas }}</td>
                    <td></td>
                    <td>{{ intervalo }}</td>
                    <td v-bind:class="[saldoCor ? 'saldoPositivo' : 'saldoNegativo']">{{ saldo }}</td>
                </tr>
            </tbody>
        </table>
        {{ horasPrevistas() }}
    </div>
</template>

<script>
export default {
    props: ['colaborador_escalas', 'colaborador_pontos', 'ocorrencia'],

    data() {
        return {
            dataatual: moment().format('DD/MM/YYYY'), // + ' ' + moment().format('dddd')
            previstas: '',
            intervalo: '',
            trabalhadas: '',
            saldo: '',
            saldoCor: false,
            ocorrenciasList: []
        }
    },

    methods: {
        horasPrevistas() {
            var hrStart = this.colaborador_escalas ? this.colaborador_escalas.users_escalas[0].escalas.inicio_expediente : null;
            var hrEnd = this.colaborador_escalas ? this.colaborador_escalas.users_escalas[0].escalas.fim_expediente : null;

            // Calcula a diferença em minutos entre os dois tempos 
            var diffInMinutes = moment(hrEnd,"HH:mm").diff(moment(hrStart,"HH:mm"), 'minutes');
          
            // Adiciona os minutos na hora desejada
            this.previstas = moment('00:00', 'HH:mm')
                .add(diffInMinutes, 'minutes')
                //.subtract(5, 'minutes')
                .format('HH:mm');

            this.horasIntervalos()
            this.horasTrabalhadas()
            this.horasSaldo()
            
        },

        horasTrabalhadas() {
            var tempo = []
            if (this.colaborador_pontos) {
                this.colaborador_pontos.forEach(function (element, i) {
                    tempo.push(moment(element.created_at).format('HH:mm'))
                }); 

                var tempoFinal = 0
                for (let index = 0; index < tempo.length; index++) {
                    if (tempo[index + 1] == undefined)
                        continue;

                    tempoFinal += moment(tempo[index +1],"HH:mm").diff(moment(tempo[index],"HH:mm"), 'minutes');                
                }

                this.trabalhadas = this.converteEmHoras(tempoFinal)
            }
        },

        horasIntervalos() {
            var tempo = 0
            if (this.colaborador_escalas) {
                this.colaborador_escalas.users_escalas[0].escalas.intervalos.forEach(function (element, i) {
                    tempo += moment(element.fim_intervalo,"HH:mm").diff(moment(element.inicio_intervalo,"HH:mm"), 'minutes')
                }); 
                
                this.intervalo = this.converteEmHoras(tempo)
            }
        },

        horasSaldo() {
            //var tempo = moment(this.previstas,"HH:mm").diff(moment(this.trabalhadas,"HH:mm"), 'minutes')

            //this.saldo = this.converteEmHoras(tempo)

            // controla cor do saldo
            //var beginningTime = moment(this.saldo, 'HH:mm');
            //var endTime = moment(this.trabalhadas, 'HH:mm');

            // this.saldoCor = beginningTime.isBefore(endTime)

            var previstas = moment.duration(this.previstas).asMinutes();
            var trabalhadas = moment.duration(this.trabalhadas).asMinutes();

            var res = previstas - trabalhadas

            if (res < 0) {
                this.saldoCor = true

            }

            this.saldo = this.converteEmHoras(Math.abs(res))
        },

        converteEmHoras(tempoFinal) {
            var hours = Math.floor(tempoFinal / 60);  
            var minutes = tempoFinal % 60;
            
            var horas = ''
            var minutos = ''

            if (hours < 10) {
                horas = '0' + hours ;    
            } else {
                horas = hours ;    
            }  
            
            if (minutes < 10) {
                minutos = '0' + minutes ;    
            } else {
                minutos = minutes ;    
            }  

            return horas + ':' + minutos
        },

        showOcorrencia() {
            axios.get(`/api/showbyuserid/${user.id}`).then(data => {
                this.ocorrenciasList = data.data
            })
        },

        converteParaDataOuDataHora(data, dia_ou_datahora) {
            if (dia_ou_datahora == 0) {
                return moment(data).format('DD/MM/YYYY')
            } else {
                return moment(data).format('DD/MM/YYYY HH:mm')
            }
        }
    },

    created() {
        this.showOcorrencia()
    }
}
</script>

<style scoped>
.saldoNegativo {
    color: red;
}

.saldoPositivo {
    color: green;
}
</style>