<template>
<div>
    <ol>
        <li v-for="ponto in pontos" v-bind:key="ponto.id">
            <p class="diplome"></p>

            <span v-if="ponto.permissao == 1" class="point" style="border: 4px solid blue; border-radius: 10px;"></span>
            <span v-else-if="ponto.permissao == 0" class="point" style="border: 4px solid orange; border-radius: 10px;"></span>
            <span v-else-if="ponto.permissao == 2" class="point" style="border: 4px solid red; border-radius: 10px;"></span>
            <span v-else class="point" style="border: 4px solid green; border-radius: 10px;"></span>

            <div class="description">
               <div class="card card-stats">
                    <div class="card card-stats">
                    <!-- Card body -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Ponto <i class="ni ni-air-baloon float-right text-primary"></i></h5>
                                </div>

                                <div class="col-auto mt-2">
                                    <span class="h6 font-weight-bold mb-0">Entrada: {{ ponto.created_at | myDate }}</span>
                                </div>

                                <div class="col-auto mt-2">
                                    <span class="h6 font-weight-bold mb-0">Origem: {{ ponto.origem_ponto }}</span>
                                </div>

                                <div class="col-auto mt-2">
                                    <span v-if="ponto.permissao == 1" class="h6 font-weight-bold mb-0">
                                        Situação: 
                                        <span class="text-primary">OK</span>
                                    </span>
                                    <span v-else-if="ponto.permissao == 0" class="h6 font-weight-bold mb-0">
                                        Situação: 
                                        <span class="text-warning">Aguardando</span>
                                    </span>
                                    <span v-else-if="ponto.permissao == 2" class="h6 font-weight-bold mb-0">
                                        Situação: 
                                        <span class="text-danger">Reprovado</span>
                                    </span>
                                    <span v-else class="h6 font-weight-bold mb-0">
                                        Situação: 
                                        <span class="text-success">OK</span>
                                    </span>
                                </div>

                                <div class="col-auto mt-2">
                                    <span class="h6 font-weight-bold mb-0">Observação: {{ ponto.observacao_colaborador }}</span>
                                </div>
                            </div>

                            <div class="mt-2 mb-0 text-sm">
                                <div class="row">
                                    <div class="col-3">
                                        <span class="text-nowrap" @click="editTimeline(ponto)"
                                            data-toggle="modal" 
                                            data-placement="bottom" 
                                            title="Lançar Ponto Manual"
                                            data-target="#modalCorrigirPonto"
                                        ><i class="far fa-edit"></i></span>
                                    </div>
                                    <!--
                                    <div class="col-3">
                                        <span class="text-nowrap"><i class="far fa-edit"></i></span>
                                    </div>
                                    <div class="col-3">
                                        <span class="text-nowrap"><i class="far fa-edit"></i></span>
                                    </div>
                                    <div class="col-3">
                                        <span class="text-nowrap"><i class="far fa-edit"></i></span>
                                    </div>
                                    -->
                                </div>
                            </div>
                        </div>
                    </div>                               
                </div>
            </div>
        </li>
    </ol> 

    <div class="modal fade" id="modalCorrigirPonto" tabindex="-1" role="dialog" aria-labelledby="modalCorrigirPontoTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <form  @submit.prevent="update()">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitlePonto">Corrigir Ponto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="form-group">
                                    <label for="created_at" class="control-label">Data e Hora do ponto</label>
                                    <br>
                                    <datetime type="time" v-model="form.created_at" format="HH:mm"></datetime>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="form-group">
                                    <label for="title" class="control-label">Observação</label>
                                    <input
                                        v-model="form.observacao_colaborador"
                                        type="text"
                                        name="observacao_colaborador"
                                        placeholder="Opcional"
                                        class="form-control"
                                        :class="{ 'is-invalid': form.errors.has('observacao_colaborador') }"
                                    />
                                    <has-error :form="form" field="observacao_colaborador"></has-error>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="form-group">
                                    <label for="title" class="control-label">Justificativa</label>
                                    <input
                                        v-model="form.justificativa_colaborador"
                                        type="text"
                                        name="justificativa_colaborador"
                                        placeholder=""
                                        class="form-control"
                                        :class="{ 'is-invalid': form.errors.has('justificativa_colaborador') }"
                                    />
                                    <has-error :form="form" field="justificativa_colaborador"></has-error>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>* A empresa receberá um aviso sobre o lançamento desse ponto, que ficará pendente de aprovação.</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Registrar Ponto</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
</div>    
</template>

<script>
import crud from '@components/crud'

export default {
    props: ['pontos'],

    data() {
        return {
            form: new Form({
                id: '', 
            }),
        }
    },

    methods: {
        update() {
            this.form.created_at = moment(this.form.created_at).format('YYYY-MM-DD HH:mm:ss');
            
            crud.update(this, 'registromarcacaopontos', false)            
            $('#modalCorrigirPonto').modal('hide')
        },

        editTimeline(ponto) {
            this.form.id = ponto.id
            this.form.created_at = moment(ponto.created_at).format()
            this.form.observacao_colaborador = ponto.observacao_colaborador
            this.form.justificativa_colaborador = ponto.justificativa_colaborador
        }
    }
}
</script>

<style scoped>
    html, body {
    color: #681;
        background: #fff;
        min-width: 700px;
    }

    /* ---- Timeline ---- */
    ol {
        position: relative;
        display: block;
        margin: 100px;
        height: 4px;
        background: #31708F;
    }
    ol::before,
    ol::after {
        content: "";
        position: absolute;
        top: -8px;
        display: block;
        width: 0;
        height: 0;
    border-radius: 10px;
        border: 10px solid #31708F;
    }
    ol::before {
        left: -5px;
    }
    ol::after {
        right: -10px;
        border: 10px solid transparent;
        border-right: 0;
        border-left: 20px solid #31708F;
    border-radius: 3px;
    }

    /* ---- Timeline elements ---- */
    li {
        position: relative;
        display: inline-block;
        float: left;
        width: 200px;
        font: bold 14px arial;
    height: 50px;
    }
    li .diplome {
    position: absolute;
    top: -47px;
    left: 36%;
    color: #000000;
    }
    li .point {
        content: "";
        top: -4px;
        left: 43%;
        display: block;
        width: 12px;
        height: 12px;
        background: #fff;
    position: absolute;
    }
    li .description {
    display: none;
    background-color: #f4f4f4;
    padding: 10px;
    margin-top: 20px;
    position: relative;
    font-weight: normal;
    z-index: 1;
    }
    .description::before {
        content: '';
        width: 0; 
        height: 0; 
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #f4f4f4;
        position: absolute;
        top: -5px;
        left: 43%;
    }

    /* ---- Hover effects ---- */
    li:hover {
        cursor: pointer;
    color: #48A4D2;
    }
    li:hover .description {
    display: block;
    }
</style>