<template>
    <div>
        <VclBulletList :rows="1" v-if="isLoading"></VclBulletList>
        
        <form v-else @submit.prevent="editmode ? update() : create()">
            <div class="form-group">
                <label for="empresas_id" class="control-label">'Empresas Id'</label>
                <input class="form-control" name="empresas_id" type="number" id="empresas_id">
            </div>
            <div class="form-group">
                <label for="users_id" class="control-label">'Users Id'</label>
                <input class="form-control" name="users_id" type="number" id="users_id">
            </div>
            <div class="form-group">
                <label for="descricao" class="control-label">'Descricao'</label>
                <textarea 
                v-model="form.descricao"
                rows="5" name="descricao" 
                type="textarea" 
                v-bind:readonly="is_readonly"
                placeholder="descricao"
                class="form-control" 
                :class="{ 'is-invalid': form.errors.has('descricao') }"
            ></textarea>
            <has-error :form="form" field="descricao"></has-error>

            </div>
            <div class="form-group">
                <label for="ocorrencia_dia_datahora" class="control-label">'Ocorrencia Dia Datahora'</label>
                <div class="radio">
                <label><input name="ocorrencia_dia_datahora" type="radio" value="1"> Yes</label>
            </div>
            <div class="radio">
                <label><input name="ocorrencia_dia_datahora" type="radio" value="0"> No</label>
            </div>
            </div>
            <div class="form-group">
                <label for="inicio_data" class="control-label">'Inicio Data'</label>
                <input class="form-control" name="inicio_data" type="datetime-local" id="inicio_data" >
            </div>
            <div class="form-group">
                <label for="fim_data" class="control-label">'Fim Data'</label>
                <input class="form-control" name="fim_data" type="datetime-local" id="fim_data" >
            </div>
            <div class="form-group">
                <label for="status" class="control-label">'Status'</label>
                <div class="radio">
                    <label><input name="status" type="radio" value="1"> Yes</label>
                </div>
                <div class="radio">
                    <label><input name="status" type="radio" value="0"> No</label>
                </div>
            </div>


            <div class="modal-footer">
                <router-link to="/registro-ponto" class="btn btn-primary btn-neutral">Voltar</router-link>
                <template v-if="!is_readonly">
                    <button v-show="!editmode" type="submit" class="btn btn-primary">Salvar</button>
                    <button v-show="editmode" type="submit" class="btn btn-primary">Editar</button>
                </template>
            </div>
        </form>
    </div>
</template>

<script>
    import crud from '@components/crud'
    import { VclBulletList } from 'vue-content-loading';

    export default {
        props: {
            is_readonly: Boolean,
            loading: Boolean
        },

        components: {
            VclBulletList
        },

        data() {
            return {
                isLoading: this.loading,
                editmode: this.$route.params.id ? true : false,
                registroponto : {},
                form: new Form({
                    id: '',

                }),
                search: ''
            }
        },

        methods: {
            getData(){
                this.isLoading = true
                this.form.reset()
                axios.get(`/api/registropontos/${this.$route.params.id}`)
                .then(({data}) => {
                    (this.form.fill(data))
                    this.isLoading = false
                })
                .catch((err) => {
                    this.isLoading = false
                    toast({
                        type: 'error',
                        title: 'Algo de errado aconteceu, por favor entre em contato com o suporte!'
                    })

                    console.log(err)
                })
            },

            create(){
                crud.create(this, 'registropontos')
            },

            update(){
                crud.update(this, 'registropontos')
            }
        },
        created() {
            if(this.editmode) {
                this.getData()
            }
        }
    }
</script>
