<template>
    <div>
        <not-found v-if="!$gate.isColaboradorRegistroDePontoVisualizar()"></not-found>
        <template v-else>
            <BreadcrumbsComponent principal="Registro de Ponto"/>

            <div class="container-fluid mt--6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">Registro de Ponto</div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-sm-7 col-md-7 col-lg-7 col-xl-7">
                                        <div class="row">
                                            <div class="col-12 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                                                <relogioComponent></relogioComponent>
                                            </div> 

                                            <div class="col-12 col-sm-7 col-md-7 col-lg-7 col-xl-7">
                                                <modalBaterPontoComponent></modalBaterPontoComponent>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                                        <horasPrevistasTrabalhadasComponent
                                            v-bind:colaborador_escalas="this.registroponto.colaborador"
                                            v-bind:colaborador_pontos="this.registroponto.pontos"
                                        ></horasPrevistasTrabalhadasComponent>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                Pontos Registrados Hoje:
                                <small class="float-sm-right"><modalDicasComponent></modalDicasComponent></small>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                        <tableRegistrosComponent 
                                            v-bind:colaborador_escalas="this.registroponto.colaborador"
                                            v-bind:colaborador_pontos="this.registroponto.pontos"
                                            v-bind:ocorrencia="ocorrencia"
                                        >
                                        </tableRegistrosComponent>
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                        <div class="row">
                                            <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 mt-5">
                                                <modalLancarOcorrenciaComponent 
                                                    v-bind:ocorrenciasjustificadasList="ocorrenciasjustificadasList"
                                                    @ocorrencia="ocorrencia = $event"
                                                ></modalLancarOcorrenciaComponent>
                                                <modalPontoManualComponent></modalPontoManualComponent>
                                            </div>
                                            <div class="col-12 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                                                <timelineComponent v-bind:pontos="this.registroponto.pontos"></timelineComponent>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button v-if="ocorrencia == 1"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    import BreadcrumbsComponent from '../../../components/menus/headers/BreadcrumbsComponent'
    import crud from '@components/crud'
    import { VclTable } from 'vue-content-loading';
    import relogioComponent from './components/relogioComponent'
    import modalDicasComponent from './components/modalDicasComponent'
    import timelineComponent from './components/timelineComponent'
    import modalBaterPontoComponent from './components/modalBaterPontoComponent'
    import modalLancarOcorrenciaComponent from './components/modalLancarOcorrenciaComponent'
    import modalPontoManualComponent from './components/modalPontoManualComponent'
    import tableRegistrosComponent from './components/tableRegistrosComponent'
    import horasPrevistasTrabalhadasComponent from './components/horasPrevistasTrabalhadasComponent'

    export default {
        components: {
            BreadcrumbsComponent, VclTable, relogioComponent, modalDicasComponent, timelineComponent, modalBaterPontoComponent,
            modalLancarOcorrenciaComponent, modalPontoManualComponent, tableRegistrosComponent, horasPrevistasTrabalhadasComponent
        },

        data(){
            return {
                loading: true,
                editmode: false,
                registroponto : {},
                form: new Form({
                    id: '',
                    empresas_id: '',
                    users_id: '',
                    descricao: '',
                    
                }),
                search: '',
                relogio: '',
                ocorrenciasjustificadasList: [],
                ocorrencia: ''
            }
        },

        methods: {
            destroy(id, name){
                crud.delete(id, this, 'registropontos')
            },

            load(){
                axios.get('/api/registropontos').then(({ data}) => {
                    this.registroponto = data
                    this.loading = false
                });
            },

            ocorrenciasjustificadas(){
                axios.get('/api/ocorrenciasjustificadas').then(({ data}) => {

                    data.data.forEach(element => {
                        if (element.status == 1)
                            this.ocorrenciasjustificadasList.push(element)
                    });
                });
            },

        },
        created() {
            Fire.$on('searching', () => {
                let query = this.search;
                axios.get(`/api/registropontos/findRegistroponto?q=${query}`)
                    .then((data) => {
                      this.registroponto = data.data
                    });
            });

            this.load()
            this.ocorrenciasjustificadas()

            Fire.$on('AfterCreate', () => {
                this.load()
            });

        }
    }
</script>
