<template>
    <div>
        <not-found v-if="!$gate.isColaboradoresVisualizar()"></not-found>
        <template v-else>
            <BreadcrumbsComponent principal="Colaboradores"/>

            <div class="container-fluid mt--6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-6">
                                        Colaboradores
                                    </div>
                                    <div class="col-6">
                                        Código da empresa: <span style="color: blue;">{{ codigoEmpresa }}</span>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">

                                <router-link v-if="$gate.isColaboradoresAdicionar()" to="/colaboradores/create" class="btn btn-success btn-sm"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar </router-link>

                                <div class="form-inline my-2 my-lg-0 float-right">
                                    <div class="input-group">
                                        <input class="form-control" @keyup="searchit" v-model="search" type="search" placeholder="Buscar..." aria-label="Search">
                                        <span class="input-group-append">
                                            <button class="btn btn-info btn-icon" @click="searchit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="table-responsive">
                                    <table class="table">
                                        <VclTable v-if="loading" :columns="6" :rows="5"></VclTable>
                                        <tbody v-else>
                                        <tr>
                                            <th>#</th>
                                            <th>Colaborador</th>
                                            <th>Empresas</th>
                                            <th>Filial</th>
                                            <th>Ferramentas</th>
                                        </tr>
                                        <tr v-for="(item, index) in colaboradores.data" :key="item.id">
                                            <td>{{ index + 1}}</td>
                                            <td>{{ item.name }}</td>
                                            <td>{{ item.empresas_name }}</td>
                                            <td>{{ item.filiais_name }}</td>
                                            <td>
                                                <router-link v-bind:to="'/colaboradores/' + item.id" title="Editar Post"><button class="btn btn-info btn-sm"><i class="fas fa-eye" aria-hidden="true"></i></button></router-link>
                                                <router-link v-if="$gate.isColaboradoresEditar()" v-bind:to="'/colaboradores/' + item.id + '/edit' " title="Editar Post"><button class="btn btn-primary btn-sm"><i class="fas fa-edit" aria-hidden="true"></i></button></router-link>

                                                <button v-if="$gate.isColaboradoresDeletar()" class="btn btn-danger btn-sm" @click="destroy(item.id, item.name)"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <pagination :data="colaboradores" @pagination-change-page="pagination"></pagination>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    import BreadcrumbsComponent from '../../../components/menus/headers/BreadcrumbsComponent'
    import crud from '@components/crud'
    import { VclTable } from 'vue-content-loading';

    export default {
        components: {
            BreadcrumbsComponent, VclTable
        },

        data(){
            return {
                loading: true,
                editmode: false,
                colaboradores : {},
                codigoEmpresa: '',
                form: new Form({
                    id: '',
                    empresas_name: '',  name: '',  filiais_name: '', 
                }),
                search: ''
            }
        },

        methods: {
            searchit: _.debounce(() => {
                Fire.$emit('searching');
            },1000),

            pagination(page = 1){
                this.loading = true
                axios.get(`/api/colaboradores?page=${page}`)
				.then(response => {
					this.colaboradores = response.data.colaboradores;
                    this.loading = false
				});
            },

            destroy(id, name){
                crud.delete(id, this, 'colaboradores')
            },

            load(){
                axios.get('/api/colaboradores').then(({ data}) => {
                    (this.colaboradores = data.colaboradores)
                    this.codigoEmpresa = data.codigoEmpresa
                    this.loading = false
                });
            },

        },
        created() {
            Fire.$on('searching', () => {
                let query = this.search;
                axios.get(`/api/colaboradores/findColaboradore?q=${query}`)
                    .then((data) => {
                        console.log(data, 22);
                      this.colaboradores = data.data.colaboradores
                    });
            });

            this.load()

            Fire.$on('AfterCreate', () => {
                this.load()
            });

        }
    }
</script>
