<template>
    <div>
        <not-found v-if="!$gate.isHistoricoVisualizar()"></not-found>
        <template v-else>
            <BreadcrumbsComponent principal="Histórico"/>

            <div class="container-fluid mt--6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">Histórico</div>
                            <!-- /.card-header -->
                            <div class="card-body">

                                <router-link to="/admin/historico/marcacoespendentes" class="btn btn-success btn-block"><i class="fa fa-plus" aria-hidden="true"></i> Marcações Pendentes</router-link>
                                <router-link to="/admin/historico/ocorrenciaspendentes" class="btn btn-primary btn-block"><i class="fa fa-plus" aria-hidden="true"></i> Ocorrências Pendentes</router-link>

                               
                                <br>
                                <br>
                                
                            </div>
                            <!-- /.card-body -->
                           
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    import BreadcrumbsComponent from '../../../components/menus/headers/BreadcrumbsComponent'
    import crud from '@components/crud'
    import { VclTable } from 'vue-content-loading';

    export default {
        components: {
            BreadcrumbsComponent, VclTable
        },
    }
</script>
