<template>
    <div>
        <VclBulletList :rows="5" v-if="isLoading"></VclBulletList>
        
        <form v-else @submit.prevent="editmode ? update() : create()">
            <div class="row">
                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="form-group">
                        <label for="nome_calendario" class="control-label">Nome Calendario</label>
                        <input
                        v-model="form.nome_calendario"
                        v-bind:readonly="is_readonly"
                        type="text"
                        name="nome_calendario"
                        placeholder="Nome"
                        class="form-control"
                        :class="{ 'is-invalid': form.errors.has('nome_calendario') }"
                    />
                        <has-error :form="form" field="nome_calendario"></has-error>
                    </div>
                </div>

                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="form-group">
                        <label for="ano" class="control-label">Ano</label>
                        <input
                        v-mask="'####'"
                        v-model="form.ano"
                        v-bind:readonly="is_readonly"
                        type="text"
                        name="ano"
                        placeholder="ano"
                        class="form-control"
                        :class="{ 'is-invalid': form.errors.has('ano') }"
                    />
                        <has-error :form="form" field="ano"></has-error>
                    </div> 
                </div> 
                
                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                </div>

                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="form-group">
                        <label for="descricao_feriado_ou_recesso" class="control-label">Descrição do feriado ou recesso</label>
                        <input
                        v-model="form.descricao_feriado_ou_recesso"
                        v-bind:readonly="is_readonly"
                        type="text"
                        name="descricao_feriado_ou_recesso"
                        placeholder="descricao_feriado_ou_recesso"
                        class="form-control"
                        :class="{ 'is-invalid': form.errors.has('descricao_feriado_ou_recesso') }"
                    />
                        <has-error :form="form" field="descricao_feriado_ou_recesso"></has-error>
                    </div>  
                </div>  

                <template v-if="form.hora_ou_periodo == 'data'">
                    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <div class="form-group">
                            <label for="data_periodo_inicio" class="control-label">Data Início</label>
                            <datetime
                                value-zone="local" zone="local" 
                                type="date" 
                                v-model="form.data_periodo_inicio" 
                                format="dd/MM/yyyy"
                                v-bind:disabled="is_readonly"
                                :class="{ 'is-invalid': form.errors.has('data_periodo_inicio') }"
                            ></datetime>
                            <has-error :form="form" field="data_periodo_inicio"></has-error>
                        </div> 
                    </div> 
                </template> 
                
                <template v-else> 
                    <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                        <div class="form-group">
                            <label for="data_periodo_inicio" class="control-label">Data Início</label>
                            <datetime
                                value-zone="local" zone="local" 
                                type="date" 
                                v-model="form.data_periodo_inicio" 
                                format="dd/MM/yyyy"
                                v-bind:disabled="is_readonly"
                                :class="{ 'is-invalid': form.errors.has('data_periodo_inicio') }"
                            ></datetime>
                            <has-error :form="form" field="data_periodo_inicio"></has-error>
                        </div> 
                    </div> 
                    <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                        <div class="form-group">
                            <label for="data_periodo_fim" class="control-label">Data Final</label>
                            <datetime
                                value-zone="local" zone="local" 
                                type="date" 
                                v-model="form.data_periodo_fim" 
                                format="dd/MM/yyyy"
                                v-bind:disabled="is_readonly"
                                :class="{ 'is-invalid': form.errors.has('data_periodo_fim') }"
                            ></datetime>
                            <has-error :form="form" field="data_periodo_fim"></has-error>
                        </div> 
                    </div> 
                </template> 

                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="form-group mt-3">
                        <div class="row">
                            <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                <div class="custom-control custom-radio">
                                    <input class="custom-control-input" type="radio" id="two" value="data" v-model="form.hora_ou_periodo">
                                    <label @click="apagaDataPeriodoFim" class="custom-control-label" for="two">Por Data</label>
                                </div>
                            </div>
                            <br>
                            <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                <div class="custom-control custom-radio">
                                    <input class="custom-control-input" type="radio" id="one" value="periodo" v-model="form.hora_ou_periodo">
                                    <label class="custom-control-label" for="one">Por Periodo</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <div class="form-group">
                        <label for="dia_inteiro_apuracao" class="control-label">Dia Inteiro: </label>
                        <label class="custom-toggle mt-5">
                            <input name="dia_inteiro_apuracao" id="dia_inteiro_apuracao" v-model="form.dia_inteiro_apuracao" type="checkbox" checked>
                            <span @click="apagaApuracaoHorario" class="custom-toggle-slider rounded-circle" data-label-off="Nao" data-label-on="Sim"></span>
                        </label>
                    </div>
                </div>

                <template v-if="!form.dia_inteiro_apuracao">
                    <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <div class="form-group">
                            <label for="title" class="control-label">Apuração</label>
                            <select
                                name="apuracao"
                                v-model="form.apuracao"
                                v-bind:disabled="is_readonly"
                                id="apuracao"
                                class="form-control"
                                :class="{ 'is-valid': form.errors.has('apuracao')}"
                            >
                                <option value>Selecione</option>
                                <option value="Até às">Até às</option>
                                <option value="A partir das">A partir das</option>
                            </select>
                            <has-error :form="form" field="apuracao"></has-error>
                        </div>
                    </div>

                    <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                        <div class="form-group">
                            <label for="horario_apuracao" class="control-label">Horário</label>
                            <!-- <input  v-bind:disabled="is_readonly" v-mask="'##:##'" v-model="form.horario_apuracao" class="form-control" name="horario_apuracao" type="text" id="horario_apuracao"> -->
                            <datetime
                                value-zone="local" zone="local" 
                                type="time" 
                                v-bind:disabled="is_readonly"
                                v-model="form.horario_apuracao" 
                                format="HH:mm"
                                id="horario_apuracao"
                                :class="{ 'is-invalid': form.errors.has('data_periodo_inicio') }"
                            ></datetime>
                        </div>
                    </div>
                </template>
            </div>

            <button type="button" class="button btn-primary" @click="addRow(form)">Adicionar Intervalos</button>

            <br>
            <br>
 

            <div class="card">
                <!-- <div class="card-header border-0">
                    <div class="row">
                        <div class="col-6">
                            <h3 class="mb-0">Inline actions</h3>
                        </div>
                        <div class="col-6 text-right">
                            <a href="#" class="btn btn-sm btn-neutral btn-round btn-icon" data-toggle="tooltip" data-original-title="Edit product">
                            <span class="btn-inner--icon"><i class="fas fa-user-edit"></i></span>
                            <span class="btn-inner--text">Export</span>
                            </a>
                        </div>
                    </div>
                </div> -->
            
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th><strong>Feriado / Recesso</strong></th>
                                <th><strong>Data Início</strong></th>
                                <th><strong>Data Fim</strong></th>
                                <th><strong>Apuração</strong></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(row, index) in form.rows" v-bind:key="index">

                                <input type="hidden" v-model="row.descricao_feriado_ou_recesso">
                                <input type="hidden" v-model="row.data_periodo_inicio">
                                <input type="hidden" v-model="row.data_periodo_fim">
                                <input type="hidden" v-model="row.dia_inteiro_apuracao">
                                <input type="hidden" v-model="row.apuracao">
                                <input type="hidden" v-model="row.horario_apuracao">
                                
                                <td>{{ row.descricao_feriado_ou_recesso }}</td>
                                <td>{{ row.data_periodo_inicio  }}</td>
                                <td>{{ row.data_periodo_fim }}</td>
                                <td>{{ row.apuracao }} {{ row.horario_apuracao }}</td>

                                <td class="table-actions" v-if="!is_readonly">
                                    <span v-on:click="removeElement(index);" style="cursor: pointer" class="btn btn-danger btn-sm">
                                        <i class="fas fa-trash"> Remover</i>
                                    </span>
                                </td> 


                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="modal-footer">
                <router-link to="/admin/calendarios" class="btn btn-primary btn-neutral">Voltar</router-link>
                <template v-if="!is_readonly">
                    <button v-show="!editmode" type="submit" class="btn btn-primary">Salvar</button>
                    <button v-show="editmode" type="submit" class="btn btn-primary">Editar</button>
                </template>
            </div>
        </form>
    </div>
</template>

<script>
    import crud from '@components/crud'
    import { VclBulletList } from 'vue-content-loading';

    export default {
        props: {
            is_readonly: Boolean,
            loading: Boolean
        },

        components: {
            VclBulletList
        },

        data() {
            return {
                isLoading: this.loading,
                editmode: this.$route.params.id ? true : false,
                calendarios : {},
                form: new Form({
                    id: '',
                    nome_calendario: '',
                    ano: '',
                    descricao_feriado_ou_recesso: '',
                    data_feriado: '',
                    hora_ou_periodo: 'data',
                    dia_inteiro_apuracao: '',
                    horario_apuracao: '',
                    apuracao: '',
                    rows: []
                }),
                search: ''
            }
        },

        methods: {
            getData(){
                this.isLoading = true
                this.form.reset()
                axios.get(`/api/calendarios/${this.$route.params.id}`)
                .then(({data}) => {
                    this.form.id = data.id
                    this.form.nome_calendario = data.nome_calendario
                    this.form.ano = data.ano

                    var elem = document.createElement('tr');
                    data.datas.forEach(element => {
                        this.form.rows.push({
                            descricao_feriado_ou_recesso: element.descricao_feriado_ou_recesso,
                            data_periodo_inicio: moment(element.data_periodo_inicio).format('DD/MM/YYYY'),
                            data_periodo_fim: element.data_periodo_fim != null ? moment(element.data_periodo_fim).format('DD/MM/YYYY') : '',
                            dia_inteiro_apuracao: element.dia_inteiro_apuracao,
                            apuracao: element.apuracao,
                            horario_apuracao: element.horario_apuracao
                        });
                    });
                    
                    this.isLoading = false
                })
                .catch((err) => {
                    this.isLoading = false
                    toast({
                        type: 'error',
                        title: 'Algo de errado aconteceu, por favor entre em contato com o suporte!'
                    })

                    console.log(err)
                })
            },

            create(){
                crud.create(this, 'calendarios')
            },

            update(){
                crud.update(this, 'calendarios')
            },
            addRow(form) {
                console.log(form);
                var elem = document.createElement('tr');

                let periodoFim = null 
                if (form.data_periodo_fim == '') {
                    periodoFim = moment(form.data_periodo_inicio).format('DD/MM/YYYY')
                }
                else if(form.data_periodo_fim === undefined){
                    periodoFim = moment(form.data_periodo_inicio).format('DD/MM/YYYY')
                } else {
                    periodoFim = moment(form.data_periodo_fim).format('DD/MM/YYYY')
                }
                this.form.rows.push({
                    descricao_feriado_ou_recesso: form.descricao_feriado_ou_recesso,
                    data_periodo_inicio: moment(form.data_periodo_inicio).format('DD/MM/YYYY'),
                    data_periodo_fim: periodoFim,
                    dia_inteiro_apuracao: form.dia_inteiro_apuracao,
                    apuracao: form.apuracao,
                    horario_apuracao: moment(form.horario_apuracao).format("HH:mm")
                });
            },
            removeElement: function(index) {
                this.form.rows.splice(index, 1);
            },
            apagaApuracaoHorario() {
                this.form.apuracao = ''
                this.form.horario_apuracao = ''
            },
            apagaDataPeriodoFim() {
                this.form.data_periodo_fim = ''
            }
        },
        created() {
            if(this.editmode) {
                this.getData()
            }
        }
    }
</script>
