<template>
    <div>
        <not-found v-if="!$gate.isCalendarioVisualizar()"></not-found>
        <template v-else>
            <BreadcrumbsComponent principal="Calendario"/>

            <div class="container-fluid mt--6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">Calendario</div>
                            <!-- /.card-header -->
                            <div class="card-body">

                                <router-link v-if="$gate.isCalendarioAdicionar()" to="/admin/calendarios/create" class="btn btn-success btn-sm"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar </router-link>

                                <div class="form-inline my-2 my-lg-0 float-right">
                                    <div class="input-group">
                                        <input class="form-control" @keyup="searchit" v-model="search" type="search" placeholder="Buscar..." aria-label="Search">
                                        <span class="input-group-append">
                                            <button class="btn btn-info btn-icon" @click="searchit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="table-responsive">
                                    <table class="table">
                                        <VclTable v-if="loading" :columns="6" :rows="5"></VclTable>
                                        <tbody v-else>
                                        <tr>
                                            <th>#</th>
                                            <th v-if="$gate.isMaster()">Empresas</th>
                                            <th>Nome Calendario</th><th>Ano</th><th>Ferramentas</th>
                                        </tr>
                                        <tr v-for="(item, index) in calendario.data" :key="item.id">
                                            <td>{{ index + 1 }}</td>
                                            <th v-if="$gate.isMaster()">{{ item.empresas_name }}</th>
                                            <td>{{ item.nome_calendario }}</td><td>{{ item.ano }}</td>
                                            <td>
                                                <router-link v-bind:to="{ path: '/admin/calendarios/' + item.id }" title="Editar Post"><button class="btn btn-info btn-sm"><i class="fas fa-eye" aria-hidden="true"></i></button></router-link>
                                                <router-link v-if="$gate.isCalendarioEditar()" v-bind:to="{ path: '/admin/calendarios/' + item.id + '/edit' }" title="Editar Post"><button class="btn btn-primary btn-sm"><i class="fas fa-edit" aria-hidden="true"></i></button></router-link>

                                                <button v-if="$gate.isCalendarioDeletar()" class="btn btn-danger btn-sm" @click="destroy(item.id, item.name)"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <pagination :data="calendario" @pagination-change-page="pagination"></pagination>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    import BreadcrumbsComponent from '../../../components/menus/headers/BreadcrumbsComponent'
    import crud from '@components/crud'
    import { VclTable } from 'vue-content-loading';

    export default {
        components: {
            BreadcrumbsComponent, VclTable
        },

        data(){
            return {
                loading: true,
                editmode: false,
                calendario : {},
                form: new Form({
                    id: '',
                    nome_calendario: '', 
                    ano: '', 
                    descricao_feriado_ou_recesso: '', 
                }),
                search: ''
            }
        },

        methods: {
            searchit: _.debounce(() => {
                Fire.$emit('searching');
            },1000),

            pagination(page = 1){
                this.loading = true
                axios.get(`/api/calendarios?page=${page}`)
				.then(response => {
					this.calendario = response.data;
                    this.loading = false
				});
            },

            destroy(id, name){
                crud.delete(id, this, 'calendarios')
            },

            load(){
                axios.get('/api/calendarios').then(({ data}) => {
                    (this.calendario = data)
                    this.loading = false

                    console.log(this.calendario);
                });
            },

        },
        created() {
            Fire.$on('searching', () => {
                let query = this.search;
                axios.get(`/api/calendarios/findCalendario?q=${query}`)
                    .then((data) => {
                      this.calendario = data.data
                    });
            });

            this.load()

            Fire.$on('AfterCreate', () => {
                this.load()
            });

        }
    }
</script>
