<template>
    <div>
        <not-found v-if="!$gate.isClientesVisualizar()"></not-found>
        <template v-else>
            <BreadcrumbsComponent principal="Clientes"/>

            <div class="container-fluid mt--6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">Clientes</div>
                            <!-- /.card-header -->
                            <div class="card-body">

                                <router-link v-if="$gate.isClientesAdicionar()" to="/admin/empresas/create" class="btn btn-success btn-sm"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar </router-link>

                                <div class="form-inline my-2 my-lg-0 float-right">
                                    <div class="input-group">
                                        <input class="form-control" @keyup="searchit" v-model="search" type="search" placeholder="Buscar..." aria-label="Search">
                                        <span class="input-group-append">
                                            <button class="btn btn-info btn-icon" @click="searchit">
                                            <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="table-responsive">
                                    <table class="table">
                                        <VclTable v-if="loading" :columns="6" :rows="5"></VclTable>
                                        <tbody v-else>
                                        <tr>
                                            <th>#</th>
                                            <th>Nome</th>
                                            <th>Cnpj</th>
                                            <th>Código</th>
                                            <th>Status</th>
                                            <th>Ferramentas</th>
                                        </tr>
                                        <tr v-for="(item , index) in empresas.data" :key="item.id">
                                            <td>{{ index + 1 }}</td>
                                            <td>{{ item.name }}</td>
                                            <td>{{ item.cnpj }}</td>
                                            <td>{{ item.codigo }}</td>
                                            <td>{{ item.status == 1 ? 'Ativado' : 'Desativado' }}</td>
                                            <td>
                                                <router-link v-bind:to="{ path: '/admin/empresas/' + item.id }" title="Visualizar Post"><button class="btn btn-info btn-sm"><i class="fas fa-eye" aria-hidden="true"></i></button></router-link>
                                                <router-link v-if="$gate.isClientesEditar()" v-bind:to="{ path: '/admin/empresas/' + item.id + '/edit' }" title="Editar Post"><button class="btn btn-primary btn-sm"><i class="fas fa-edit" aria-hidden="true"></i></button></router-link>

                                                <template v-if="item.status == 1 && $gate.isClientesDeletar()">
                                                    <button class="btn btn-success btn-sm" @click="destroy(item.id, item.name)"><i class="fa fa-trash"></i> Ativado</button>
                                                </template>
                                                <template v-else>
                                                    <button class="btn btn-danger btn-sm" @click="destroy(item.id, item.name)"><i class="fa fa-trash"></i> Desativado</button>
                                                </template>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <pagination :data="empresas" @pagination-change-page="pagination"></pagination>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    import BreadcrumbsComponent from '../../../components/menus/headers/BreadcrumbsComponent'
    import crud from '@components/crud'
    import { VclTable } from 'vue-content-loading';

    export default {
        components: {
            BreadcrumbsComponent,
            VclTable
        },

        data(){
            return {
                loading: true,
                editmode: false,
                empresas : {},
                form: new Form({
                    id: '',
                    name: ''
                }),
                search: ''
            }
        },

        methods: {
            searchit: _.debounce(() => {
                Fire.$emit('searching');
            },1000),

            pagination(page = 1){
                this.loading = true
                axios.get(`/api/empresas?page=${page}`)
				.then(response => {
                    this.empresas = response.data;
                    this.loading = false
				});
            },

            destroy(id, name){
                crud.delete(id, this, 'empresas')
            },

            load(){
                axios.get('/api/empresas').then(({ data}) => {
                    (this.empresas = data)
                    this.loading = false
                });
            },

        },
        created() {
            Fire.$on('searching', () => {
                let query = this.search;
                axios.get(`/api/empresas/findEmpresa?q=${query}`)
                    .then((data) => {
                      this.empresas = data.data
                    });
            });

            this.load()

            Fire.$on('AfterCreate', () => {
                this.load()
            });

        }
    }
</script>
