<template>
    <div>
        <not-found v-if="!$gate.isMarcacoesPontosAuditoriaVisualizar()"></not-found>
        <template v-else>
            <BreadcrumbsComponent principal="Marcações Pendentes"/>

            <div class="container-fluid mt--6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                Marcações Pendentes
                                <button class="float-right btn btn-sm btn-default" @click="createPDF()">Exportar PDF</button>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">

                                <!-- <router-link to="/admin/registropontosauditoria/create" class="btn btn-success btn-sm"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar </router-link> -->

                                <div class="form-inline my-2 my-lg-0 float-right">
                                    <div class="input-group">
                                        <input class="form-control" @keyup="searchit" v-model="search" type="search" placeholder="Buscar..." aria-label="Search">
                                        <span class="input-group-append">
                                            <button class="btn btn-info btn-icon" @click="searchit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="table-responsive">
                                    <h1 v-if="registropontosauditoria.data == 0">Sem Marcações Pendentes</h1>
                                    <table v-else class="table">
                                        <VclTable v-if="loading" :columns="6" :rows="5"></VclTable>
                                        <tbody v-else>
                                        <tr>
                                            <th>#</th>
                                            <th v-if="$gate.isMaster()">Empresas</th>
                                            <th>Colaborador</th>
                                            <th>Período</th>
                                            <th>Ferramentas</th>
                                        </tr>
                                        <tr v-for="(item, index) in registropontosauditoria.data" :key="item.id">
                                            <td>{{ index + 1 }}</td>
                                            <th v-if="$gate.isMaster()">{{ item.empresas_name}}</th>
                                            <td>{{ item.name }}</td>
                                            <td>{{ item.created_at | myDate }}</td>

                                            <td>
                                                <!--
                                                <router-link v-bind:to="{ path: '/admin/registropontosauditoria/' + item.id }" title="Editar Post"><button class="btn btn-info btn-sm"><i class="fas fa-eye" aria-hidden="true"></i></button></router-link>
                                                <router-link v-bind:to="{ path: '/admin/registropontosauditoria/' + item.id + '/edit' }" title="Editar Post"><button class="btn btn-primary btn-sm"><i class="fas fa-edit" aria-hidden="true"></i></button></router-link>

                                                <button v-if="$gate.isAdmin()" class="btn btn-danger btn-sm" @click="destroy(item.id, item.name)"><i class="fa fa-trash"></i></button>
                                                -->

                                                <button v-if="$gate.isMarcacoesPontosAuditoriaAdicionar()" data-toggle="modal" data-target="#modal-form" @click="abreModal(item, 1)" type="button" class="btn btn-sm btn-primary btn-fab btn-icon btn-round">
                                                    <i class="fa fa-thumbs-up"></i>
                                                </button>

                                                <button v-if="$gate.isMarcacoesPontosAuditoriaEditar()" data-toggle="modal" data-target="#modal-form" @click="abreModal(item, 2)" type="button" class="btn btn-sm btn-warning btn-fab btn-icon btn-round">
                                                    <i class="fa fa-thumbs-down"></i>
                                                </button>
                                                
                                                <button v-if="$gate.isMarcacoesPontosAuditoriaDeletar()" data-toggle="modal" data-target="#modal-form" @click="abreModal(item, 4)" type="button" class="btn btn-sm btn-danger btn-fab btn-icon btn-round">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <pagination :data="registropontosauditoria" @pagination-change-page="pagination"></pagination>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
        </template>
        
        
        <!-- MODAL -->
        <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
            <div class="modal-dialog modal- modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body p-0">
                        <div class="card bg-secondary border-0 mb-0">
                            <div class="card-body px-lg-5 py-lg-5">
                                <div class="text-center text-muted mb-4">
                                <h3>{{ form.name }} - {{ form.created_at | myDate }}</h3>
                                </div>
                                
                                <form  @submit.prevent="update()">
                                    <!-- <div class="form-group">
                                        <label for="hora_ponto" class="control-label">Ponto</label>
                                        <input
                                            v-mask="'##:##'"
                                            v-model="form.hora_ponto"
                                            v-bind:readonly="true"
                                            type="text"
                                            name="hora_ponto"
                                            placeholder="hora_ponto"
                                            class="form-control"
                                            :class="{ 'is-invalid': form.errors.has('hora_ponto') }"
                                        />
                                        <has-error :form="form" field="hora_ponto"></has-error>
                                    </div> -->

                                    <div class="row">
                                        <div class="col-12 col-sm-6	col-md-6 col-lg-6 col-xl-6">
                                            <div class="form-group">
                                                <label for="observacao_colaborador" class="control-label">Observacao do Colaborador(a)</label>
                                                <textarea 
                                                    v-model="form.observacao_colaborador"
                                                    rows="5" name="observacao_colaborador" 
                                                    type="textarea" 
                                                    v-bind:readonly="true"
                                                    placeholder="observacao_colaborador"
                                                    class="form-control" 
                                                    :class="{ 'is-invalid': form.errors.has('observacao_colaborador') }"
                                                ></textarea>
                                                <has-error :form="form" field="observacao_colaborador"></has-error>
                                            </div>

                                            <div class="form-group">
                                                <label for="justificativa_colaborador" class="control-label">Justificativa do Colaborador(a)</label>
                                                <textarea 
                                                    v-model="form.justificativa_colaborador"
                                                    rows="5" name="justificativa_colaborador" 
                                                    type="textarea" 
                                                    v-bind:readonly="true"
                                                    placeholder="justificativa_colaborador"
                                                    class="form-control" 
                                                    :class="{ 'is-invalid': form.errors.has('justificativa_colaborador') }"
                                                ></textarea>
                                                <has-error :form="form" field="justificativa_colaborador"></has-error>
                                            </div>
                                        </div>
                                        
                                        <div class="col-12 col-sm-6	col-md-6 col-lg-6 col-xl-6">
                                            <div class="form-group">
                                                <label for="observacao_empresa" class="control-label">Observacao da Empresa</label>
                                                <textarea 
                                                    v-model="form.observacao_empresa"
                                                    rows="5" name="observacao_empresa" 
                                                    type="textarea" 
                                                    v-bind:readonly="false"
                                                    placeholder="observacao_empresa"
                                                    class="form-control" 
                                                    :class="{ 'is-invalid': form.errors.has('observacao_empresa') }"
                                                ></textarea>
                                                <has-error :form="form" field="observacao_empresa"></has-error>
                                            </div>

                                            <div class="form-group" >
                                                <label for="justificativa_empresa" class="control-label">Justificativa da Empresa</label>
                                                <textarea 
                                                    v-model="form.justificativa_empresa"
                                                    rows="5" name="justificativa_empresa" 
                                                    type="textarea" 
                                                    v-bind:readonly="false"
                                                    placeholder="justificativa_empresa"
                                                    class="form-control" 
                                                    :class="{ 'is-invalid': form.errors.has('justificativa_empresa') }"
                                                ></textarea>
                                                <has-error :form="form" field="justificativa_empresa"></has-error>
                                            </div> 
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="numero_recibo" class="control-label">Numero Recibo</label>
                                        <input
                                            v-model="form.numero_recibo"
                                            v-bind:readonly="true"
                                            type="text"
                                            name="numero_recibo"
                                            placeholder="numero_recibo"
                                            class="form-control"
                                            :class="{ 'is-invalid': form.errors.has('numero_recibo') }"
                                        />
                                        <has-error :form="form" field="numero_recibo"></has-error>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" to="/historicos/pontos" class="btn btn-primary btn-neutral" data-dismiss="modal" @click="zeraCamposModal()">Cancelar</button>
                                        <button type="submit" class="btn btn-primary">Editar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- fim MODAL -->
    </div>
</template>

<script>
    import BreadcrumbsComponent from '../../../components/menus/headers/BreadcrumbsComponent'
    import crud from '@components/crud'
    import { VclTable } from 'vue-content-loading';
    import jsPDF from 'jspdf'
    import 'jspdf-autotable'
    import {logo} from '../../../config_links'


    export default {
        components: {
            BreadcrumbsComponent, VclTable
        },

        data(){
            return {
                loading: true,
                editmode: false,
                registropontosauditoria : {},

                form: new Form({
                    id: '',
                    hora_ponto: '',
                    name: '',
                    observacao_colaborador: '',
                    justificativa_colaborador: '',
                    observacao_empresa: '',
                    justificativa_empresa: '',
                    numero_recibo: '',
                    created_at: ''
                }),

                search: ''
            }
        },

        methods: {
            searchit: _.debounce(() => {
                Fire.$emit('searching');
            },1000),

            pagination(page = 1){
                this.loading = true
                axios.get(`/api/registropontosauditoria?page=${page}`)
				.then(response => {
					this.registropontosauditoria = response.data;
                    this.loading = false
				});
            },

            destroy(id, name){
                crud.delete(id, this, 'registropontosauditoria')
            },

            load(){
                axios.get('/api/registropontosauditoria').then(({ data}) => {
                    (this.registropontosauditoria = data)
                    this.loading = false
                });
            },

            update(){
                crud.update(this, 'registropontosauditoria')
                $('#modal-form').modal('hide')
            },

            abreModal(tudo, permissao) {
                console.log(tudo);
                this.form.id = tudo.id
                this.form.hora_ponto = tudo.hora_ponto
                this.form.name = tudo.name
                this.form.observacao_colaborador = tudo.observacao_colaborador
                this.form.justificativa_colaborador = tudo.justificativa_colaborador
                this.form.observacao_empresa = tudo.observacao_empresa
                this.form.justificativa_empresa = tudo.justificativa_empresa
                this.form.numero_recibo = tudo.numero_recibo
                this.form.created_at = tudo.created_at
                this.form.permissao = permissao
            },

            zeraCamposModal() {
                this.form.id = null
                this.form.hora_ponto = null
                this.form.name = null
                this.form.observacao_colaborador = null
                this.form.justificativa_colaborador = null
                this.form.observacao_empresa = null
                this.form.justificativa_empresa = null
                this.form.numero_recibo = null
                this.form.created_at = null
                this.form.permissao = null
            },

            modificaPermissao(id, permissao) {
                axios.post(`/api/registropontosauditoria/modificapermissao`, {id, permissao}).then(data => {
                    Fire.$emit('AfterCreate')

                    toast({
                        type: 'success',
                        title: permissao == 1 ? 'Sucesso!' : 'Sucesso!'
                    })
                })
            },
            async createPDF () {
                var doc = new jsPDF("p", "mm", "a4");
                var width = doc.internal.pageSize.getWidth();
                var height = doc.internal.pageSize.getHeight();

                doc.addImage(logo, 'JPEG', width / 3, 5, 50, 30);
                
                var col1 = ["Colaborador", "Ponto"];
                var rows1 = [];
                
                let query = this.search;
                let pdf = 'pdf'
                var pdfList = await axios.get(`/api/registropontosauditoria/findRegistroPontoAuditoria?q=${query}&pdf=${pdf}`);

                pdfList.data.forEach(element => {      
                    console.log(element, 'element')
                    var temp1 = [element.name,moment(element.created_at).format('DD/MM/YYYY HH:mm')];
                    rows1.push(temp1);
                });        

                doc.autoTable(col1, rows1, { startY: 40 });
                doc.save('Auditoria.pdf');
            }

        },
        created() {
            Fire.$on('searching', () => {
                // this.form.created_at = moment(this.form.created_at).format('YYYY-MM-DD');
                let query = this.search;
                axios.get(`/api/registropontosauditoria/findRegistroPontoAuditoria?q=${query}`)
                    .then((data) => {
                        console.log(data.data, 99)
                      this.registropontosauditoria = data.data
                    });
            });

            this.load()

            Fire.$on('AfterCreate', () => {
                this.load()
            });

        }
    }
</script>
