<template>
    <div>
        <VclBulletList :rows="3" v-if="isLoading"></VclBulletList>

        <form v-else @submit.prevent="editmode ? update() : create()">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="form-group">
                        <label for="name" class="control-label">Nome</label>
                        <input
                            v-model="form.name"
                            v-bind:readonly="is_readonly"
                            type="text"
                            name="name"
                            placeholder="name"
                            class="form-control"
                            :class="{ 'is-invalid': form.errors.has('name') }"
                        />
                            <has-error :form="form" field="name"></has-error>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="form-group">
                        <label for="cnpj" class="control-label">CNPJ</label>
                        <input
                            v-mask="'##.###.###/####-##'"
                            v-model="form.cnpj"
                            v-bind:readonly="is_readonly"
                            type="text"
                            name="cnpj"
                            placeholder="cnpj"
                            class="form-control"
                            :class="{ 'is-invalid': form.errors.has('cnpj') }"
                        />
                        <has-error :form="form" field="cnpj"></has-error>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="form-group">
                        <label for="cep" class="control-label">CEP</label>
                        <input
                            v-on:blur="buscaCep"
                            v-mask="'#####-###'"
                            v-model="form.cep"
                            v-bind:readonly="is_readonly"
                            type="text"
                            name="cep"
                            placeholder="cep"
                            class="form-control"
                            :class="{ 'is-invalid': form.errors.has('cep') }"
                        />
                        <has-error :form="form" field="cep"></has-error>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="form-group">
                        <label for="estado" class="control-label">Estado</label>
                        <input
                            v-mask="'AA'"
                            v-model="form.estado"
                            v-bind:readonly="is_readonly"
                            type="text"
                            name="estado"
                            placeholder="estado"
                            class="form-control"
                            :class="{ 'is-invalid': form.errors.has('estado') }"
                        />
                        <has-error :form="form" field="estado"></has-error>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="form-group">
                        <label for="cidade" class="control-label">Cidade</label>
                        <input
                            v-model="form.cidade"
                            v-bind:readonly="is_readonly"
                            type="text"
                            name="cidade"
                            placeholder="cidade"
                            class="form-control"
                            :class="{ 'is-invalid': form.errors.has('cidade') }"
                        />
                        <has-error :form="form" field="cidade"></has-error>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="form-group">
                        <label for="bairro" class="control-label">Bairro</label>
                        <input
                            v-model="form.bairro"
                            v-bind:readonly="is_readonly"
                            type="text"
                            name="bairro"
                            placeholder="bairro"
                            class="form-control"
                            :class="{ 'is-invalid': form.errors.has('bairro') }"
                        />
                        <has-error :form="form" field="bairro"></has-error>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="form-group">
                        <label for="logradouro" class="control-label">Logradouro</label>
                        <input
                            v-model="form.logradouro"
                            v-bind:readonly="is_readonly"
                            type="text"
                            name="logradouro"
                            placeholder="logradouro"
                            class="form-control"
                            :class="{ 'is-invalid': form.errors.has('logradouro') }"
                        />
                        <has-error :form="form" field="logradouro"></has-error>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="form-group">
                        <label for="numero" class="control-label">Número</label>
                        <input
                            v-model="form.numero"
                            v-bind:readonly="is_readonly"
                            type="text"
                            name="numero"
                            placeholder="numero"
                            class="form-control"
                            :class="{ 'is-invalid': form.errors.has('numero') }"
                        />
                        <has-error :form="form" field="numero"></has-error>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="form-group">
                        <label for="complemento" class="control-label">Complemento</label>
                        <input
                            v-model="form.complemento"
                            v-bind:readonly="is_readonly"
                            type="text"
                            name="complemento"
                            placeholder="complemento"
                            class="form-control"
                            :class="{ 'is-invalid': form.errors.has('complemento') }"
                        />
                        <has-error :form="form" field="complemento"></has-error>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="form-group">
                        <label for="telefone" class="control-label">Telefone</label>
                        <input
                            v-mask="'(##)####-#####'"
                            v-model="form.telefone"
                            v-bind:readonly="is_readonly"
                            type="text"
                            name="telefone"
                            placeholder="telefone"
                            class="form-control"
                            :class="{ 'is-invalid': form.errors.has('telefone') }"
                        />
                        <has-error :form="form" field="telefone"></has-error>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="form-group">
                        <label for="telefone_alternativo" class="control-label">Telefone Alternativo</label>
                        <input
                            v-mask="'(##)####-#####'"
                            v-model="form.telefone_alternativo"
                            v-bind:readonly="is_readonly"
                            type="text"
                            name="telefone_alternativo"
                            placeholder="telefone_alternativo"
                            class="form-control"
                            :class="{ 'is-invalid': form.errors.has('telefone_alternativo') }"
                        />
                        <has-error :form="form" field="telefone_alternativo"></has-error>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="form-group">
                        <label for="email" class="control-label">Email</label>
                        <input
                            v-model="form.email"
                            v-bind:readonly="is_readonly"
                            type="text"
                            name="email"
                            placeholder="email"
                            class="form-control"
                            :class="{ 'is-invalid': form.errors.has('email') }"
                        />
                        <has-error :form="form" field="email"></has-error>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="form-group">
                        <label for="contato" class="control-label">Contato</label>
                        <input
                            v-model="form.contato"
                            v-bind:readonly="is_readonly"
                            type="text"
                            name="contato"
                            placeholder="contato"
                            class="form-control"
                            :class="{ 'is-invalid': form.errors.has('contato') }"
                        />
                        <has-error :form="form" field="contato"></has-error>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <router-link to="/admin/filiais" class="btn btn-primary btn-neutral">Voltar</router-link>
                <template v-if="!is_readonly">
                    <button v-show="!editmode" type="submit" class="btn btn-primary">Salvar</button>
                    <button v-show="editmode" type="submit" class="btn btn-primary">Editar</button>
                </template>
            </div>
        </form>
    </div>
</template>

<script>
    import crud from '@components/crud'
    import { VclBulletList } from 'vue-content-loading';

    export default {
        props: {
            is_readonly: Boolean,
            loading: Boolean
        },

        components: {
            VclBulletList
        },

        data() {
            return {
                isLoading: this.loading,
                editmode: this.$route.params.id ? true : false,
                filiais : {},
                empresasList: [],
                form: new Form({
                    id: '',
                    name: '',
                    cnpj: '',
                    empresas_endereco_id: '',
                    cep: '',
                    logradouro: '',
                    numero: '',
                    complemento: '',
                    estado: '',
                    cidade: '',
                    bairro: '',
                    telefone: '',
                    telefone_alternativo: '',
                    email: '',
                    auth_user_id: user.id,
                    contato: ''
                }),
                search: ''
            }
        },

        methods: {
            getData(){
                this.isLoading = true
                this.form.reset()
                axios.get(`/api/filiais/${this.$route.params.id}`)
                .then(({data}) => {
                    // (this.form.fill(data))
                    console.log(data);
                    this.form.id = data.id;
                    this.form.name = data.name;
                    this.form.cnpj = data.cnpj;
                    this.form.empresas_id = data.empresas_id;
                    this.form.empresas_endereco_id = data.empresas_endereco.empresas_id;
                    this.form.cep = data.empresas_endereco.cep;
                    this.form.logradouro = data.empresas_endereco.logradouro;
                    this.form.numero = data.empresas_endereco.numero;
                    this.form.complemento = data.empresas_endereco.complemento;
                    this.form.estado = data.empresas_endereco.estado;
                    this.form.cidade = data.empresas_endereco.cidade;
                    this.form.bairro = data.empresas_endereco.bairro;
                    this.form.telefone = data.empresas_endereco.telefone;
                    this.form.telefone_alternativo = data.empresas_endereco.telefone_alternativo;
                    this.form.email = data.empresas_endereco.email;
                    this.form.contato = data.empresas_endereco.contato;

                    this.isLoading = false
                })
                .catch((err) => {
                    this.isLoading = false
                    toast({
                        type: 'error',
                        title: 'Algo de errado aconteceu, por favor entre em contato com o suporte!'
                    })

                    console.log(err)
                })
            },


            create(){
                crud.create(this, 'filiais')
            },

            update(){
                crud.update(this, 'filiais')
            },

            buscaCep(cep) {
                axios.get(`https://viacep.com.br/ws/${cep.target.value}/json`).then(res => {
                    console.log(res.data);
                    this.form.logradouro = res.data.logradouro
                    this.form.bairro = res.data.bairro
                    this.form.cidade = res.data.localidade
                    this.form.estado = res.data.uf
                })
            },

            // cnpjEmpresa() {
            //     if(this.form.cnpj === ''){
            //         axios.get('/api/empresas/empresasbyempresasid').then(res => {
            //             this.form.cnpj = res.data['cnpj']
            //             console.log(res.data['cnpj'])
            //         })
            //     }
            // }
        },
        created() {
            if(this.editmode) {
                this.getData()
            }

            this.cnpjEmpresa()

        }
    }
</script>
