<template>
    <div>
        <VclBulletList :rows="1" v-if="isLoading"></VclBulletList>
        
        <form v-else @submit.prevent="editmode ? update() : create()">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <mapaComponent></mapaComponent>
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-4">
                    <div class="card">
                        <div class="card-header bg-transparent">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h5 class="h3 mb-0">Pontos</h5>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <table class="table align-items-center table-flush">
                                        <thead class="thead-light">
                                        </thead>
                                        <tbody>
                                            <tr v-for="(coord, index) in form.coordenadas" v-bind:key="coord.id">
                                                <th scope="row">
                                                    <div class="form-group">
                                                        <label for="title" class="control-label">Descrição do {{index +1 }}º Ponto</label>
                                                        <input
                                                            v-model="coord.descricao"
                                                            v-bind:readonly="is_readonly"
                                                            type="text"
                                                            name="descricao"
                                                            placeholder="Name"
                                                            class="form-control"
                                                        />
                                                    </div>
                                                </th>
                                                <td>
                                                </td>
                                            </tr> 
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div> 
            </div>

            <div class="modal-footer">
                <router-link to="/admin/cercas-virtuais" class="btn btn-primary btn-neutral" @click="getCoords">Voltar</router-link>
                
                <button v-if="verificaCoordenada == false" v-show="!editmode" type="button" class="btn btn-primary" @click="getCoords">Verificar Coordenadas</button>
                
                <template v-if="!is_readonly && verificaCoordenada == true">
                    <button v-show="!editmode" type="submit" class="btn btn-primary"  @click="getCoords">Salvar</button>
                    <button v-show="editmode" type="submit" class="btn btn-primary">Editar</button>    
                </template>

                <template v-if="!is_readonly && editmode">
                    <button v-show="editmode" type="submit" class="btn btn-primary">Editar</button>    
                </template>
            </div>
        </form>
    </div>
</template>

<script>
    import crud from '@components/crud'
    import { VclBulletList } from 'vue-content-loading';
    import mapaComponent from './components/mapaComponent'

    export default {
        props: {
            is_readonly: Boolean,
            loading: Boolean
        },

        components: {
            VclBulletList, mapaComponent
        },

        data() {
            return {
                isLoading: this.loading,
                editmode: this.$route.params.id ? true : false,
                cercasvirtuais : {},
                form: new Form({
                    id: '',
                    coordenadas: []
                }),
                search: '',
                verificaCoordenada: false
            }
        },

        methods: {
            getData(){
                this.isLoading = true
                this.form.reset()
                axios.get(`/api/cercas-virtuais/${this.$route.params.id}`)
                .then(({data}) => {
                    this.form.id = data[0].idunico
                    this.isLoading = false
                })
                .catch((err) => {
                    this.isLoading = false
                    toast({
                        type: 'error',
                        title: 'Algo de errado aconteceu, por favor entre em contato com o suporte!'
                    })

                    console.log(err)
                })
            },

            create(){
                crud.create(this, 'cercas-virtuais')
            },

            update(){
                crud.update(this, 'cercas-virtuais')
            },

            getCoords() {
                let dia = moment().format('d') 
                axios.get(`/api/mapauxiliar/${dia}`).then(data => {
                    this.form.coordenadas = data.data
                    
                    if (this.form.coordenadas)
                        this.verificaCoordenada = true  
                    
                    console.log(this.form.coordenadas);
                })
            },
            getCercas() {
                axios.get(`/api/cercas-virtuais/${this.$route.params.id}`).then(data => {
                    this.form.coordenadas = data.data
                })
            },

           
        },
        created() {
            if(this.editmode) {
                this.getData()
                this.getCercas()
            }
        }
    }
</script>
