<template>
    <div>
        <not-found v-if="!$gate.isCercasVirtuaisVisualizar()"></not-found>
        <template v-else>
            <BreadcrumbsComponent principal="Cercasvirtuais"/>

            <div class="container-fluid mt--6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">Cercasvirtuais</div>
                            <!-- /.card-header -->
                            <div class="card-body">

                                <a  v-if="$gate.isCercasVirtuaisAdicionar()" v-bind:href="'/admin/cercas-virtuais/create'" class="btn btn-success btn-sm"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar </a>

                                <div class="form-inline my-2 my-lg-0 float-right">
                                    <div class="input-group">
                                        <input class="form-control" @keyup="searchit" v-model="search" type="search" placeholder="Buscar..." aria-label="Search">
                                        <span class="input-group-append">
                                            <button class="btn btn-info btn-icon" @click="searchit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="table-responsive">
                                    <table class="table">
                                        <VclTable v-if="loading" :columns="6" :rows="5"></VclTable>
                                        <tbody v-else>
                                        <tr>
                                            <th>#</th><th v-if="$gate.isMaster()">Empresas</th><th>Descricao</th><th>Ferramentas</th>
                                        </tr>
                                        <tr v-for="(item, index) in cercasvirtuais.data" :key="item.id">
                                            <td>{{ index + 1 }}</td>
                                            <th v-if="$gate.isMaster()">{{ item.empresas_name }}</th>
                                            <td>{{ item.descricao }}</td>
                                            <td>
                                                <a v-bind:href="'/admin/cercas-virtuais/' + item.idunico" title="Editar Post"><button class="btn btn-info btn-sm"><i class="fas fa-eye" aria-hidden="true"></i></button></a>
                                                <a v-if="$gate.isCercasVirtuaisEditar()" v-bind:href="'/admin/cercas-virtuais/' + item.idunico + '/edit'" title="Editar Post"><button class="btn btn-primary btn-sm"><i class="fas fa-edit" aria-hidden="true"></i></button></a>

                                                <button v-if="$gate.isCercasVirtuaisDeletar()" class="btn btn-danger btn-sm" @click="destroy(item.idunico, item.name)"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <pagination :data="cercasvirtuais" @pagination-change-page="pagination"></pagination>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    import BreadcrumbsComponent from '../../../components/menus/headers/BreadcrumbsComponent'
    import crud from '@components/crud'
    import { VclTable } from 'vue-content-loading';

    export default {
        components: {
            BreadcrumbsComponent, VclTable
        },

        data(){
            return {
                loading: true,
                editmode: false,
                cercasvirtuais : {},
                form: new Form({
                    id: '',
                    empresas_id: '',
                    users_id: '',
                    descricao: '',

                }),
                search: ''
            }
        },

        methods: {
            searchit: _.debounce(() => {
                Fire.$emit('searching');
            },1000),

            pagination(page = 1){
                this.loading = true
                axios.get(`/api/cercas-virtuais?page=${page}`)
				.then(response => {
					this.cercasvirtuais = response.data;
                    this.loading = false
				});
            },

            destroy(id, name){
                crud.delete(id, this, 'cercas-virtuais')
            },

            load(){
                axios.get('/api/cercas-virtuais').then(({ data}) => {
                    (this.cercasvirtuais = data)
                    console.log(data, 1);
                    this.loading = false
                });
            },

        },
        created() {
            Fire.$on('searching', () => {
                let query = this.search;
                axios.get(`/api/cercas-virtuais/findCercasvirtuais?q=${query}`)
                    .then((data) => {
                        console.log(data.data, 7777)
                      this.cercasvirtuais = data.data
                    });
            });

            this.load()

            Fire.$on('AfterCreate', () => {
                this.load()
            });

        }
    }
</script>
