<template>
    <div>
        <not-found v-if="!$gate.isColaboradoDispositivoVisualizar()"></not-found>
        <template v-else>
            <BreadcrumbsComponent principal="Dispositivo"/>

            <div class="container-fluid mt--6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">Dispositivo</div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <button v-if="this.user_dispositivo.permite_dispositivo == 'SEM_DISPOSITIVO_CADASTRADO'" class="btn btn-success btn-large" @click="create()"> Cadastrar Dispositivo</button>
                                
                                <h1 v-if="this.user_dispositivo.permite_dispositivo == 'AGUARDANDO'"> Seu dispositivo está sendo analizado por nosso setor de RH.</h1>
                            </div>
                            <!-- /.card-body -->
                          
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    import BreadcrumbsComponent from '@components/menus/headers/BreadcrumbsComponent'
    import crud from '@components/crud'
    import { VclTable } from 'vue-content-loading';

    export default {
        components: {
            BreadcrumbsComponent, VclTable
        },

        data(){
            return {
                loading: true,
                blockButton: true,
                dispositivo: {},
                user_dispositivo: user_dispositivo,
                form: new Form({
                    id: '',
                    empresas_id: '', 
                    users_id: '', 
                    finger_print: '', 
                    sistema_operacional: '', 
                    sistema_operacional_versao: '', 
                    dispositivo_para_acesso: '', 
                    navegador: '', 

                }),
                search: ''
            }
        },

        methods: {
            searchit: _.debounce(() => {
                Fire.$emit('searching');
            },1000),

            create(){
                swal({
                title: 'Atenção?',
                text: `Uma solicitação será enviada ao RH. Você receberá um email quando seu dispositivo estiver autorizado.`,
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sim!',
                cancelButtonText: 'Não, Cancelar',
                }).then((result) => {
    
                    if (result.value) {
                        crud.create(this, 'dispositivosautorizados', false)
                        
                        window.location.href = "https://www.app.pontodigitalapp.com.br/logout";
                        // window.location.href = "http://localhost:8000/logout";

                        this.blockButton = true
                    }
                })
            },

            load(){
                axios.get('/api/dispositivosautorizados/9999999999').then(({ data}) => {
                    (this.dispositivo = data)
                    this.loading = false
                });
            },

            getComputerCredentials() {
                var client = new ClientJS();
                this.form.finger_print = this.user_dispositivo.user_dispositivo.finger_print;
                this.form.sistema_operacional = client.getOS();
                this.form.sistema_operacional_versao = client.getOSVersion();
                this.form.dispositivo_para_acesso = client.isMobile() == true ? 'celular' : 'computador';
                this.form.navegador = client.getBrowser();
            }
        },
        created() {

            this.load()

            this.getComputerCredentials()

        }
    }
</script>
