<template>
    <div>
        <not-found v-if="!$gate.isRelatoriosVisualizar()"></not-found>
        <template v-else>
            <BreadcrumbsComponent principal="Chat"/>

            <div class="container-fluid mt--6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">Chat</div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="form-inline my-2 my-lg-0 float-right">
                                    <div class="input-group">
                                        <input class="form-control" @keyup="searchit" v-model="search" type="search" placeholder="Buscar..." aria-label="Search">
                                        <span class="input-group-append">
                                            <button class="btn btn-info btn-icon" @click="searchit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="row">
                                    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                        <div class="form-group">
                                            <label for="created_at" class="control-label">Tipo</label>
                                            <select class="form-control" data-toggle="select">
                                                <option>Selecione</option>
                                                <option>Folha de Ponto</option>
                                                <option>Horas Extras</option>
                                                <option>Banco de Horas</option>
                                                <option>Ponto com localização (exclusivo para assinantes)</option>
                                                <option>Ponto com observação (exclusivo para assinantes)</option>
                                                <option>Acumulado (exclusivo para assinantes)</option>
                                                <option>Faltas (exclusivo para assinantes)</option>
                                                <option>Correções e lançamentos manuais (exclusivo para assinantes)</option>
                                                <option>Ocorrências (exclusivo para assinantes)</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                        <div class="form-group">
                                            <label for="created_at" class="control-label">Colaboradores</label>
                                            <select class="form-control" data-toggle="select">
                                                <option value="">pei</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                        <div class="form-group">
                                            <label for="created_at" class="control-label">Início</label>
                                            <br>
                                            <datetime value-zone="local" zone="local" type="date" v-model="form.inicio" format="dd/MM/yyyy"></datetime>
                                        </div>
                                    </div>
                                    
                                    <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                        <div class="form-group">
                                            <label for="created_at" class="control-label">Fim</label>
                                            <br>
                                            <datetime value-zone="local" zone="local" type="date" v-model="form.fim" format="dd/MM/yyyy"></datetime>
                                        </div>
                                    </div>

                                    

                                </div>
                            </div>
                            <!-- /.card-body -->
                            <!-- <div class="card-footer">
                                <pagination :data="colaboradores" @pagination-change-page="pagination"></pagination>
                            </div> -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    import BreadcrumbsComponent from '@components/menus/headers/BreadcrumbsComponent'
    import crud from '@components/crud'
    import { VclTable } from 'vue-content-loading';

export default {
    components: {
        BreadcrumbsComponent, VclTable
    },

    data(){
        return {
            loading: true,
            colaboradores: [],
            form: new Form({
                id: '',
                empresas_id: '', 
                users_id: '', 
                mensagem: '', 

            }),
            search: ''
        }
    },

    methods: {
        searchit: _.debounce(() => {
            Fire.$emit('searching');
        },1000),

        pagination(page = 1){
            this.loading = true
            axios.get(`/api/colaboradorchats?page=${page}`)
            .then(response => {
                this.colaboradores = response.data;
                this.loading = false
            });
        },
    },

    created() {
        Fire.$on('searching', () => {
            let query = this.search;
            axios.get(`/api/colaboradorchats/findChat?q=${query}`)
                .then((data) => {
                    this.chat = data.data
                });
        });
    }
}

</script>