<template>
    <div>
        <VclBulletList :rows="1" v-if="isLoading"></VclBulletList>
        
        <form v-else @submit.prevent="editmode ? update() : create()">

            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="form-group">
                    <label for="title" class="control-label">Dia</label>
                    <select
                        name="dia_jornada" 
                        v-model="form.dia_jornada"
                        v-bind:disabled="is_readonly"
                        class="form-control"
                        :class="{ 'is-valid': form.errors.has('dia_jornada')}"
                    >   
                        <option value="">Selecione</option>
                        <option v-for="dia_jornada in diasJornadaList" v-bind:key="dia_jornada.id" v-bind:value="dia_jornada.id + '-' + dia_jornada.dias_jornada">{{ dia_jornada.dias_jornada }}</option>
                    </select>
                    <has-error :form="form" field="dia_jornada"></has-error>
                </div>
            </div>

            <div class="modal-footer">
                <router-link to="/admin/dispositivos-autorizado" class="btn btn-primary btn-neutral">Voltar</router-link>
                <template v-if="!is_readonly">
                    <button v-show="!editmode" type="submit" class="btn btn-primary">Salvar</button>
                    <button v-show="editmode" type="submit" class="btn btn-primary">Editar</button>
                </template>
            </div>
        </form>
    </div>
</template>

<script>
    import crud from '@components/crud'
    import { VclBulletList } from 'vue-content-loading';

    export default {
        props: {
            is_readonly: Boolean,
            loading: Boolean
        },

        components: {
            VclBulletList
        },

        data() {
            return {
                isLoading: this.loading,
                editmode: this.$route.params.id ? true : false,
                dispositivosautorizado : {},
                form: new Form({
                    id: '',

                }),
                search: ''
            }
        },

        methods: {
            getData(){
                this.isLoading = true
                this.form.reset()
                axios.get(`/api/dispositivosautorizados/${this.$route.params.id}`)
                .then(({data}) => {
                    (this.form.fill(data))
                    this.isLoading = false
                })
                .catch((err) => {
                    this.isLoading = false
                    toast({
                        type: 'error',
                        title: 'Algo de errado aconteceu, por favor entre em contato com o suporte!'
                    })

                    console.log(err)
                })
            },

            create(){
                crud.create(this, 'dispositivosautorizados')
            },

            update(){
                crud.update(this, 'dispositivosautorizados')
            }
        },
        created() {
            if(this.editmode) {
                this.getData()
            }
        }
    }
</script>
