<template>
    <div>
        <not-found v-if="!$gate.isDispositivosAutorizadosVisualizar()"></not-found>
        <template v-else>
            <BreadcrumbsComponent principal="Dispositivos Autorizados"/>

            <div class="container-fluid mt--6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">Dispositivos Autorizados</div>
                            <!-- /.card-header -->
                            <div class="card-body">

                                <router-link to="/admin/dispositivos-autorizado/create" class="btn btn-success btn-sm"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar </router-link>

                                <div class="form-inline my-2 my-lg-0 float-right">
                                    <div class="input-group">
                                        <input class="form-control" @keyup="searchit" v-model="search" type="search" placeholder="Buscar..." aria-label="Search">
                                        <span class="input-group-append">
                                            <button class="btn btn-info btn-icon" @click="searchit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="table-responsive">
                                    <table class="table">
                                        <VclTable v-if="loading" :columns="6" :rows="5"></VclTable>
                                        <tbody v-else>
                                        <tr>
                                            <th>#</th>
                                            <th v-show="$gate.isMaster()">Empresas</th>
                                            <th>Colaborador</th>
                                            <th>S.O</th>
                                            <th>Versão</th>
                                            <th>Dispositivo</th>
                                            <th>Navegador</th>
                                            <th>Data de Cadastro</th>
                                            <th>Ferramentas</th>
                                        </tr>
                                        <tr v-for="(item, index) in dispositivosautorizado.data" :key="item.id">
                                            <td>{{ index + 1 }}</td>
                                            <td v-show="$gate.isMaster()">{{ item.empresa_name }}</td>
                                            <td>{{ item.user_name }}</td>
                                            <td>{{ item.sistema_operacional }}</td>
                                            <td>{{ item.sistema_operacional_versao }}</td>
                                            <td>{{ item.dispositivo_para_acesso }}</td>
                                            <td>{{ item.navegador }}</td>
                                            <td>{{ item.created_at | myDate }}</td>
                                            <td>
                                                <template v-if="$gate.isDispositivosAutorizadosEditar()">
                                                    <button v-if="item.status == true" class="btn btn-success btn-sm" @click="alteraStatus(item.id)"><i class="fa fa-thumbs-up"></i> Ativado</button>
                                                    <button v-else class="btn btn-danger btn-sm" @click="alteraStatus(item.id)"><i class="fa fa-thumbs-down"></i> Desativado</button>
                                                </template>
                                                <template v-else>
                                                    <button v-if="item.status == true" class="btn btn-success btn-sm" disabled><i class="fa fa-thumbs-up"></i> Ativado</button>
                                                    <button v-else class="btn btn-danger btn-sm" disabled><i class="fa fa-thumbs-down"></i> Desativado</button>
                                                </template>


                                                <router-link v-bind:to="{ path: '/admin/dispositivos-autorizado/' + item.id }" title="Editar Post"><button class="btn btn-info btn-sm"><i class="fas fa-eye" aria-hidden="true"></i></button></router-link>
                                                <!-- <router-link v-if="$gate.isDispositivosAutorizadosEditar()" v-bind:to="{ path: '/admin/dispositivos-autorizado/' + item.id + '/edit' }" title="Editar Post"><button class="btn btn-primary btn-sm"><i class="fas fa-edit" aria-hidden="true"></i></button></router-link> -->
                                                <button v-if="$gate.isDispositivosAutorizadosDeletar()" class="btn btn-danger btn-sm" @click="destroy(item.id, item.name)"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <pagination :data="dispositivosautorizado" @pagination-change-page="pagination"></pagination>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    import BreadcrumbsComponent from '@components/menus/headers/BreadcrumbsComponent'
    import crud from '@components/crud'
    import { VclTable } from 'vue-content-loading';

    export default {
        components: {
            BreadcrumbsComponent, VclTable
        },

        data(){
            return {
                loading: true,
                editmode: false,
                dispositivosautorizado : {},
                form: new Form({
                    id: '',
                    empresas_id: '', 
                    users_id: '', 
                    ip: '',

                }),
                search: ''
            }
        },

        methods: {
            searchit: _.debounce(() => {
                Fire.$emit('searching');
            },1000),

            pagination(page = 1){
                this.loading = true
                axios.get(`/api/dispositivosautorizados?page=${page}`)
				.then(response => {
					this.dispositivosautorizado = response.data;
                    this.loading = false
				});
            },

            alteraStatus(id) {
                this.form.put(`/api/dispositivosautorizados/alterastatus/${id}`)
                    .then(res => {
                            console.log(res.data, 'then update');

                        toast({
                            type: 'success',
                            title: 'Sucesso!'
                        })

                        // _this.form.reset()

                        Fire.$emit('AfterCreate')
                    })
                    .catch((err) => {
                        toast({
                            type: 'error',
                            title: 'Algo de errado aconteceu!'
                        })

                        console.log(err)
                    })
            },

            destroy(id, name){
                crud.delete(id, this, 'dispositivosautorizados')
            },

            load(){
                axios.get('/api/dispositivosautorizados').then(({ data}) => {
                    (this.dispositivosautorizado = data)
                    this.loading = false
                });
            },

        },
        created() {
            Fire.$on('searching', () => {
                let query = this.search;
                axios.get(`/api/dispositivosautorizados/findDispositivosAutorizado?q=${query}`)
                    .then((data) => {
                      this.dispositivosautorizado = data.data
                    });
            });

            this.load()

            Fire.$on('AfterCreate', () => {
                this.load()
            });

        }
    }
</script>
